[2021-08-20 04:14] kenziy opened #231 "Subdomain takeover via wix.com"
## Service name
https://www.wix.com/

## Proof
![Screenshot from 2021-08-20 11-48-00](https://user-images.githubusercontent.com/11043604/130177231-d4f4dcb8-d798-431f-979f-c94bc9032d90.png)

#Fingerprint
Looks Like This Domain Isn't Connected To A Website Yet!

#Steps

1. Register to wix
2. Create a new site
3. Publish > Connect your own customized domain (Need premium account)
![Screenshot from 20

[2021-08-20 11:24] aliyugombe opened #232 "Is takeover possible to domain pointed to queue-it.net"
## Service name
I don't know the service, but it pointed to queue-it.net

## Proof
404
We're sorry...
The page you are looking for cannot be found.

## Documentation
Is takeover possible to domain pointed to queue-it.net, if yes what is the service?
![Screenshot at 2021-08-20 00-24-15](https://user-images.githubusercontent.com/77775693/130226285-c0683a93-c8ad-4c77-be6c-cb0d2467ae70.png)

[2021-08-21 03:31] Linuxinet commented on #40
How can create subdomain
something.netlify.com but in netlify it giving only **.netlify.app

How can move further??

[2021-08-23 10:38] Shoaib18 commented on #146
is marketo subdomains vulnerable??

[2021-08-25 10:13] technicaljunkie commented on #36
How can we find such type of subdomains?

[2021-08-25 10:46] knowthetech commented on #36
@technicaljunkie which kind?

[2021-08-25 11:07] technicaljunkie commented on #36
No Such Bucket

[2021-08-25 11:08] technicaljunkie commented on #36
Which we are able to takeover and then report them?

[2021-08-26 17:36] swethaam opened #233 "can i takeover subdomain pointing to something.mktoweb.com"
I have a subdomain whose CNAME Is pointing to something.mktoweb.com, the A record redirects me appname.marketo.com/login page. Is it possible to takeover such a subdomain. I dont find any way to create an accountin marketo.com . any help is much appreciated !

[2021-08-27 06:53] Shoaib18 opened #234 "Is cname.bitly.com is vulnerable to Subdomain takeover?"

[2021-08-30 09:50] darkpills opened #235 "Getresponse.coom vulnerable to subdomain takeover"
## Service name
GetResponse - https://www.getresponse.com/

## Vulnerable domain which can be takeover
![image](https://user-images.githubusercontent.com/209987/131318854-5435af63-9d24-4c35-86db-6b035aebddae.png)

Fingerprint: "Cette landing page n'est plus disponible" (FR)

## Steps to takeover
1. Register an account on https://www.getresponse.com/
2. Create a new domain : My Account > Manage acc

[2021-08-30 13:31] cyberbharathi commented on #68
Hello @EdOverflow I have try this similar way and my target vulnerable to this way. Can I report it to the Vendor as Github Subdomain takeover? and it could be a valid issue?

[2021-09-04 15:28] blackcodersec commented on #183
are you takeover any subdomain? Do you have any poc?

[2021-09-04 21:50] pdelteil commented on #40
So, I don't think is possible to perform the take over of a netlify account:

I had this case everybodywins.adobe.com

[code]

You can't  create a domain everybodywins.netlify.app. It gives you

![Screenshot from 2021-09-04 17-48-12](https://user-images.githubusercontent.com/20244863/132108842-552a0b16-d0fe-4b13-a785-5ff7f4dd0f6d.png)

If you try to add a custom domain everybodywins.adobe.com, you

[2021-09-06 09:34] Techbrunch commented on #40
I just managed to takeover a sudomain:

[code]

I just created a new app in Netlify and setup the domain.

[2021-09-07 11:19] teslatheg0d commented on #38
Heroku is not vulnerable

Edge Case Only

[2021-09-09 13:59] m0chan commented on #48
This is no longer possible, requires TXT verification.

[2021-09-10 15:36] Dum7c commented on #24
Is there an up-to-date way to get around the $50 payment?

[2021-09-10 17:29] pdelteil commented on #24
Reach me over twitter if you need to test a takeover

[2021-09-16 06:28] pdelteil commented on #35
Still possible to takeover domains that point to:

- NAME.ZONE.cloudapp.azure.com (e.g. dev.centralus.cloudapp.azure.com)
- NAME.azurewebsites.net (eg. testing.azurewebsites.net)

[2021-09-19 06:44] StefanTobler opened #236 "Subdomain Takeover Pointing to Blogger"
## Blogger

## Proof

<img width="517" alt="Screen Shot 2021-09-19 at 2 38 30 AM" src="https://user-images.githubusercontent.com/22108632/133918245-955c2fe5-a7e9-491c-83ea-fb32d2d5b0e2.png">

## Documentation

Dangling (sub)domains that point to ghs.google.com usually point to a Blogger instance. However, this subdomain cannot be taken over because Blogger requires a security CNAME record for a do

[2021-09-24 15:57] raladev commented on #183
Summary for 2021:
U can takeover mashed.potato.com only if potato.com is not used in the account of the victim, otherwise, u will get Already owned err.

[2021-09-24 19:36] highseobacklink opened #237 "Flexbe Takeover"
## Service name
Flexbe Build Awesome Websites for Your Business

## Proof
title : Domain isn't configured
1. create account
2. setup website
3. go to settings ? dmoain
3. add domain
4. done

![Screenshot_93](https://user-images.githubusercontent.com/77636302/134730650-665f117f-b66d-440b-b387-0ab4cdd5b2e6.png)
![Screenshot_94](https://user-images.githubusercontent.com/77636302/134730656-f4a24a81-87

[2021-09-24 19:37] highseobacklink commented on #237
how to find sites that can be taken over, visit : https://spyse.com/target/ip/37.200.71.245/hosted-domains?target=domain&search_params=%5B%7B%22dns_a%22%3A%7B%22operator%22%3A%22eq%22,%22value%22%3A%2237.200.71.245%22%7D%7D,%7B%22http_extract_status_code%22%3A%7B%22operator%22%3A%22eq%22,%22value%22%3A%22404%22%7D%7D%5D

[2021-10-04 09:01] MeTLIND opened #238 "soft98.ir"
## Service name

## Proof

## Documentation

[2021-10-05 18:13] pdelteil commented on #24
I think it's not possible to perform this take over anymore.

![Screenshot from 2021-10-05 15-04-32-2](https://user-images.githubusercontent.com/20244863/136079459-6344aefc-8df8-4db6-baee-43fed594e521.png)

[2021-10-08 08:23] PR3R00T commented on #35
Theres two parts to these types of subdomain takeovers, Firstly the  {{something}}.azurewebsites.net registration. This is the creation of the service which in your case has been done by someone.

Secondly once you have created the service you must link the vulnerable subdomain  {{something}}.example.com as a "custom domain" In this case, this has not been done.

Unfortunately this case you cannot

[2021-10-10 09:57] Youghourta-ghennai commented on #235
is it still vulnerable , because i tried this way and i was not able to takeover the subdomain .

[2021-10-20 20:39] diophant0x opened #240 "Subdomain Takeover via Tumblr"
## Service name
Tumblr

## Fingerprint
A source domain has a DNS entry that points to Tumblr, however no active blog is associated with the domain.

DNS Record: `CNAME domains.tumblr.com.`
HTTP Response Status: `404 Not Found`
HTTP Response Body: `Whatever you were looking for doesn't currently exist at this address`

Verification:
```curl -s -N http://$SOURCE_DOMAIN_NAME | grep -E -q "Whatever yo

[2021-10-21 07:48] domainhigh commented on #240
thanks

[2021-10-30 22:34] abd525 commented on #35
Can anyone guide me how to takeover a domain cnamed like xxxxx.westus.cloudapp.azure.com
The region part "westus" got me confused , and the domain return NXDOMAIN result >>unclaimed .

Any help plz ?

[2021-10-30 22:37] PR3R00T commented on #35
@abd525 Check out https://cystack.net/research/subdomain-takeover-chapter-two-azure-services - section - Virtual Machine.

[2021-10-31 03:42] lesleyditlhotlhole opened #242 "Flywheel"
## Service name
Flywheel

## Proof
- https://smaranchand.com.np/2021/06/flywheel-subdomain-takeover/

[2021-10-31 18:02] Saviopb opened #243 "stripe.com."
## Service name

## Proof

## Documentation

[2021-10-31 18:06] savinnsk opened #244 "stripe.com."

[2021-11-01 03:01] pdelteil commented on #244
Any details to share?

[2021-11-04 17:32] Sim4n6 commented on #36
Hi,

I've got the fingerprint `The specified bucket does not exist` However, when I `dig` for dns records using `dig +nocmd +noall +answer CNAME sub.domain.com` I get nothing on CNAME record ?

Does it mean some measures have already been taken ? can I take it over ?

Thank you in advance

[2021-11-04 17:34] GDATTACKER-RESEARCHER commented on #36
Try ping to know region and in case of subdomain  not necessary you usually  see them clear when firewall being used

[2021-11-04 20:17] Sim4n6 commented on #36
Do you mean `traceroute`?

[2021-11-04 20:19] GDATTACKER-RESEARCHER commented on #36
@Sim4n6 no i mean ping sub.site.com

[2021-11-05 06:55] Sim4n6 commented on #36
Well, either dig or ping got me the IP address. And it is located in Zurich. Now the question is the bucket name is unknown.

[2021-11-05 06:56] Sim4n6 commented on #36
CNAME of sub.domain.com does not show a domain of format ^[a-z0-9\.\-]{0,63}\.?s3.amazonaws\.com$

But curl -v does return the fingerprint.

[2021-11-08 04:36] smaranchand commented on #220
Hi everyone,
Here is the confirmation. https://twitter.com/Itumeleng_Les/status/1454532272271601668

[2021-11-08 14:15] Sim4n6 commented on #36
I've got the bucket name, so unfortunate the name is already taken  😕😕

[2021-11-10 08:51] vijithvellora opened #245 "Wix.com - not Vulnerable"
## Service name

Wix.Com - Not vulnerable.

## Proof

![xyz takeover not possible for wix](https://user-images.githubusercontent.com/53208145/141080664-ac37ad85-6aba-48cd-a4c5-65eac2bd87ff.png)

If the domain is already parked in wix.com, then it's not possible to take over that.

## Documentation

No documentations found,

[2021-11-12 17:38] EdOverflow commented on #245
Closing in favour of https://github.com/EdOverflow/can-i-take-over-xyz/issues/231.

[2021-11-12 17:38] #245 closed

[2021-11-15 01:33] yitingfan1026 commented on #147
i created a python platform and uploaded a sample flask application. Refer to this: https://medium.com/analytics-vidhya/deploying-a-flask-app-to-aws-elastic-beanstalk-f320033fda3c

[2021-11-17 09:53] nv1t opened #246 "Alchemer.com - needs testing"
## Service name
Alchemer

It is the follow up from Surveygizmo. (Issue #157) The same should work here, but it needs thorough testing if anybody has a paid account.

## Documentation
https://help.alchemer.com/help/set-up-a-private-domain
* For US Accounts your CNAME must point to privatedomain.alchemer.com
* For EU Accounts your CNAME must point to privatedomain.alchemer.eu
* For Canada Accounts y

[2021-11-17 17:59] nv1t opened #247 "AWS API-Gateway"
## Service name
AWS API-Gateway
To call a deployed API, clients submit requests to the URL for the API Gateway component service for API execution, known as `execute-api`.

https://docs.aws.amazon.com/en_en/apigateway/latest/developerguide/how-to-call-api.html

## Documentation

The AWS API-Gateway is called with a `restapi_id`. This ID cannot be changed and is random, as far as I know.
[code]

I

[2021-11-18 12:41] onuncukoy-dot commented on #147
for poc  `https://www.youtube.com/watch?v=sybZlA6lUns`

[2021-11-19 13:17] szd commented on #44
Hi everyone,

Just manage to takeover several subdomains on the same target (H1 private prgm) and I have a theory explaining some false positive.

I observed a webflow 404 on several subdomains of my target:

- aaa.victim.com
- bbb.victim.com
- ccc.victim.com

Webflow let me add these subdomains on my dummy website but unfortunately, when I visit them, still got webflow 404.

I thought it was fals

[2021-11-25 03:55] sabatech44 opened #248 "http://www.marriott.com"
## Service name

## Proof

## Documentation

[2021-11-25 05:02] pdelteil commented on #248
@sabatech44, what's the issue here?

[2021-11-25 20:25] pdelteil commented on #44
@szd,

Thanks for your detailed explanation.

[2021-11-25 22:38] pdelteil commented on #246
What is the fingerprint to detect it ?  NXDOMAIN error?

[2021-11-29 13:59] nv1t commented on #246
It is not a NXDOMAIN, as it always points to privatedomain.alchemer(-ca).x

If the subdomain does not exist in the system it tries to redirect to surveygizmo.com apparently. I have not seen a correct working redirect yet.

![2021-11-29-145842_489x234_scrot](https://user-images.githubusercontent.com/1524118/143881145-0aaeba63-862c-415d-a13c-6842052629c2.png)

[2021-11-30 17:37] pdelteil commented on #246
It's not vulnerable.

![Screenshot from 2021-11-30 11-30-36](https://user-images.githubusercontent.com/20244863/144098827-508c5f21-ed57-425b-863c-dcbb0e4039e7.png)

[2021-12-02 10:35] PreethamBomma commented on #35
I recently took over a `azure-api.net` successfully :)

[2021-12-02 18:24] pdelteil commented on #35
How? Describe the steps!

[2021-12-07 19:54] pdelteil commented on #170
I just found a case where I couldn't take the subdomain:

[code]
And then

![Screenshot from 2021-12-07 14-52-31](https://user-images.githubusercontent.com/20244863/145096850-8d8d2bc2-ac6d-427f-b3c6-47802ecdd514.png)

[2021-12-14 17:48] s41n1k commented on #35
Hello,
### dig -t A lockscreenapi.example.com

I found azure CNAME looks below.
[code]

If I create app services with **lockscreenapi** then I got a **domain ownership** problem.
![verification-error-cname](https://user-images.githubusercontent.com/64774009/146052128-45fd1e46-1e3f-4ea4-9ffa-1946c094d416.png)

If I create an app service with **lockscreen** then it's saying not available. Which name

[2021-12-15 08:52] vionde commented on #22
Just made a takeover.

Target was `test.target.com`

When i open URL, it says
`Fastly error: unknow domain: test-example.s3.amazonaws.com. Please check that this domain has been added to a service. Details: cache-blalala`

1. Create new delivery service
2. Name `test-example.s3.amazonaws.com`
3. Host is my VPS

Worked

[2021-12-15 08:52] Captain0X commented on #22
&lt;p title=” </noscript>
<style onload= alert(document.domain)//"> *{/*all*/color/*all*/:/*all*/#f78fb3/*all*/;} </style>
.qmbox .qmbox .qmbox *{color:#f78fb3;}

[2021-12-18 03:30] monizb commented on #231
Can I please have your account for a test?

[2021-12-21 06:20] arthur4ires commented on #44
I just confirmed here, I managed to claim domains in a pentest.

[2021-12-21 18:31] Phoenix1112 commented on #24
@pdelteil Although a site using pantheon does not have the word "dev" in its cname, this subdomain adds "dev-" to the beginning when I take over the address. what is the reason of this?

[2021-12-22 05:51] pdelteil commented on #24
I don't really know, that seems to be new on the site.

[2021-12-22 19:42] niemand-sec commented on #24
Is this still possible? I have access to the Basic subscription, however, I'm getting the error:

[code]

Maybe the company has an enterprise subscription with the domain that causes this error?

[2021-12-24 18:41] pdelteil commented on #24
Hello, I haven't tried lately.  If you can't add a specific domain doesn't mean you can't add others.

[2021-12-26 13:51] Nitczi commented on #22
Any updates? I've found a error page on a program Bug Bounty but when i going to create, it returns the message:
`Domain 'blahblah.com' is already taken by another customer`

[2021-12-26 22:27] m7mdharoun commented on #22
This mean `blahblah.com` Not Vulnerable to takeover.

[2021-12-28 12:58] Abhaysoft-inc commented on #37
I was still able to takeover a domain

[2021-12-29 12:48] niemand-sec commented on #24
Thanks for the answer @pdelteil , what do you mean with others? Despite of not being able to add `vuln.company.com`, what would be the purpose of adding `not-vuln.company.com`. I would really appreciate if you could explain further.

Thanks!

[2021-12-30 16:41] pdelteil commented on #24
Want I meant is, if one domain is not vulnerable doesn't mean other domains are not vulnerable. You just need to try them all.

[2021-12-30 20:55] TheElgo64 commented on #235
Hmmm, not vulnerable now.
30/12/2021

[2021-12-31 16:24] darkpills commented on #235
I remember I could not make the association between the vulnerable domain with the admin interface, I had to open a ticket to the support to make them associate the domain even if it is not associated with any customer.

[2022-01-04 12:03] PreethamBomma commented on #35
Hi @pdelteil

Login to the portal and search for `Api Management` and select `Create API Managemetn` and configure accordingly - region, name, etc. It does take about 30-40 mins to be deployed though.

[2022-01-04 18:25] pdelteil commented on #35
Thanks, I will give it a try.

[2022-01-06 13:56] MrWouterNL commented on #46
I would like to add that I've recently had a subdomain takeover on Shopify as well.

[2022-01-13 11:27] mohamed-faris opened #251 "UNbounce"
## Service name

## Proof

## Documentation

[2022-01-13 11:37] mohamed-faris commented on #11
so Unbounce not a vuln ?

[2022-01-13 14:26] shebi4 commented on #35
cname *.trafficmanager.net are vuln or not ?

[2022-01-13 15:08] GDATTACKER-RESEARCHER commented on #36
Got this errror solved in some of my takeovers

[2022-01-13 16:35] shebi4 commented on #35
can any one tell me cname *.trafficmanager.net is vuln or not ???

[2022-01-14 13:42] orxanovn opened #252 "interstitials.travelproducts.jetblue.com"
## Service name

## Proof

## Documentation

[2022-01-15 12:41] xclow3n opened #253 "Is a CNAME to impactradius.com returning 404 Vulnerable"
I founded a domain pointing to "domain.xyz.impactradius.com" and giving this response "The link you clicked on is malformed. Contact the editor of the originating page." with 404 status. have anyone founded something like? Is this is vulnerable in any way. I tried registering on it but before verifying my bussiness i can't do anything

[2022-01-17 09:04] #253 closed

[2022-01-17 17:24] jet-blue opened #254 "e.ssl.shopify.com"
## Service name

## Proof

## Documentation

[2022-01-19 02:23] cdev95 commented on #35
I've come across some subs and one of them points to an azurewebsites instance that I successfully took over. However, this host points to something under *.windows.net, which then points to a *.cloudapp.azure.com instance. I've confirmed that the A record updated with the IP of the trafficmanager instance but for some reason chrome returns ERR_NAME_NOT_RESOLVED. Is this because of domain verifica

[2022-01-20 08:17] Abhaysoft-inc commented on #11
no bro

[2022-01-22 13:48] xqd-ai commented on #35
It seems taking over xyz.cloudapp.net subdomains is no longer possible, at least using new deployments, maybe someone who already have the old Azure Cloud Servce (classic) running can change it's url to the dangled DNS name

[2022-01-25 01:04] r0kit commented on #38
It looks like `*.herokuapp.com` is not vulnerable anymore.

The scenario:
[code]
I took over `x.vulnerable.herokuapp.com`. However, when navigating to `x.vulnerable.com`, the HTTP `Host` header would be set to `x.vulnerable.com`. Heroku would then route to request to the `Application Error` page. However, when sending the request with the HTTP `Host` header set to `x.vulnerable.herokuapp.com`, Her

[2022-01-25 01:09] r0kit commented on #35
Yup, these are still vulnerable. I was able to take over one today.

[2022-01-25 17:50] pdelteil commented on #35
Hello,

Can you provide more information ?

[2022-01-25 22:42] r0kit commented on #35
1. Login to your Azure console
2. Create a traffic manager profile, and enter the name of the domain you wish to take over.
![image](https://user-images.githubusercontent.com/6740119/151071161-028e24d3-4018-4f6e-85f3-7a74069ab3cd.png)

3. Open the traffic manager profile you created, and add an external endpoint with an IP pointing to your VPS. The idea is that all traffic will be load balanced to

[2022-01-26 15:12] maxbutlervision commented on #71
https://medium.com/@moSec/how-i-hacked-thousand-of-subdomains-6aa43b92282c
guy picked up bounties based on this bug which was vulnerable contrary to what was said here. (not criticizing, just pointing it out)

[2022-01-27 11:15] Abdullah-4fg commented on #29
Hello ,
Is it possible to takeover a website with only one following CNAME , e.g,
CNAME : xxxxxxxxxx.cloudfront.net

Consider that the website as well as CNAME , both returns 'DNS_PROBE_FINISHED_NXDOMAIN' error !
Is takeover possible ?steps ?

[2022-01-31 03:17] irtazahabib2020 commented on #142
ASD

[2022-01-31 04:14] ahsanazhar2131 commented on #103
fg

[2022-01-31 04:14] ahsanazhar2131 commented on #103
fhg

[2022-02-01 12:39] FUCKGITHUBS commented on #103
??

[2022-02-02 06:01] jan-muhammad-zaidi commented on #183
This can be closed as Edge-case

[2022-02-03 07:06] NikhilkaushikOp opened #255 "How can I takeover cloudapp.azure.com services"
After reading https://cystack.net/research/subdomain-takeover-chapter-two-azure-services also I was not able to get what to do . Can anyone tell me step to step process. It would be so helpful.

[2022-02-07 08:45] emptymalicious opened #256 "AWS IP TAKEOVER"
## Service name
AWS IP TAKEOVER

## Proof
NXDOMAIN
"this site can't be reached err_connection_timed_out"

IP behind the subdomain is an AWS IP

how can be detected?

## Documentation

[2022-02-07 10:14] M359AH commented on #183
It still vulnerable yesterday I takeover 2 subdomains and I've upload my index

[2022-02-07 10:25] jan-muhammad-zaidi commented on #183
@M359AH u took over mashed.potato.com  even when potato.com is already registered? If yes, please share how you managed to do that? Just curious :0

[2022-02-07 10:48] M359AH commented on #183
@jan-muhammad-zaidi

Hello Muhammed

I've found the subdomain I got this error page

![Screen Shot 2022-02-07 at 12 20 49 PM](https://user-images.githubusercontent.com/57077443/152773723-7c3c5a56-4d9d-4e4e-a0b6-ce6c9404fdb6.jpg)

* After it, I go to see the CNAME

<img width="880" alt="Screen Shot 2022-02-07 at 12 42 20 PM" src="https://user-images.githubusercontent.com/57077443/152773815-6b8149b8

[2022-02-07 11:11] jan-muhammad-zaidi commented on #183
How come it's not showing a domain already registered error? Like this
![image](https://user-images.githubusercontent.com/58605984/152777479-39cada26-5e47-46b2-a3af-96eceb908de8.png)

[2022-02-07 13:36] M359AH commented on #183
Hello @jan-muhammad-zaidi

I think your target is not vulnerable because It should be registered without an errors like my comment above

[2022-02-07 13:41] M359AH commented on #183
Your index should be uploaded like It:

<img width="1440" alt="Screen Shot 2022-02-07 at 3 38 12 PM" src="https://user-images.githubusercontent.com/57077443/152798869-0c606792-e8df-4309-a6c5-cdc9a1b2811d.png">

Sorry for my bad image edit 😅 😂 😂

[2022-02-08 11:21] jan-muhammad-zaidi commented on #183
@M359AH no issues with the edit though :P

[2022-02-12 22:05] ahmsabryy opened #258 "."
## Service name

## Proof

## Documentation

[2022-02-13 00:54] Nitczi commented on #35
CNAME to *.azureedge.net is vulnerable? If it is, can you provide how to do this?

[2022-02-14 07:41] basubanakar opened #259 "Gitbook Subdomain takeover"
## Service name : Gitbook

## Proof:
1:
![Screenshot (14)_LI](https://user-images.githubusercontent.com/50272190/153820545-b3f0936c-0267-4d6d-83ba-b872ef45f1d0.jpg)

2:
![Screenshot (17)_LI](https://user-images.githubusercontent.com/50272190/153820604-34293c4d-affa-429a-ad00-63ffe679ed03.jpg)

3:
![Screenshot (18)](https://user-images.githubusercontent.com/50272190/153820648-33565f80-6196-4c72-b81

[2022-02-14 21:45] pdelteil commented on #231
I can confirm this takeover still works. It's an edge case since there are conditions that allow the subdomain to be register in another account.

I did the take over on a particular subdomain and only worked, all the others (same program) didn't work.

[2022-02-15 22:54] lazywithcrazyness commented on #35
how can i claim azurewebsites.net this one

[2022-02-18 05:51] pablo2025 commented on #35
Hi everyone,
I found a sub domain with this content:
![82124335-1deeef80-97be-11ea-8bf2-59840c57c731](https://user-images.githubusercontent.com/99487288/154625558-475b7b98-d705-4ead-9e4a-c08a80bc6709.png)

I checked its CNAME. It is pointing to *.trafficmanager.net and the status is:

;; ->>HEADER<<- opcode: QUERY, status: NOERROR,

Is it possible to perform subdomain takeover in this case?

[2022-02-19 16:47] pdelteil opened #260 "Short.io takeover"
## Service name

Short.io

## Proof

![Screenshot from 2022-02-15 15-30-57](https://user-images.githubusercontent.com/20244863/154144202-bd394113-dddf-4f37-949b-396c4cd98f5a.png)

[code]

## Documentation

https://help.short.io/en/articles/4065825-general-subdomain-setup-instruction

[2022-02-19 20:22] pdelteil commented on #258
hey @ahmsabryy,

Can you add some data?

[2022-02-21 20:12] blackberry199 commented on #244
any update ?

[2022-02-22 12:11] Jikarsheikh opened #262 "http://"
## Service name

## Proof

## Documentation

[2022-02-22 12:12] #262 closed

[2022-02-24 11:16] OffensiveBugHunter commented on #92
I have a sundomain which is pointing to {{random-string}}.cname.{{zone}}.ngrok.io , the cname is showing the error - "Tunnel {{rngrok-cname}} not found" but the subdomain pointing to it is showing some else response which is - "No webpage was found {{domain name}}- (404)", so do you think this can be taken over? and how do you think I can takeover it, because there's a random string in the cname,

[2022-02-26 14:53] muhyuddin commented on #35
Have you found any solution for multi-level domain takeover? Facing the same problem.

[2022-02-26 19:30] sumgr0 commented on #35
Nope, not yet... Please share if you come across the solution.

Thanks

[2022-02-27 22:15] Abdullah-4fg commented on #24
Guys just dont ask this b*tch for help : @pdelteil
He will know the vulnersble domain from you , and try to block you for literally no valid reason !

[2022-02-27 22:18] pdelteil commented on #24
I won't tolerate abusive and rude behavior. I have helped many researchers, almost all of them were respectful and we agreed on the terms of the collaboration.

You insulting me describes very well your character.

[2022-02-27 22:33] Abdullah-4fg commented on #24
@pdelteil I regret asking for help from you..
All i needed to confirm whether the domain can be hosted or not (because i dont have pantheon professional account), of which i didnt get the answer ...Instead you asking for program details .?!

Since you know the domain name now, go ahead report it , i dont care now !

[2022-03-02 22:05] pdelteil commented on #225
It's a good idea. Why don't you add a column to the main page?

[2022-03-03 18:07] Notselwyn commented on #37
Still works. +1

Looks like it's kind of conditional because it can say that the domain is claimed

[2022-03-06 18:15] edgenask commented on #147
Hi there,
I found some cases of dangling dns entries (NXdomains) where the subdomains point to _xyz.elasticbeanstalk.com_ (without region). Environments deployed in elasticbeanstalk before 2016 had such dns naming format. So we cannot takeover these subdomains by creating a new environment. But there are some web apps still alive today which run under _xyz.elasticbeanstalk.com_ (some examples can

[2022-03-07 23:23] mufazmi commented on #22
Is there no way to bypass these errors..?

`Domain 'socialcodia.facebook.com' is already taken by another customer.`

![image](https://user-images.githubusercontent.com/34832943/157134737-53ee1afd-e605-4fbe-b62c-c876030cc466.png)

[2022-03-08 04:03] Captain0X commented on #22
this domain seems has register buy others
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "EdOverflow/can-i-take-over-xyz"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年3月8日(星期二) 上午7:23
***@***.***&gt;

[2022-03-08 20:16] pdelteil commented on #24
Hi, I don't longer have a paid account on Pantheon.

[2022-03-09 06:57] shivammusic commented on #35
Hey guys i found subdomain that pointing to A records ( IP address), is it vulnerable to takeover ?

<img width="1216" alt="Screenshot 2022-03-09 at 12 25 59 PM" src="https://user-images.githubusercontent.com/41016630/157388786-63a042fc-477c-48e1-a816-7eff0f2017d6.png">

[2022-03-12 00:25] Fadavvi commented on #186
I tried, but there are some requirements on the server-side that can't be done by bug bounty hunters / Attackers.

Requirements:
![2022-03-12 00_43_45-Window](https://user-images.githubusercontent.com/21213484/157994822-520c7c3c-8cda-458a-9dc3-f7a42c2fef46.jpg)

Failed request:
![2022-03-12 00_44_08-Window](https://user-images.githubusercontent.com/21213484/157995129-40b98d69-c9e3-43b6-baa3-ec877c

[2022-03-15 19:36] nobiittaaa opened #264 "Is cname at cdn77 vulnerable?"
found cname 1181595101.rsc.cdn77.org at some program. can i do subdomain takeover?

[2022-03-16 04:27] pdelteil commented on #260
I also added this [template](https://github.com/projectdiscovery/nuclei-templates/blob/master/takeovers/short-io.yaml) to nuclei.

[2022-03-16 04:29] pdelteil commented on #259
I also added a [template](https://github.com/projectdiscovery/nuclei-templates/blob/master/takeovers/gitbook-takeover.yaml) to find this subdomain takeover using nuclei.

[2022-03-16 04:31] pdelteil commented on #264
Can you provide more information?  (Error page for example)

Probably it's not vulnerable looks like a random number is used as an identifier to the account.

[2022-03-16 04:39] basubanakar commented on #259
Okay nice.

[2022-03-16 06:43] pdelteil commented on #240
This takeover has changed, to point to a custom domain the dns record needs to point to **domains.tumblr.com**.

As seen here:

![Screenshot from 2022-03-16 01-42-06](https://user-images.githubusercontent.com/20244863/158531648-5c5101e6-2356-4e5f-a955-42b02e24feff.png)

So, if the CNAME is different to domains.tumblr.com (probably old deployments) the target domain is **not** vulnerable.

[2022-03-16 18:15] 003random commented on #258
NFT takeover via dangling IPFS link? 😂

[2022-03-16 20:52] #258 closed

[2022-03-18 16:20] x1mdev commented on #44
I was able to claim a dangling Webflow subdomain just now; CNAME pointed from `sub.victim.com` to `proxy-ssl.webflow.com`. I've added the subdomain to my existing paid Webflow account, set it to Default and published content. Navigating to `sub.victim.com` confirms that my content is placed on the subdomain. It does not work if you set up a new project with Starter functionality; it will tell you

[2022-03-28 13:38] mohamed-faris commented on #22
ss

[2022-03-28 13:41] mohamed-faris commented on #22
I got the same page in TARGET.map.fastly.net

BUT I didn't understand your tips and I don't know where (Create new delivery service) and the other tips
can you please explain it more deeper
my Twitter:_2os5

[2022-03-28 13:41] Captain0X commented on #22
&lt;p title=” </noscript>
<style onload= alert(document.domain)//"> *{/*all*/color/*all*/:/*all*/#f78fb3/*all*/;} </style>
.qmbox .qmbox .qmbox *{color:#f78fb3;}

[2022-03-28 18:43] #244 closed

[2022-03-29 04:00] 0xElmalky commented on #35
now  i am working on subdomain  with this  record
![image](https://user-images.githubusercontent.com/49559166/160530254-42a4504d-4a3a-42e3-830c-23538029e74f.png)
and i had claimed it and make a website with same record
but it refused to add a new custom domain as below

![image](https://user-images.githubusercontent.com/49559166/160530451-0d9648f5-b960-4048-a2e4-daf1a31fb5eb.png)

i think the vuln

[2022-03-29 04:20] pdelteil commented on #35
Hello,

It's still vulnerable. Some domains would require domain ownership while others won't.

[2022-03-29 04:24] 0xElmalky commented on #35
my bad luck :-)

[2022-04-02 07:52] seeCURE commented on #44
Greetings @x1mdev,

Could you please elaborate on this, do you mean to say I need at least "Core" (Workspace) plan in order to make this work? I tried with the "Basic" (Site) plan which gave me the ability to add custom domain but it throws error saying "domain already in use".

![Capture2](https://user-images.githubusercontent.com/18595040/161372829-bd40ef1d-d1ed-4526-98d3-b08161202757.PNG)

![Ca

[2022-04-06 17:11] yassineaboukir commented on #92
Hi,

I don't think this is vulnerable, at least not anymore. I've got this instance: `xyz.ngrok.io` which shows:

[code]

I subscribed for a basic plan and tried to take it over but it was unavailable in US, only `xyz.eu.ngrok.io`, for example, would be up for grabs.

[2022-04-08 15:00] AkshayraviC09YC47 commented on #36
I was checking for subdomain takeover and got a s3 bucket which doesn't exists and confirmed the takeover vulnerability with subzy, but the problem is im not able to create bucket with the vulnerable domain name, its says, **Bucket with the same name already exists**, so how to takeover this bucket??

![eiTL45H29314](https://user-images.githubusercontent.com/58636452/162466679-927bf8aa-2740-49dc-b

[2022-04-10 12:37] mazin208 commented on #231
Does anyone has a premium account I can check with please?

[2022-04-11 15:26] mazin208 commented on #231
How can I know if another account has the domain without having premium account  😅💔

[2022-04-13 12:58] cyb3rsalih commented on #231
you have to buy 🤷‍♂️ You can request refund after trying. The monthly package is not so expensive i think :)

[2022-04-16 18:23] Elgllad99 commented on #37
how you can takeover yet I have some of the vulnerable URLs, if you can help me..

[2022-04-19 19:14] nirob0x commented on #145
yup , i also noticed that yesterday :+1:

[2022-04-21 19:50] Akincibor commented on #37
There is a new beta feature, every custom domain need to be verified. So Github is no more vulnerable.

[2022-04-21 19:53] Akincibor commented on #37
<img width="741" alt="Capture d’écran 2022-04-21 à 21 52 19" src="https://user-images.githubusercontent.com/99909324/164541836-d483aa91-b4cf-4921-a81b-43824523caeb.png">

https://docs.github.com/en/enterprise-cloud@latest/organizations/managing-organization-settings/verifying-or-approving-a-domain-for-your-organization

[2022-04-22 11:54] ikarann commented on #92
Not Vulnerable.

[2022-05-19 11:37] Abdullah-4fg commented on #44
Webflow subdomains is vulnerable to takeover only if the particular subdomain is not connected with any other webflow account.

Recently i was able to claim 4 subdomains pointing to webflow service among which three subdomain gave the following error :
![Before_(404_status)](https://user-images.githubusercontent.com/81921899/169279250-4f0d1a4d-2306-45a7-a085-d3666e1dacee.png)
If you come across th

[2022-05-19 11:38] Captain0X commented on #44
&lt;p title=” </noscript>
<style onload= alert(document.domain)//"> *{/*all*/color/*all*/:/*all*/#f78fb3/*all*/;} </style>
.qmbox .qmbox .qmbox *{color:#f78fb3;}

[2022-05-21 12:20] mrtechwill opened #266 "AZURE IS NOT VULNERABLE"
PLEASE UPDATE THIS I WASTED SO MUCH TIME

[2022-05-22 08:12] umar98 commented on #183
![Untitled](https://user-images.githubusercontent.com/42386653/169685319-16d81ad3-48ef-4322-97e7-35ceb7f8d0ba.png)

Any luck on how to do this?

[2022-05-23 21:48] 0xElmalky commented on #253
could you exploit this one ?

[2022-05-24 17:53] pdelteil commented on #266
You should create a Pull Request. Which Azure service is not vulnerable and why ?

[2022-05-25 00:30] pdelteil commented on #145
Hi, can you provide some more information?

Thanks.

[2022-05-28 17:51] Finlay1010 commented on #36
@soynek did you ever find a solution to this? If so, how did you fix it?

[2022-05-28 17:58] GDATTACKER-RESEARCHER commented on #36
Bucket region mismatch change region

[2022-05-28 18:00] GDATTACKER-RESEARCHER commented on #36
In your case us-west-2 is region

[2022-05-28 19:19] Finlay1010 commented on #36
@GDATTACKER-RESEARCHER how can you find out which one you need to change to out of the 22 options?

[2022-05-28 19:21] GDATTACKER-RESEARCHER commented on #36
Different ways depend on case by case bases by ping, other  buckets  in use by site, cname etc

[2022-05-28 23:41] Lferss commented on #147
I got your point, and have the same issue . how did you solve that?   Some dns have  xxx.xxx.us-west-2.elasticbeanstalk.com and aws console dont allow register as it is ...mmmhhh  who knows?

[2022-05-29 16:37] nhl0010 commented on #193
thanks

[2022-05-31 20:20] lappsec commented on #71
They now seem to require validation through adding a DNS record. I don't think takeover is still possible. If there's some way around the verification, I'm all ears.

[2022-06-05 10:31] MuhammadUsman-coder commented on #231
Anyone still got premium account ? I needed to test a few takeovers, cannot buy premium .
Thanks

[2022-06-08 18:00] Vivek170952 opened #267 "krisp.ai"
## Service name

## Proof

## Documentation

[2022-06-12 23:59] sabir789 commented on #152
Hi
How we can takeover corgocollective subdomain?
any resource?
i have found 3 subdomain that point to corgocollective.

[2022-06-16 15:07] zagrosbingol commented on #266
Depends on which service you are reffering to @mrtechwill

[2022-06-18 12:33] SandeepkrishnaS commented on #22
Is it still possible to takeover CNAME pointing to map.fastly.net? Eg : target.com --> target.com.map.fastly.net
Please provide steps if possible. I am getting only target.com.global.prod.fastly.net

[2022-06-18 19:12] m7mdharoun commented on #22
No you can only add `domain`  and Fastly choose the name for your domain.

Even you able to takeover ` target.com.map.fastly.net` Services won't Run until you add `Domain`

[2022-06-20 09:51] Fatmanpoc commented on #183
got same error...any clue on this?

[2022-06-20 18:27] kishu62000-H opened #268 "Cargo collective subdomain takeover"
Hello sir please reply
I got 404 page not found
404 Not Found
Code: NoSuchKey
Message: The specified key does not exist.
Key: index.html
RequestId:
HostId:
Code: NoSuchKey
Message: The specified key does not exist
Key:

All details i got and also got host id and requested it i am leaving it blank for me but some random number written in ut

[2022-06-27 11:08] batmanscode commented on #35
Is this still the case for multilevel [trafficmanager.net] domains?

[2022-07-01 08:47] mothiesms commented on #152
Hi
i found 404 NOT FOUND  error how i takeover the subdomain****

[2022-07-13 14:43] Techbrunch commented on #32
A potentially interesting case:

[code]

target.com redirects to www.target.com (301)

In Shopify target.com and www.target.com were not available but ftp.target.com was and I was able to takeover the subdomain.

[2022-07-16 08:16] SAGEof6iixPATHS commented on #36
Is this vulnerable?
asdasd.target.com shows this
[code]
And DIG shows this:
[code]
* - Stars are in the place of some numbers

[2022-07-16 08:26] GDATTACKER-RESEARCHER commented on #36
Yes

[2022-07-16 08:36] SAGEof6iixPATHS commented on #36
Have you tried?

[2022-07-16 09:37] GDATTACKER-RESEARCHER commented on #36
🤣😂 nice question i still hai 15 buckets claimed i guess

[2022-07-16 09:39] SAGEof6iixPATHS commented on #36
Good for you, thanks for the help!!

[2022-07-19 17:08] jbreed commented on #37
@akincibor As mentioned, I ran into this specific issue where it required me to verify the domain by inserting a domain txt entry for verification on my account before I could add the custom domain to a repo.

Do we know if this is always the case for subdomain takeovers via github.io, or only specific domains with a feature enabled?

[2022-07-21 05:06] sumgr0 commented on #37
I've experienced the same with Github takeovers in the last couple of days. Looks like github has implemented it across the board.

[2022-07-25 08:46] SimonGurney commented on #40
I just took over a netlify and it wasn't an edge case.  I think its still fully possible

The company had a cname to x-y.netlify.app

I signed up for netlkify and got given a domain called foo-bar-657657.netlify.app

I clicked edit and changed my netlify site name to be  x-y.netlify.app

I added their subdomain as an additional domain and then it provisioned a letsencrypt cert on there for me.

[2022-07-25 14:30] samet-g commented on #40
![image](https://user-images.githubusercontent.com/81412659/180801631-33ced296-54cc-4c83-8ba1-bbdde76cc3d5.png)
![image](https://user-images.githubusercontent.com/81412659/180801500-e2632d53-ba0e-412f-8268-e84a3796c8eb.png)

[2022-07-27 04:44] bcoles commented on #120
I'm not sure about "Site Not Found", but other generic error messages (below) do not mean that the CNAME record for the subdomain is dangling.

![image](https://user-images.githubusercontent.com/434827/181161174-443841fe-36ad-4760-a2bc-7cecc48962ae.png)

![image](https://user-images.githubusercontent.com/434827/181161194-6b0acdf1-8761-4c26-8bb8-98d92d227e62.png)

These are generic error messages p

[2022-08-01 05:11] Cvar1984 commented on #24
yes, it still vulnerable

[2022-08-02 07:48] FarjaalAhmad commented on #24
do you have a subscription? if yes, please mention your twitter.

[2022-08-02 07:52] Cvar1984 commented on #24
yes, i have basic plan i take some of juice domain out there

[2022-08-02 09:02] FarjaalAhmad commented on #24
check your Twitter DM. Thanks.

[2022-08-02 19:05] GDATTACKER-RESEARCHER commented on #235
working i have tested

[2022-08-19 20:23] sawravchy commented on #22
I think currently Fastly ***isn't vulnerable*** for subdomain takeover .

[2022-08-19 20:27] sawravchy commented on #22
I think Fastly is **_no more vulnerable_** for subdomain takeover .

[2022-08-20 07:04] jareddarkweb commented on #13
I found a domain that returns a ngnix 404 page not found and points to akamaie not takeoverable?

[2022-08-20 17:27] jareddarkweb commented on #183
me aswelll

[2022-08-26 11:44] th3r4id commented on #154
Looks like edge case getting an error "Name already exists"

[2022-08-27 06:17] Steiner-254 commented on #161
~ I dont think it's a vulnerability.

[2022-08-31 06:51] 0xspade commented on #94
how?

[2022-08-31 19:26] akincibor opened #271 "OpenShift Takeover"
## Service name

OpenShift

## Proof

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-2220

## Documentation

https://docs.openshift.com/container-platform/4.11/networking/routes/route-configuration.html

[2022-09-02 11:42] abdullahmunir9x commented on #35
Can you please let me know if it is still vulnerable or not found a subdomain with status : NXDOMAIN and dont know how to take over it , can you describe the steps please

[2022-09-02 12:27] IrresistibleKhan commented on #37
I found a subdomain pointing to xyz.github.io,  and it is vulnerable, but when trying to set it as the vulnerable subdomain as the  custom domain it asks to insert a txt entry for verification.
Is there any way to takeover such a domain?

[2022-09-02 13:50] OVERPEY commented on #11
is it still working ?

[2022-09-03 12:42] OVERPEY commented on #103
how to get free trial on this service ?

[2022-09-03 15:35] Steiner-254 commented on #112
haha..nice

[2022-09-03 20:29] IbrahimGithub commented on #46
**Date:** **04/09/2022**
### I takeover one.

[2022-09-04 06:00] SSSEAL-C opened #272 "Is adobe-campaign.com vulnerable?"
I've seen some results which have CNAME records of this format:
[name].adobe-campaign.com

is it vulnerable?

[2022-09-04 06:01] SSSEAL-C opened #273 "Is lync.com takeover possible?"
I've seen some domains with CNAME records of the following format

[name].online.lync.com

Is this vulnerable?

[2022-09-04 06:02] SSSEAL-C opened #274 "Is online-metrix.net vulnerable?"
I've found some services with the following format:

[name].online-metrix.net

Is this vulnerable to takeover?

[2022-09-04 06:11] SSSEAL-C commented on #268
No such key means that the bucket is claimed but authentication needs to be provided to access the bucket, making it an invalid target for subdomain takeover.

[2022-09-05 08:31] SSSEAL-C opened #275 "Campaign Monitor takeover PoC"
# I AM NOT RESPONSIBLE FOR MISUSE OF THIS, THIS GUIDE IS FOR BUG BOUNTY PURPOSES ONLY.

When an unclaimed campaign monitor domain is found here are the steps to follow to upload text and a redirect under the domain.

### Takeover
1. Register an account here https://www.campaignmonitor.com/
2. Select the option that the account is for just me and my team
3. Once you are in the dashboard click your

[2022-09-05 10:42] gister9000 commented on #22
@sawravchy I think this is still an edge case - as described by @mohamed-faris , his example still works:
![image](https://user-images.githubusercontent.com/55654477/188430842-d7fa0424-5091-4851-839e-be21e1e0dc47.png)

[2022-09-05 13:13] sawravchy commented on #22
Ok got it. Thanks for clarifying this.

[2022-09-05 13:40] OVERPEY commented on #240
i have CNAME pointing to domains.tumblr.com but still shows exactly the same error, what could be the problem??
![tumblr](https://user-images.githubusercontent.com/62181272/188462906-d9ce955a-31d6-4b63-966a-52184d2891b6.PNG)

[2022-09-06 03:48] pdelteil commented on #272
You could try it yourself, try to find a service that would give you that name.adobe-campaign.com subdomain.
Is the subdomain responding with a NXDOMAIN error?

[2022-09-07 02:40] Steiner-254 commented on #236
Haha, interesting!

[2022-09-07 19:03] baibhavanand opened #277 "Google Sites"
## Service name
Google Sites

## Proof
Requires Ownership Verification via DNS update. == NOT VULNERABLE

![Screen Shot 2022-09-08 at 00 47 03](https://user-images.githubusercontent.com/35161513/188957034-a6657fad-d750-4119-b8e3-630f6a8ebc95.png)

## Documentation
https://support.google.com/webmasters/answer/9008080?visit_id=637981741431097680-3818919062&rd=2

[2022-09-07 22:52] Or4ngm4n opened #279 "Typo | Odoo"
## Typo | Odoo.com

## http://erp.alnassr.sa/

## if you see in the page ( Ooops! We can't find ) vulnerable

# author : https://github.com/Or4ngm4n/

# twitter: @interestedz

[2022-09-08 14:06] thinkermaruf commented on #44
hi dude if target.dom.com is showing valid content and its cname is giving  404 can it be taken over???

[2022-09-13 21:18] Mentorsejdiu commented on #11
Does this still work, anyone ?

[2022-09-16 11:35] b1bek commented on #35
Even after claiming cname of azurewebsites.net, it requires TXT record verification for the vulnerable subdomain. So I think it's not vulnerable anymore.

[2022-09-16 19:25] alexdolbun commented on #240
devs, the same on my

https://tumblr.alexdolbun.com

the same error, what could be the problem???)))

[2022-09-16 19:29] alexdolbun commented on #240
i understand, done. disabled proxy on cloudflare on https://tumblr.alexdolbun.com/ and this error is gone 🦄

[2022-09-17 10:07] 0xHEKERABIEZ commented on #192
there someone who solve this?

[2022-09-18 05:23] mohnqwerty commented on #35
If the *.cloudapp.net responds with 0.0.0.0 is it vulnerable to takeover

[2022-09-18 06:40] sumgr0 commented on #35
0.0.0.0 would ideally mean, it’s setting up the application.

For Azure, the Status should be NXDOMAIN to be potential for takeover.

On Sun, 18 Sep 2022 at 10:53 AM, mohnqwerty ***@***.***>
wrote:

--
Best,
Sumit Grover

[2022-09-19 13:05] Faizee-Asad commented on #183
https://vercel.com/docs/concepts/projects/custom-domains

[2022-09-20 04:38] pdelteil commented on #37
Then, it's not vulnerable.

[2022-09-20 10:42] prachig667 opened #280 "Can I this subdomain takeover"
http://financialcoaching.statefarm.com

[2022-09-20 16:59] pdelteil commented on #280
Provide more details. Did you find a NXDOMAIN error? It seems you didn't provide a DNS ownership verification.

[2022-09-20 18:02] nvk0x commented on #280
not vulnerable

[2022-09-25 09:03] A7BIL commented on #37
i found a vulnerable xx.github.io subdmain but when i try to add the domain to a new repository, i get this message
The custom domain `xxxxx.domain.com` is already taken.
any solution ?

[2022-09-25 19:11] barhaam commented on #231
HI there could please help I need to test that would also help the community.

[2022-09-29 19:10] A7BIL commented on #240
same problem

[2022-10-01 06:33] codedbrain commented on #44
I just took over a sub-domain with webflow. It works!

[2022-10-06 05:40] CharlieTheHack1 commented on #35
is cloudapp.net still vulnerable ?

[2022-10-07 08:42] vasu4518 commented on #22
fastly error for somthing.target.com is not vulnerable
 But somthing.target.in was is vulnerable. can i report

[2022-10-08 18:31] hacker-0x01 commented on #214
maybe we can by bypass using response manipulation.

[2022-10-08 19:06] RamkrishnaSawant commented on #11
no

[2022-10-14 17:26] esevenb2k18 opened #281 "Surveysparrow Takeover"
## Service name
**Surveysparrow.com** **Omnichannel Experience Management Platform - SurveySparrow**

## Proof

[![n8Jdt.md.png](https://jpegbb.com/images/2022/10/14/n8Jdt.md.png)](https://jpegbb.com/id/n8Jdt)
_Sampel Vuln_
1. Create Account
2. Setting General
3. Imput domain
[![n8P7q.md.png](https://jpegbb.com/images/2022/10/14/n8P7q.md.png)](https://jpegbb.com/id/n8P7q)
[![n8Mk0.md.png](https://

[2022-10-15 06:24] abbas512 commented on #11
Here is end to this topic for now its not possible to takeover
Regards :)

https://user-images.githubusercontent.com/44978381/195972592-9163e08b-b6e3-4e93-b251-e5e7a24f095f.mp4

[2022-10-16 03:03] pdelteil commented on #281
Validated!

[2022-10-16 13:52] purbialaxita opened #283 "google.com"
## Service name

## Proof

## Documentation

[2022-10-17 13:00] Evanffff commented on #283
google.com

[2022-10-20 07:47] tw-ddis commented on #183
same error , vercel fixed the bug no luck

[2022-10-22 09:53] esevenb2k18 opened #285 "Easyredir.com Takeover"
## easyredir
easyredir.com - An enterprise-ready redirection engine. An ideal feature set. Incredible customer support. Learn why EasyRedir is the world's leading URL redirection service.

## Proof
https://www.youtube.com/watch?v=eymAUuvju8c
(no special cname needed)

[2022-10-23 15:10] esevenb2k18 opened #286 "Subdomain Takeover tribe.so"
## Tribe.so
Tribe | A Customizable Community Platform
## Proof

Check : https://youtu.be/SNKuJJv7Mns

Tribe Credentials for an A Record:
Type: A Record
Host/Name: @
Value or Points to: 13.248.171.91

Tribe Credentials for CNAME:
Type: CNAME
Host/Name: www
Value or Points to: domains.tribeplatform.com (please do not replace domains[.](http://domains.tribe.so/)tribeplatform.com with anything else)

[2022-10-26 10:07] CalfCrusher commented on #35
*.trafficmanager.net is fixed indeed. I can't takeover anymore

[2022-10-26 11:04] supr4s commented on #35
I confirm that taking control over CNAMEs pointing to cloudapp.azure.com still works:

1 - Create a new Azure virtual machine
2 - Be careful to choose the location (in my case - Central India because the CNAME points to centralindia.cloudapp.azure.com)
3 - And finally go to the `DNS Name` part once the VM is created
4 - Send your report :)

[2022-10-28 12:08] mheranco commented on #234
Bitly is probably vulnerable, if you read this: https://support.bitly.com/hc/en-us/articles/360025607351

There is no type of verification like a TXT record or something. Only the A and CNAME records, which are the same for everyone.

Problem:
You need to pay for the "Basic" plan to use custom domains, which is $35/month. As you cannot host content on bitly itself, it is basically only an Open Red

[2022-10-31 09:27] subhash4x commented on #22
hi @m7mdharoun  , i used subjack tool and find 5 domain which are showing FASTLY . can vulnerable

[2022-11-01 04:14] pdelteil commented on #40
I also tried this edge case and got the same error: `This site name already taken`

[2022-11-03 18:38] ryansanjaya3434 opened #292 "How Can I Takeover a Subdomain ?"
Can You give tutorial to me how to subdomain takeover work

[2022-11-09 03:41] b1bek commented on #35
@CalfCrusher *.trafficmanager.net is still possible. But very rare.

[2022-11-09 04:02] pdelteil commented on #35
Hi @CalfCrusher, can you provide more details?

Only some domains might work, based on what condition?

[2022-11-10 07:37] CalfCrusher commented on #35
@b1bek i tried one month ago but with no success, maybe was my fault

[2022-11-14 17:51] CalfCrusher commented on #40
What when CNAME points to `*.netlifyglobalcdn.com` ?
Is it possible the tko ?

[2022-11-16 01:49] gregaai commented on #35
Spent the better part of 3 hours troubleshooting today. A bit of added detail to (at least) the *.azurewebsites.net takeover, but likely applies to all Azure App Services subdomains. As laid out in this doc [https://learn.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain?tabs=a%2Cazurecli#2-get-a-domain-verification-id](https://learn.microsoft.com/en-us/azure/app-service

[2022-11-16 19:07] CalfCrusher commented on #274
I found a couple of subdomains with *.online-metrix.net i can't get any info, i was asking myself the same thing...anyway like akadns.net it's not vulnerable anymore, i guess :-/

[2022-11-17 17:23] pdelteil commented on #36
Hello everyone,

I can confirm this takeover is still possible, adding some details:

- If you get an error as 'the bucket .... already exists'  --> **it's not vulnerable**.
- A CNAME pointing to a AWS domain name is not necessary. I took a bucket that was pointing to several IP addresses. The relevant part is the response fingerprint.
- The error with `Code: IncorrectEndpoint` can be fixed removi

[2022-11-18 01:39] Abdelrahmanibrahim-prog opened #303 "MAXCDN"
Did anyone hear about MAXCDN subdomain takeover or how could it happen ?

[2022-11-18 13:28] barhaam opened #305 "Subdomain takeover on Cname simplifyemail.com"
Hi guys need help with a subdomain alias to `CNAME eu-proxy-2.symplifymail.com`

[2022-11-18 16:44] pdelteil commented on #305
Hi,

You need to provide more details in order to understand what you want to do.  Are you getting a dns response `NXDOMAIN` ?

[2022-11-18 16:53] barhaam commented on #305
It shows a 200 http status
![image](https://user-images.githubusercontent.com/102578146/202758733-854c49c9-c3de-4cf7-b0db-b64b95911170.png)

[2022-11-18 16:59] pdelteil commented on #305
This is just a `nginx` default page. You should investigate more about how subdomain takeovers work.

[2022-11-18 17:01] #305 closed

[2022-11-18 17:02] pdelteil opened #306 "is that poosible to takeover subdomain via mailchimp.com ?"
### Discussed in https://github.com/EdOverflow/can-i-take-over-xyz/discussions/250

<div type='discussions-op-text'>

<sup>Originally posted by **tayyabqadir877** December  7, 2021</sup>
Hi

a subdomain giving an error,

" We can't find that page

It looks like you're trying to reach a page that was built by Mailchimp but is no longer active. Want to know more about us? Visit mailchimp.com "

is t

[2022-11-18 17:03] #306 closed

[2022-11-24 01:45] pdelteil commented on #9
Hello,

That report is 6 years old. That's not enough to still consider it as valid/vulnerable.

[2022-11-24 05:18] deepsharma00 commented on #22
Hii  @m7mdharoun  my custom domain is saved but i get this " Domain does not resolve to the GitHub Pages server" pls help me

[2022-11-28 13:41] Kaue-Navarro commented on #40
Good Morning

Yesterday I managed to do the subdomain takeover in a cname of *.netlifyglobalcdn.com

![WhatsApp Image 2022-11-27 at 18 10 35](https://user-images.githubusercontent.com/79615440/204291086-e6cf50fd-a2a4-41b8-975c-69ab5e79f483.jpeg)

What I needed to do was:

Adding the cname to the default domain, if you can, is the first step.

You just took the cname.

This works for me.

But in th

[2022-11-28 21:01] Sechunt3r commented on #40
Thanks @Kaue-Navarro
The technique you suggested completely works & full subdomain takeover is still possible on netlify.

**Cname-Settings:**
<img width="951" alt="CNAME" src="https://user-images.githubusercontent.com/38610159/204379934-2c4fbaa5-08e5-44c6-ac89-510397f68a95.png">

**POC:**
<img width="451" alt="STK" src="https://user-images.githubusercontent.com/38610159/204379820-e555ba8b-ea7c-41

[2022-11-29 03:01] pdelteil commented on #40
Hey @Sechunt3r,

You revealed the subdomain you took over on the page title.  :(

[2022-11-29 18:40] nin-ack commented on #92
Another chiming in to same that ngrok no longer appears vulnerable.

[2022-11-30 10:00] abd-4fg commented on #92
@nin-ack Hi do you still have ngork paid account ?  If yes , I need some help with testing few subdomains to test.

[2022-11-30 16:14] b1bek commented on #40
subdomain has cname `foo-bar-xyz.netlify.app` , i got it and my site is hosted at `foo-bar-xyz.netlify.app` but the subdomain still has error like this
![image](https://user-images.githubusercontent.com/43294620/204849687-e3f4d1c6-d0b7-47f3-ab77-9bd0633aa026.png)

now when trying to add subdomain in custom domain it shows this error
![image](https://user-images.githubusercontent.com/43294620/20485

[2022-11-30 18:15] Kaue-Navarro commented on #40
1- Change the netlify.app subdomain name that you have in your account to the one you found vulnerable if it allows it is the first step, this will give you power only to the cname.

2- Step you put the root domain of the subdomain in that field to add domain the root domain.

3 - Create the alias with the subdomain you found.

Done these three then yes you will have full control.

Important if th