[2018-03-19 12:16] rubyroobs opened #4 "No clarification of handling false positives"
For some of the mentioned vendors which I've had experience dealing with, there is no clarification to hackers using this list of where a false positive could occur.

In the instance of Unbounce for example, an empty Unbounce would in some cases yield the same response as a claimed one.

By suggesting to hackers that it is vulnerable to takeover but it requires a paid account, this could cause con

[2018-03-19 16:29] EdOverflow commented on #4
This is a wonderful suggestion, @rubyroobs; thank you for bringing it up. I will work on clarifying where potential issues lie and how to actually determine whether or not a host is vulnerable.

[2018-03-26 10:35] xsuperbug opened #9 "Requested : Salesforce Desk (desk.com)"
It seems subdomains can be taken over, I think. Can you check it?

[2018-03-26 11:00] its0x08 commented on #9
any specific subdomain ?!

[2018-03-26 11:42] xsuperbug commented on #9
Sorry, I have to censor it. A screenshot is as follows :
http://oi67.tinypic.com/27x48bp.jpg

[2018-03-28 12:53] smiegles opened #11 "Unbounce is not vulnerable for subdomain takeover."
The attacker here used an un-ethical way to exploit Unbounce which is resolved now as far as I believe.

https://github.com/EdOverflow/can-i-take-over-xyz#unbounce

[2018-03-28 13:40] edeirme commented on #11
Going through the hackerone report it seems that this instance of subdomain takeover was indeed an exploitation of a vulnerability on the Unbounce services. In the same report, both parties (researcher and Unbounce security team) confirm that the Unbounce vulnerability has been fixed.
Unless there is another instance of subdomain takeover for Unbounce I'll agree with @smiegles that Unbounce's entr

[2018-03-29 10:32] EdOverflow commented on #9
Resolved in #10; thank you.

[2018-04-04 16:27] EdOverflow commented on #11
I think the main issue is the fact that we reference https://hackerone.com/reports/202767 in the Unbounce section which, as @smiegles pointed out, is not accurate and can no longer be exploited. We should remove that reference. Thank you for raising an issue, @smiegles.

[2018-04-05 03:26] sa7mon opened #13 "Unsure about Akamai"
There have been a few subdomains that I've come across now that look like this:
`Server: AkamaiGHost`
and the page will say:
<pre>Invalid URL
The requested URL "[no URL]", is invalid.</pre>

As far as I can tell, this message is coming from Akamai, I'm assuming from their CDN service unless they have others? Does anyone know if this vulnerable to a takeover?

[2018-04-12 07:51] rosonsec commented on #11
Are you sure the takeover is still possible?
I am getting this error message when I try to "Add a New Custom Domain":

`Looks like this domain has been deleted, to be able to use it again we need to verify its ownership for security purposes. Please contact our team at support@unbounce.com.`

[2018-04-15 14:45] d55pak commented on #11
Looks like this domain has been deleted, to be able to use it again we need to verify its ownership for security purposes. Please contact our team at support@unbounce.com

Any idea how we can now

[2018-04-16 19:02] eraymitrani commented on #11
I don't think we can if someone has an unbounce account I can give you a link to test

[2018-04-17 16:11] rojan-rijal commented on #11
@rosonsec @d55pak, Last I checked it was still possible. There might be some edge cases though for example, when I tested, I simply pointed my domain to Unbounces CNAME and see if it was vulnerable. In your case it seems like the domain was being used activity before and then removed from Unbounce. Unbounce might be blocking takeover on those types of domains but I am not sure yet. I will look int

[2018-04-17 16:12] eraymitrani commented on #11
@rojan-rijal if you DM me on Twitter I can give you a previously used domain that is still pointing to a unbounce CNAME

[2018-04-19 09:57] random-robbie opened #14 "Mashery"
Since the H1 report it's no longer possible to take over the domain.
[![Capture.png](https://s7.postimg.cc/50x6etvmz/Capture.png)](https://postimg.cc/image/qakspobxj/)

[2018-04-28 09:56] arbazkiraak commented on #11
* I have tried to takeover 10 subdomains which has following Fingerprint
`The requested URL was not found on this server.`

`Domain is already in use.`
                   ( or )
`Looks like this domain has been deleted, to be able to use it again we need to verify its ownership for security purposes. Please contact our team at support@unbounce.com.`

* Looks like unbounce preventing us from takeov

[2018-04-28 10:04] EdOverflow commented on #11
Sorry, I have been extremely busy lately and have not had a chance to update the project. We determined that there is only one rare case where one can hijack a subdomain pointing to Unbounce and that is if the team never had a project in the first place. The likelihood of this being the case is so minute that I personally do not think we should claim that it is possible to hijack subdomains pointi

[2018-04-28 17:27] ak1t4 commented on #11
Hey there, I was reading this thread and seems pretty interesting. Which is a subdomain takeover?

A subdomain takeover is posible when the attacker can claim an unclaimed domain name through an alias or canonical name (cname)  pointing to unbouncepages.com.
Some 3rd party services put filters to avoid this, like adding a random TXT record or hash or others methods to force and secure the DNS entr

[2018-06-07 02:13] ttymeh commented on #14
Mashery no longer lets trial users add custom domains. I believe a paid user can though.

[2018-06-07 02:15] ttymeh commented on #14
Starting at $1995/month

[2018-06-13 06:43] codingo commented on #14
Addressed in #15 and #16 (one for title and one for long description).

[2018-06-13 09:31] codingo commented on #13
@sa7mon I'm on most slacks/mattermost in some capacity. Could you ping me where you are and I'll work through this with you? Happy for you to claim the bounty, I'll just walk you through the (potential) takeover and if it works we can circle back and update the documentation here.

[2018-06-13 09:32] codingo commented on #4
@EdOverflow I'm happy to tackle this once the repository is back up to date with pull requests. Concerned if this is done now it will make for a difficult chain of events to merge later.

[2018-06-20 08:38] codingo commented on #4
Not ignoring this, I've played with it a few times and just trying to work out the best approach before merging.

[2018-06-30 20:02] EdOverflow opened #21 "Create a list of services that have not been tested yet."
We could integrate a TO-DO list into the README.md file for services that have not been tested yet. That way, people can help us expand the list by focusing on untested services.

[2018-07-12 01:25] riramar opened #22 "Fastly Restrictions"
Fastly will work only in some specific situations. In some cases they validate the customer domain before assign the fastly.net subdomain.

https://docs.fastly.com/guides/securing-communications/managing-domains-on-tls-certificates#verifying-domain-ownership

[2018-07-12 17:07] codingo commented on #22
That certainly merits further investigation!

@EdOverflow I'm unable to look at this for a week, what's your capacity like? Happy for you to tag me on this if you're snowed under also.

Related to the work on #20 I think this should be done in a test cases and then added to the main readme.

[2018-07-12 19:16] energiatel opened #23 "Zendesk no more possible?"
As reported here https://support.zendesk.com/hc/en-us/articles/203664356-Changing-the-address-of-your-Help-Center-subdomain-host-mapping- Zendesk subdomain takeover requires making the subdomain an alias of default address. So it shouldn't be possible get a subdomain takeover without getting access to the domain registrar's control panel.

Am I wrong?

[2018-07-23 23:28] 0x00xx opened #24 "Adding Pantheon"
Hey,

I just wanted to submit another website: Pantheon.

Reference: https://medium.com/@hussain_0x3c/hostile-subdomain-takeover-using-pantheon-ebf4ab813111

[2018-07-26 14:38] whiteHat001 opened #25 "Does subdomain with eloqua cloud could takeover?"
Does  subdomain with eloqua cloud could takeover?And how to use azure cloud to takeover sudomains?

[2018-07-27 01:50] codingo commented on #25
Hi @whiteHat001,

What have you tried? It's difficult to give you good advise if you haven't exposed your thought process and what you've tried already.

There's a number of write-ups on Azure takeovers you can refer to, and I'll add it to this page soon. I'd also recommend trying to do an eloqua takeover yourself - that's normally the first step to learning how to do these and identifying if the'

[2018-07-27 01:50] #25 closed

[2018-07-27 01:55] codingo commented on #24
Just letting you know we're not ignoring this one - just trying to carve out some time to properly test it.

[2018-07-27 01:59] codingo commented on #23
This takeover is possible when a Zendesk account has been deleted, but still remains available in the host domains DNS record.

When you dig the record you will see the CNAME, this corresponds to the name of the Zendesk account you need to (re)create. Once you've done so you'll now have claimed Zendesk on this host domain.

This is a much less valuable takeover than other scenarios as you aren't h

[2018-07-27 02:00] codingo commented on #21
Should we leave these as open issues instead (such as #24)? I think most people would look to issues for ways to contribute and this might get missed if it's in the readme.

[2018-08-02 10:38] bayotop opened #26 "List of specific sub-domains seen as CNAMEs"
Hi, I wanted to share a list of CNAMEs (or rather just substrings), seen for sub-domains from public BBPs/VDPs on various platforms that might indicate a takeover-able sub-domain. I created the list a few months ago (it might be dated) and never found time to utilize it further so I'm sharing it publicly as it might be helpful to extend what this repository covers:

* .herokudns.com, .herokuapp.co

[2018-08-02 10:45] codingo commented on #26
@EdOverflow will chat about how to organise this with you over other networks? Seems like there's a variety of approaches that we could take here.

[2018-08-02 10:46] codingo commented on #26
Also thank-you @bayotop, and good work!

[2018-08-30 16:24] Avileox opened #29 "cloudfront takeover is not possible anymore"
AWS finally started mitigating subdomain takeovers on CloudFront. When you try to register Alias (CNAME) for your CloudFront distribution, it refuses to do so if the DNS zone file has CNAME to different CloudFront domain.
This is a type of verification from cloudfront that you can't takeover any subdomain even both (http OR https) port (80 and 443) shows error.
If the DNS zone file has CNAME to di

[2018-08-30 16:51] BlackFan commented on #29
It is still possible to takeover in cases:
www.cf.example.com CNAME cf.example.com
cf.example.com CNAME d1234567890abc.cloudfront.net

But this is a rare case.

[2018-08-31 20:29] 4v1raj commented on #29
If it is can you please explain the conditions and enviroment .

[2018-09-11 07:33] codingo commented on #13
Previously confirmed that this is not possible and subsequently closing this report.

[2018-09-11 07:33] #13 closed

[2018-09-12 05:42] buckhacker opened #32 "Shopify Real Check with REST API"
## Service name
Shopify

## Proof
1) Page must contain: Sorry, this shop is currently unavailable.
2) CNAME must contain: myshopify.com or shops.myshopify.com
3) REST API Query must answer with: "status":"available"

Please read the docs for more details.

## Documentation
I wrote a long article and release a small script that performs three types of test (page error message, CNAME and REST API qu

[2018-09-12 06:34] codingo commented on #32
I'm familiar with your article / repository - quite a fan of this work (cottoned onto it early via a Github watch).

I'll review this shortly.

[2018-09-12 06:45] codingo commented on #32
Resolved in #33

[2018-09-12 06:45] #32 closed

[2018-09-12 11:32] PatrikHudak opened #35 "Microsoft Azure proofs"
## Service name

Microsoft Azure

## Proof

There is no general approach for PoC. Microsoft Azure offers multiple services (CloudApp, Azure Websites, etc.) that use different domain names.

General approach in verifying subdomain takeover is to check, whether the Azure domain responds with `NXDOMAIN` DNS status. This is (to my knowledge) the _necessary_ condition of the domain, however it is not _

[2018-09-12 20:17] PatrikHudak opened #36 "Amazon S3 proofs"
## Service name
Amazon (AWS) S3

## Proof
Amazon S3 service is indeed vulnerable. Amazon S3 follows pretty much the same concept of virtual hosting as other cloud providers. S3 buckets might be configured as website hosting to serve static content as web servers. If the canonical domain name has website in it, the S3 bucket is specified as Website hosting. I suspect that non-website and website co

[2018-09-12 20:24] PatrikHudak opened #37 "GitHub Pages proofs"
## Service name
GitHub Pages

## Proof

GitHub uses virtual hosting identical to other cloud services. The site needs to be specified _explicitly_ in domain settings. Step-by-step process:

1. Go to [new repository](https://github.com/new) page
2. Set *Repository name* to canonical domain name (i.e., {something}.github.io from CNAME record)
3. Click *Create repository*
4. Push content using git to

[2018-09-12 20:50] PatrikHudak opened #38 "Heroku proofs"
## Service name
Heroku

## Proof

Heroku has same virtual hosting concept as other cloud providers. Various `*.herokudns.com` subdomain respond with the same set of A records. HTTP Host matters for correct domain resolution (as in other providers). There is also an possibility to [upload own certificate](https://devcenter.heroku.com/articles/ssl-endpoint#setting-up-ssl-on-heroku) in order to work

[2018-09-14 12:32] m7mdharoun opened #40 "subdomain Takeover via netlify"
## netlify

## https://medium.com/@alirazzaq/subdomain-takeover-worth-200-ed73f0a58ffe

## Documentation

[2018-09-15 19:02] PatrikHudak commented on #36
Official documentation link: https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html

[2018-09-15 19:03] PatrikHudak commented on #38
Official Heroku docs: https://devcenter.heroku.com/articles/custom-domains

[2018-09-15 19:04] PatrikHudak commented on #37
Official GitHub Pages docs: https://help.github.com/articles/using-a-custom-domain-with-github-pages/

[2018-09-15 19:58] PatrikHudak opened #41 "Readme.io proofs"
## Service name
Readme.io (https://readme.io/)

## Proof

The subdomains reside on `*.readme.io`. It is a classic virtual hosting scenario like in other similar services.

To verify whether subdomain takeover may be possible, run:

[code]

(Assuming you have Readme.io account created.)

1. Go to [dashboard](https://dash.readme.io/).
2. Set *Project Name* and its *subdomain*. Subdomain does not nee

[2018-09-18 20:31] 4v1raj commented on #13
I found some subdomains that look like this:
Server: edgesuite and akadns (Akamai)
I found some different 404 responses for those subdomains
look like :
1>File not found."

2>Service Unavailable - DNS failure
The server is temporarily unable to service your request. Please try again later.

3>An error occurred while processing your request.

This is what I getting from that Akamai CDN service
whic

[2018-09-18 20:41] 4v1raj opened #42 "Akamai CDN irregular responses !"
I found some subdomains that look like this:
Server: edgesuite and akadns (Akamai)
I found some different 404 responses for those subdomains
look like :
1>File not found."

2>Service Unavailable - DNS failure
The server is temporarily unable to service your request. Please try again later.

3>An error occurred while processing your request.

This is what I getting from that Akamai CDN service
whic

[2018-09-19 18:12] 4v1raj opened #43 "Subdomain takeover through Webflow"
Service name
webflow

Website
https://webflow.com/

Report
https://hackerone.com/reports/399165

Subdomain takeover through webflow is possible but for creating POC you need a paid account because webflow need a paid account for creating subdomains and using web hosting through webflow.

[2018-09-21 19:59] #43 closed

[2018-09-21 19:59] 4v1raj opened #44 "Subdomain Takeover through Webflow"
Service name
webflow

Website
https://webflow.com/

Report
https://hackerone.com/reports/399165

Subdomain takeover through webflow is possible but for creating POC you need a paid account because webflow need a paid account for creating subdomains and using web hosting through webflow.

[2018-09-24 06:50] amateurgeek commented on #38
Looks like it requires CC for adding custom domain, can someone help me with PoC? Please respond to letstryharder@wearehackerone.com

[2018-09-24 10:47] linuxsec opened #45 "Uptimerobot.com Custom Domain Takeover"
## Uptimerobot.com

## There is no additional verification for add custom domain. just add cname record and pointing to stats.uptimerobot.com

## https://exploit.linuxsec.org/uptimerobot-com-custom-domain-subdomain-takeover/
sorry it is indonesian language. but i add some screenshot so i think you will understand.

[2018-09-28 09:04] Sechunt3r commented on #35
Hi All,
Hope you are good!

if a Azure Domain not Respond with NXDOMAIN that means it is not Vulnerable.
But if it shows this ;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR,

Then what would be the answer is it vulnerable or not!

Hope you understand my points

Regards
Shivam

[2018-10-01 21:14] m7mdharoun opened #46 "Shopify is vulnerable by a New FingerPrint"
## Shopify

## Proof
 https://hackerone.com/reports/416474

## Documentation
Not Only FingerPrint `Sorry, this shop is currently unavailable.`
New FingerPrint that I've found in my report `Now Your domain ( Name of subdomain ) is ready to connect to your Shopify Shop`

[2018-10-03 20:19] Cybedolt opened #47 "Subdomain Takeover through Kinsta"
## Service name
KINSTA

## Website name
https://kinsta.com/

## Credential

## Condition
Subdomain takeover through kinsta is possible but for creating POC you need a paid account because kinsta need a paid account for creating subdomains and using web hosting through kinsta.

[2018-10-03 20:21] #47 closed

[2018-10-03 20:29] Cybedolt opened #48 "Subdomain Takeover through Kinsta"
## Service name
Kinsta

## Website
https://kinsta.com/

## Credential
![screenshot 45 _li](https://user-images.githubusercontent.com/40210313/46437332-fa258580-c70f-11e8-9985-17482634cc24.jpg)

## Condition
Subdomain takeover through Kinsta is possible but for creating POC you need a paid account because kinsta need a paid account for creating subdomains and using web hosting through kinsta.

[2018-10-04 04:12] AnotherWayIn commented on #40
when you attempt to add a custom domain on Netlify, they ask you to add a randomly-named cname record for them to verify. Because of this, it doesn't look like you can do takeovers anymore. Unless i've missed a trick?

[2018-10-04 04:35] codingo commented on #40
@AnotherWayIn How random is the seed?  I've managed to do takeovers on some services by looping until I hit a collision for an old service either using javascript in a client session or looping in python/bash utilizing something like the AWS cli.

[2018-10-04 04:36] codingo commented on #40
Also this seems more remote as it's a change from the old state, so I'm going to flag this as not vulnerable unless confirmed otherwise.

[2018-10-04 05:00] AnotherWayIn commented on #40
Yeah, BF is not possible here. Mine for example is asking for the cname to be:
gallant-pare-4f7741.netlify.com
This is generated when you create a new site.

[2018-10-06 21:57] chackmate opened #49 "Discourse hosted subdomain takeover possible?"
Is subdomains hosted at discourse is vulnerable to takeover or not?

[2018-10-10 02:27] abiralS commented on #9
Is subdomain takeover still possible for desk ? Have have not been able to create desk account after sales force bought i.

[2018-10-13 15:37] JesseClarkND commented on #23
My experience with a zendesk takeover attempt this morning.
![no_luck](https://user-images.githubusercontent.com/7518924/46907155-ed551e80-ced3-11e8-99f1-c436c0f76cd3.png)

[2018-10-14 04:30] codingo commented on #23
Thank-you @JesseClarkND, I was also familiar with this one through a recent attempt. I've made a change to the repo in line with your proofs and will now close this issue (see: #51).

Appreciate your efforts!

[2018-10-14 04:30] #23 closed

[2018-10-14 04:32] codingo commented on #9
Hi @abiralS @xsuperbug, this state has now been changed as per #50

[2018-10-14 04:32] #9 closed

[2018-10-14 06:28] codingo commented on #46
Resolved in #52

[2018-10-14 06:29] codingo commented on #42
I believe not, but it has been some months since I initially tested this. Will flag this as help wanted in case somebody would like to reproduce and add further detail to this issue.

[2018-10-15 01:45] codingo commented on #37
Closing as now available on main readme.

[2018-10-15 01:45] #37 closed

[2018-10-15 01:47] #40 closed

[2018-10-15 01:48] codingo commented on #40
Closed via #53

[2018-10-15 01:50] codingo commented on #14
Resolved via #54

[2018-10-15 01:50] #14 closed

[2018-10-15 01:52] codingo commented on #41
Closed via #55

[2018-10-15 01:52] #41 closed

[2018-10-15 01:53] codingo commented on #26
Most of these are now resolved/check or duplicates of existing content. Closing issue.

[2018-10-15 01:53] #26 closed

[2018-10-16 02:34] Cyberdolt commented on #42
I don't have Akamai CDN account that's why I wasn't able to check them all if you have I will provide you the subdomains whick contains irregular responses.

[2018-10-16 23:44] smartens80 commented on #40
This vulnerability still exists (the company I work for was just informed by a white hat hacker that this affected us). If a sub domain (eg: mysubdomain.test.com) is pointing to a Netlify CNAME that is no longer in use by the original party and removed from the previous Netlify project, another party can add that subdomain to their own Netlify project and take it over.

[2018-10-16 23:48] codingo commented on #40
@smartens80 it's one thing to highlight it, but it's another thing to do a claim. From my own testing it doesn't look like a claim isn't actually possible. Did they perform one in this case, or just let you know the DNS record was still there?

[2018-10-16 23:49] codingo commented on #40
Potentially older domains are still vulnerable (without a seed), but this would still be considered an Edge Case. You should certainly be asking for proof of takeover on all reports though @smartens80.

[2018-10-16 23:55] smartens80 commented on #40
@codingo yes, they took over the sub domain and sent over as a poc. I've since removed the affected CNAME records from our DNS. I can PM you more info if you like?

[2018-10-16 23:58] codingo commented on #40
Sounds good - I'm mostly interested in the format of the CNAME. What I suspect has happened is  that older DNS records can still be taken over, and that this will need to be adjusted on the repository. If you can DM me it would be great to collect further information.

[2018-10-17 00:09] codingo commented on #40
This is now confirmed as an edge case. Older DNS records for Netlify can still have a subdomain takeovers done on them.

[2018-10-18 07:08] codingo commented on #48
@Cyberdolt have you performed one of these already or do you have a reference writeup so I can add this to the main repository?

[2018-10-18 12:47] itachi73 opened #58 "Subdomain Takeover through strikingly"
## Service name
strikingly

## Proof
https://medium.com/@sherif0x00/takeover-subdomains-pointing-to-strikingly-5e67df80cdfd

## Conditions
I suppose that there is no conditions just needs to be not registered or expired.

[2018-10-18 17:32] mshassy commented on #38
Can someone clarify with *.herokudns.com right now? When I add a custom domain it's fully randomized. Something like larval-beet.y987yas98yd98ya9yhd.herokudns.com
It used to be www.domain.com.herokudns.com

[2018-10-18 18:43] dropocol commented on #38
@mshassy it is randomized now. Just confirmed it.

[2018-10-18 18:50] mshassy commented on #38
@dropocol Thanks alot for the clarification. I was soo lucky to do a takeover two days. Just found another one and BAM! they have put mitigations. Good move by Heroku anyway.

[2018-10-18 18:54] dropocol commented on #38
@mshassy Correct me if I am wrong but this means that the domain takeovers aren't possible any more?

[2018-10-18 18:57] mshassy commented on #38
@dropocol Technically you still can. If the domain admin decides to use *.herokuapp.com which is not randomized yet. But both *.herokudns.com and *.herokussl.com are not vulnerable.

[2018-10-18 23:18] codingo commented on #38
@mshassy What's the extent of this randomisation? These can often be defeated with a python script if the randomisation is somewhat predictable / basic (Amazon ELB's being a good example of this).

[2018-10-19 11:14] mshassy commented on #38
@codingo
oncave-bastion-olhqn7oqox74kixnwxpsyxkv.herokudns.com
introductory-chimpanzee-vpgvjaxri1ntnuoda6f03jqy.herokudns.com
fundamental-meerkat-dzdijagwzkou8z2ansfnmpsk.herokudns.com

3 instances where I tried to add the same domain.
Now it's fully randomized as you see. I'm not sure whether it's possible to brute force such.

[2018-10-20 16:39] m7mdharoun opened #59 "Subdomain Takeover Via HubSpot"
## HubSpot

## Proof
Example of https://hackerone.com/reports/38007

## Doc
I do the same takeover last 2 days so The vulnerability is still exist .

[2018-10-20 21:05] m7mdharoun opened #60 "Subdomain Takeover via smugmug"
## Smugmug

## Proof To Takeover
1) Create your custom subdomain on smugmug example : your-custom.smugmug.com
2) go to https://your-custom.smugmug.com/settings?nick=your-custom
3) Scroll down and add the vulnerable domain

`Note :` The cname of vulnerable subdomain must be SmugMug's CNAME (domains.smugmug.com)

[2018-10-21 09:39] codingo commented on #35
Linked back on the main repository, closing this as @Sechunt3r's comment is already addressed in @PatrikHudak's summary.

[2018-10-26 08:33] moe91 opened #61 "subdomain takeover cloudfront"
## Service name
Hi, I check many sites daily of this security vulnerability and extracted many subdomains and while trying to register it is a problem as in the image of the solution
![1 p2l3697uaa7mxkb6vng8yw](https://user-images.githubusercontent.com/44072994/47554814-e3d7a780-d912-11e8-9803-57dfc5dcf486.png)

## Proof

## Documentation

[2018-10-26 08:58] codingo commented on #61
This is still possible in some circumstances (such as when the cname is pointed twice). On my phone but I'll update appropriaty soon.

[2018-10-29 07:39] tolo7010 commented on #22
Hi @EdOverflow ,

I've been confirmed on my last report that this is not a valid vulnerability. This is the default Fastly error message if you are visiting the sub-domain directly which is not the intended use case, since it is part of a redirect by the CDN.

Regards,
tolo7010

[2018-10-29 08:08] moe91 commented on #61
I did not understand did you mean that there is a skip through a phone, for example, or you will download an update soon to overcome this problem

[2018-10-29 08:18] codingo commented on #61
This is better explained in #29

[2018-10-29 08:18] #61 closed

[2018-10-30 19:47] staaldraad commented on #38
The change was activated on the 16th of October and recorded in the Heroku changelog: [https://devcenter.heroku.com/changelog-items/1488](https://devcenter.heroku.com/changelog-items/1488)

The devcenter documentation has not been updated yet, but should be before too long.

[2018-11-01 12:17] bluedangerforyou commented on #26
How to claim ghs?
I tried and said I was Sammy but domain was not taken as I tested another one which said it was taken

[2018-11-05 07:39] bluedangerforyou commented on #21
I've tested 000webhost and it is not possible. They do not allow creating name that was used, then deleted, they mention in their support page they don't allow for security reasons

https://www.000webhost.com/website-faq/how-to-modify-my-username-or-domain-1

Crap service, not sure if companies use this. But I wanted to help

[2018-11-10 02:08] bluedangerforyou commented on #60
I see alot of cloudfront net, so cname answer must be domains.smugmug.com to be vulnerable correct?

[2018-11-10 02:52] bluedangerforyou commented on #45
What is the error on browser? Page not found? 404?

[2018-11-10 07:54] ZishanAdThandar opened #66 "Cloudfront 502 error"
**Cloudfront 502 error**

Error showing

[code]

when I used `dig` command no CNAME to cloudfront.

On 502 error it is not vuln to subdomain takeover.

[2018-11-10 17:57] bluedangerforyou commented on #45
Thank you.

[2018-11-11 00:51] bluedangerforyou commented on #60
Thank you.

[2018-11-11 00:57] bluedangerforyou commented on #38
If the company uses wild card ".domain.com then you cannot take it over because they "claim" all subdomains

[2018-11-12 10:43] codingo commented on #66
Please refer to the existing issue for these takeover types (#29).

[2018-11-12 10:43] #66 closed

[2018-11-12 10:44] codingo commented on #59
@m7mdharoun I'm pretty familiar with this one and somewhat doubt your claim. Could you please provide a link to your more recent issue (if disclosed) or at minimum some further information?

[2018-11-12 17:10] m7mdharoun commented on #59
I've disclosed the Bug but without the premssion of PayPal So someone report Hackerone Support and They warning me  Poc here http://info.tionetworks.com/poc

[2018-11-12 22:45] m7mdharoun commented on #59
I've disclosed the Bug Report but without the premssion of PayPal So someone report Hackerone Support and They warning me Poc here
![hubspot](https://user-images.githubusercontent.com/34725185/48379542-20f6b480-e6dd-11e8-87ea-81e7c3174227.jpg)

FingerPrint : Domain Not found
![hubspot finger](https://user-images.githubusercontent.com/34725185/48379610-64512300-e6dd-11e8-87eb-8603798d6e9d.jpg)

[2018-11-13 00:35] m7mdharoun commented on #59
@codingo Please check your twitter messages I've sent you the POC link

[2018-11-13 10:09] m7mdharoun commented on #11
@EdOverflow @codingo Takeover via Unbounce is still exist who said not vulnerable last week I do a takeover last week and my friend do 1 takeover from unbounce month ago

![unbounce](https://user-images.githubusercontent.com/34725185/48406400-048a6480-e73d-11e8-909d-5bd7ad5a441c.jpg)

[2018-11-13 10:12] m7mdharoun commented on #11
@EdOverflow @codingo  Takeover via Unbounce is still `Vulnerable` as @ak1t4 said there is `3 cases` ..   I do a takeover last week and my friend do 1 takeover from unbounce less than month ago
![unbounce](https://user-images.githubusercontent.com/34725185/48406517-621eb100-e73d-11e8-8313-49570a7432bf.jpg)

[2018-11-13 20:18] ak1t4 commented on #11
;)

[2018-11-13 20:23] m7mdharoun commented on #11
@ak1t4 They mentioned here this is `Edge Case` and in the main status `Not vulnerable`  ..
This Poc belong to the duplicate report which  got duplicate after traiged and fixed :-(

[2018-11-15 12:07] EdOverflow commented on #11
![image](https://user-images.githubusercontent.com/18099289/48551961-4d762080-e8d7-11e8-9524-b265ae3484b5.png)

 That awkward moment when you realise that you have left the target's hostname in the tab bar. :P

[2018-11-15 17:05] ak1t4 commented on #11
hahahaahah!!!

[2018-11-16 09:45] Regala opened #67 "Smartling Takeover"
## Service name

Smartling is a translation service.

## Proof

If the vulnerable domain has a CNAME pointing to e.g. *.smartling.com - open that domain and check for the string:

"Domain is not configured"

This means it **should** be possible to takeover.

## Documentation

Problem here is I can't actually be sure this works. A couple of subdomain takeover tools mention this service as well as t

[2018-11-16 14:04] codingo commented on #67
Seems like it's more likely an edge case where the domain was never configured, not where it was and was removed. Merits discovery / process though. Do you want to lab this on a test domain or do you need me to do for you?

[2018-11-17 14:33] jatoch opened #68 "GitHub.io Subdomain Takeover"
I have found a subdomain sub.example.com
And the CNAME is pointing to 1234.github.io

When navigating to sub.example.com
It will show the 404 error
There isn't a GitHub Pages site here.

So I created a github page and added sub.example.com as custom domain.

And it will say that this CNAME has already been taken.
Am I doing something wrong? Or is it not vulnerable.

[2018-11-17 15:52] EdOverflow commented on #68
There are multiple scenarios when it comes to GitHub subdomain takeovers. First we need consider the two types of GitHub pages/subdomains:

1. Username-based subdomains;
2. Organisation-based subdomain.

As the names already state, the former is based on the GitHub user's handle (e.g. `https://github.com/edoverflow ➞ edoverflow.github.io`) and the latter is one that uses an organisation's handle (

[2018-11-20 10:50] MuhammadKhizerJaved opened #69 "Subdoamin Takeover Possible via Intercom Help Center"
## Intercom Help Center

## Proof

If you get an Error Similar to this one that gives 404 Error simply go to [https://www.intercom.com/customer-support-software](https://www.intercom.com/customer-support-software) create a new account buy the service or get a free demo for 14 days

Then visit [https://app.intercom.io/a/apps/pr1twx7u/articles/site/settings](https://app.intercom.io/a/apps/pr1twx7u/a

[2018-11-22 10:38] sagi commented on #38
@codingo Thanks!

[2018-11-23 11:56] radenvodka opened #70 "Ask about response"
can a response like the one below take over?

; <<>> DiG 9.10.3-P4-Ubuntu <<>> -t A 0day.xxxxx.com
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NXDOMAIN, id: 12015
;; flags: qr rd ra; QUERY: 1, ANSWER: 0, AUTHORITY: 1, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;0day.xxxxx.com.             IN      A

;; AUTHORITY

[2018-11-23 19:08] shebi4 commented on #69
great khizar <3

[2018-11-23 20:55] codingo commented on #70
Closing. This is for maintaining contributions, not a support desk. You should include information of what you've tried, what happened, what your suspicions are. This currently is just trying to get somebody else to do all of the work for you.

Try harder.

[2018-11-23 20:55] #70 closed

[2018-11-26 23:32] m7mdharoun commented on #69
Seems Interested 👍 waiting validation

[2018-11-27 02:04] WebDevzz commented on #69
Awesome bro

[2018-11-28 18:02] Cyberdolt commented on #69
good

[2018-12-11 16:10] m7mdharoun commented on #23
Zendesk is still Vulnerable .. All Just check all the site subdomains if any subdomain is add to zendesk account and the other added too ( Only one will be the cname and the other one will redirect you to The finger print that give you the error )

Example if I add my subdomain ( support.example.com ) to my zendesk account with mine cname and add my other subdomain  ( help.example.com ) to the sam

[2018-12-22 23:46] m7mdharoun opened #71 "FreshDisk is still vulnerable"
## Service name
FreshDisk

## Proof
if the subdomain have an fingerprint and the cname is the same fingerprint
Yes the subdomain can be takeover !

FingerPrint
`` We couldn't find support.example.com
May be this is still fresh!

You can claim it now at http://www.freshdesk.com/signup ``

## Documentation
HarryMag could takeover a Subdomain
http://support.hvst.com/support/login
![freshdisk](https:/

[2018-12-23 10:59] shoriful19 opened #72 "Subdomain Takeover through readme.io"
## Subdomain Takeover through readme.io
readme.io is another service which's subdomains can be taken over if it says **"Project doesnt exist... yet!"**. There's a sign-up button and if someone does, then just simply entering the domain name on custom domain option can take over it.

## Proof
I took over developer.bksah.com earlier. but didn't keep any PoC though.  But it looks same like that as re

[2018-12-23 14:09] EdOverflow commented on #71
Thank you for raising this issue, @m7mdharoun. @codingo, we really need to look into FreshDesk at some point.

[2018-12-23 19:15] m7mdharoun commented on #71
@EdOverflow @codingo I want to add : when you sign up at freshdisk you will get any subdomain ex : mysubdomain.freshdisk.com you can request to change your subdomain to any avialable subdomain  by only Freshdisk support.

[2018-12-27 17:00] edwardwall commented on #72
Added in #55

[2019-01-06 05:29] shoebpate1 opened #73 "Instapage Takeover"
## Instapage

## Proof
http://www.geekboy.ninja/blog/hijacking-tons-of-instapage-expired-users-domains-subdomains/

Is it still possible ?

[2019-01-06 09:33] arbazkiraak commented on #73
Hi @CaptainFreak

* I heard it was fixed right after that report & not possible to takeover anymore on instapage.

[2019-01-09 04:35] mardinyadegar commented on #49
It doesn't appear so, I found a discourse subdomain that was serving me a 404 when visiting. Upon trying to create a demo using the subdomain that was returning a 404, I was given the following error you can see in the attached image.
<img width="301" alt="screen shot 2019-01-08 at 10 35 02 pm" src="https://user-images.githubusercontent.com/5704516/50877044-b8068280-1395-11e9-9c63-45969674aeb1.png

[2019-01-11 18:58] sp1d3r opened #74 "Subdomain takeover via LaunchRock"
## Service name
LaunchRock offers service to create marketing pages.

## Proof
I was able to perform subdomain takeover in the private program on H1. The POC costed me a 9$ to buy the Premium plan on service (adding custom subdomain is available only on Premium plan). The issue was confirmed, fixed, and rewarded.

## Documentation
String to determine subdomain takeover:
[code]
The vulnerable subdo

[2019-01-18 20:03] Ciph3r00t opened #75 "Requested Domain Unavailable"
## Service name
Distil Networks Portal

## Fingerprint
Requested Domain Unavailable

## Documentation
1. Log your cPanel administrative portal
2. Select the DNS Zone Editor icon in the Domains section.
3. Select the domain you are modifying from the drop-down box.
4. Scroll down to the heading named Add DNS Record.
5. In the Host Record field, enter the your www.
6. Set the TTL to 1 Minute.
7. Sel

[2019-01-31 15:16] itachi73 commented on #38
Do you have any idea how to takeover subdomain with the following records
Status : NXDOMAIN
CNAME : something.herokussl.com ?

[2019-02-09 10:14] OneTrust1 opened #77 "nau.edu.ua"

[2019-02-09 10:15] #77 closed

[2019-02-20 23:03] JR0ch17 commented on #58
@EdOverflow , I just got a subdomain takeover from Strikingly just now for H1-415, I confirm it works :).

[2019-02-21 16:20] MuhammadKhizerJaved commented on #29
Okey! so i found a sub that's giving the save bad request error on both http & https and have a CNAME as site.com tried takeover successfully added to cloudflare dist but the error remains the same so i guess it's indeed fixed

[2019-02-21 18:23] sp1d3r commented on #29
It won't work in this case, agree, but there are edge cases when it will still work. I had two such edge CF takeover cases (Jan 2019) in the IBM program

[2019-02-21 18:25] MuhammadKhizerJaved commented on #29
@sp1d3r Indeed i was wrong i played a little and was able to takeover the subdomain successfully!
<img width="1325" alt="screenshot 2019-02-21 at 11 24 37 pm" src="https://user-images.githubusercontent.com/20904313/53192294-f0091280-362f-11e9-8c82-ff8ab6486764.png">

[2019-02-21 18:26] sp1d3r commented on #29
Gotcha, congrats with the vuln!

[2019-02-21 19:24] EdOverflow commented on #58
Thank you, @JR0ch17.

[2019-02-21 19:57] riramar opened #78 "APIs Subdomain Takeover"
Usually we see the Subdomain Takeover vulnerability affecting the front-end but I think APIs can also be affected.
For example Apigee use the same CNAME approach to set up an environment (e.g. https://docs-new.apigee.com/custom-domain). The problem is you need a paid Apigee account to create the custom domain.
Do you guys have any reference example or reference that Apigee APIs or any other vendor

[2019-02-21 22:55] k3r1it0 commented on #67
is this still takeover-able

[2019-02-27 02:45] typh00n commented on #29
@MuhammadKhizerJaved What was your solution, How did you manage to takeover it

[2019-02-27 06:27] ghsec commented on #35
if subdomain return public IP is possible subdomain takeover?

[2019-02-27 06:29] ghsec opened #79 "Microsoft Azure public IP subdomain takeover"
## Microsoft azure

is it possible subdomain takeover on azure?

subdomain returns azure 404 page and after checking with dig A records is public IP address

[2019-03-01 07:38] El-t0ro commented on #29
@MuhammadKhizerJaved  hey can you please tell us how you manage to takeover it?

[2019-03-03 15:40] sumgro commented on #35
If the sub-domain points to traffic manager service for Azure, is the takeover possible? When attempting to create a traffic manager profile using the same name as in the CNAME, getting error which mentions "Domain name xyz.trafficmanager.net already exists. Please choose a different DNS prefix".

Has Microsoft patched the service or am I doing something wrong?

Thanks

[2019-03-03 16:56] PatrikHudak commented on #35
@sumgro Microsoft haven't patched the service and you are doing everything ok.

You are getting a error message because the Traffic Manager profile actually EXIST, so you are unable to claim it. When you make a DNS request to *.trafficmanager.net and get NXDOMAIN there are two possible outcomes:

1. The Traffic Manager with requested name really don't exist - you can go ahead and register it. In t

[2019-03-03 17:43] sumgro commented on #35
Thank you for the revert @PatrikHudak, really appreciate the detailed reply.

I'm fairly new to the subdomain takeover subject. When testing for the subdomain in question, the dig <subdomain.domain.com> confirmed the error NXDOMAIN (thereby bringing a smile) and then the CNAME pointed to xyz.trafficmanager.net.

From your reply, I understand that the profile already exists with the same name as th

[2019-03-03 17:57] sumgro opened #80 "subdomain takeover at FeedPress not working"
## Service name: FeedPress

## Documentation
Based on the information shared in the hackerone report for FeedPress based subdomain, not able to takeover the ownership. The error message on the URL stated - FeedPress , The feed has not been found.
You have a blog or a website? Let us handle your RSS feeds.
-------------
After creating the account on feedpress, and trying to takeover the subdomain b

[2019-03-04 15:44] JLLeitschuh commented on #80
Sometimes the error isn't truly indicative of being able to perform a takeover.

Eg.
This site indicates an error, suggesting that the sub-domain takeover is possible.

https://feed.gradle.org/

However, these sites are completely valid indicating that the domain is actually in use in a way that can't be compromised.

- https://feed.gradle.org/blog.atom
- https://feed.gradle.org/blog/features.atom

[2019-03-06 15:35] ziak2677 opened #81 "subdomain Takeover through wordpress.com"
This Issue is vulnerable or not?

(Warning! Domain mapping upgrade for this domain not found. Please log in and go to the Domains Upgrades page of your blog to use this domain.)

If vulnerable then how i takeover through wordpress

[2019-03-07 16:29] ziak2677 commented on #69
This Issue is vulnerable or not?

(Warning! Domain mapping upgrade for this domain not found. Please log in and go to the Domains Upgrades page of your blog to use this domain.)

If vulnerable then how i takeover through wordpress??
kindly guide.

[2019-03-10 20:33] ziak2677 opened #82 "Error of Cloudflare is vulnerable or Not"
Can anyone guide me that it is vulnerable or not?
The CNAME is pointed to the cloudflare
Web Page Blocked
Access to the web page you were trying to visit has been blocked in accordance with company policy. Please contact your system administrator if you believe this is in error.

[2019-03-10 20:36] ziak2677 commented on #26
Hi i saw a error (Web Page Blocked
Access to the web page you were trying to visit has been blocked in accordance with company policy. Please contact your system administrator if you believe this is in error) is it vulnerable?
The CName is pointed to the cloudflare

[2019-03-11 17:18] MyRootChutiya commented on #29
hello @sp1d3r @MuhammadKhizerJaved  can you please explain , how you able to takeover ..?

[2019-03-14 16:03] sumgro commented on #36
I've come across a sub-domain which confirms the error message:
<Error>
<Code>NoSuchBucket</Code>
<Message>The specified bucket does not exist</Message>
<BucketName>randombucket-assets</BucketName>

When use the dig command, the CNAME points to a random.cloudfront.net URL.

On trying to follow the above steps, getting below message while creating the S3 bucket with same name:
"Bucket name already

[2019-03-14 23:52] bgxdoc commented on #23
i tried taking over an expired zendesk subdomain and it worked but after i active the hep center in zendesk setting menu, it should appear on the subdomain but it is still redirecting to the previous error. Anybody can tell me, if it takes time to get published on the main subdomain after activation.

[2019-03-15 20:44] JLLeitschuh commented on #23
@bgxdoc If you could describe your steps to achieve it that worked, that would be awesome.

[2019-03-20 22:19] ericnyamu1 commented on #79
this will help.

https://0xpatrik.com/subdomain-takeover-starbucks/

[2019-03-21 02:44] sumgro commented on #35
I've come across a sub-domain, pointing to an azure web app service. This CNAME itself has 3 levels like **xyz.abc.m.azurewebsites.net**. It shows the NXDOMAIN error when checking with dig.

However, when I try to create the App on the Azure Portal as **xyz.abc.m** to takeover, it does not allow periods in the same. Anyone aware of how can such scenario be handled for sub-domain takeover?

Thanks

[2019-03-21 06:53] #79 closed

[2019-03-23 08:15] sumgro commented on #37
Not able to takeover a subdomain pointing to GitHub.io. Error with CNAME is already taken.

snapshot attached.

Is GitHub takeover still working for anyone?

![Screenshot 2019-03-23 at 1 41 20 PM](https://user-images.githubusercontent.com/11391119/54863702-e29b9100-4d71-11e9-97b2-887eebe6869f.jpg)

[2019-03-23 14:42] oldesec opened #84 "A simple opinion."
Hi.

I think it is good to mark "time" in the template.

Example) "Kinsta" service was added. But when?

So, I think it would be nice to add "time" to the "All entries" table.

By doing so, the newly added service can be confirmed intuitively.

Thanks.

[2019-03-23 15:58] Avileox commented on #84
Thank you for your opinion but most of the services have a reference issue where issue contains information like time and other details about the takeover.

[2019-03-28 00:17] nikokosm commented on #35
I also faced this. I found a subdomain that resolved to `xyz.easteurope.cloudapp.azure.com` and could not use the `.` character. Anyone else got around this?

[2019-03-28 00:21] sumgro commented on #35
found this in relation to the above, but haven't been able to go through in details to understand:
https://docs.microsoft.com/en-us/azure/app-service/environment/using-an-ase

[2019-03-29 23:58] Quikko opened #85 "Subdomain Takeover through ngrok"
## Service name
Ngrok allows you to expose a web server running on your local machine to the internet. Just tell ngrok what port your web server is listening on.

## Proof
Visiting the subdomain from your browser will show a HTML page, like shown below:

![proof](https://user-images.githubusercontent.com/17740503/55267918-a68e9180-5285-11e9-81f9-a32669c441e7.png)

Perform a `dig` or `host` command

[2019-04-01 12:25] Ice3man543 commented on #73
@EdOverflow I can confirm, this takeover is not possible anymore. They fixed the flaw after geekboy's issue.

[2019-04-02 15:36] sumgro commented on #35
Anyone heard of CNAME pointing to cloud.azure.com?

[2019-04-04 14:29] ericnyamu1 commented on #26
Hi, does anybody know how to takeover a subdomain via bitly.com

[2019-04-04 14:33] ericnyamu1 commented on #70
ofcourse NOT.there's no cname for takeover.

[2019-04-05 03:51] sumgro opened #86 "Intertesting Find"
## Service name

AWS S3  && Fastly

I've come across a sub-domain with a CNAME pointing to Fastly.net service while the actual http fingerprint confirms the S3 bucket Not in Use.

Is there are possibility of takeover through S3 bucket (which is not known) while the CNAME points to i2.shared.us-eu.fastly.net?

[2019-04-11 09:47] heenarawal commented on #11
Hi,
where I can find vulnerable domain sites because I  tried for many one but not get it to perform subdomain takeover. Even search in google dork.

[2019-04-11 16:31] AhmedOzil10 opened #87 "is bookbaby is Vulnerable or not ?"
## Bookbaby

I found a subdomain with CNAME has records to  Bookbaby records and doesn't belong to the main Subdomain Records
After I dig A making sure that it's possible to Subdomain Takeover but is that Really Vulnerable or Not ?

[2019-04-11 22:58] codingo commented on #14
These do appear to be vulnerable now with a paid account. Although Mashery seeks account approval manually, once the account is paid this does not include any sort of company verification (such as a company e-mail, or A record).

[2019-04-11 23:05] codingo commented on #87
Have you tried / tested it? The intention of this repository is a documentation of knowledge, but not a support desk where this is verified for you.

[2019-04-11 23:05] #87 closed

[2019-04-11 23:09] codingo commented on #24
Resolved with #83

[2019-04-11 23:09] #24 closed

[2019-04-12 08:08] BlackFan commented on #29
It seems that CloudFront is no longer vulnerable to a subdomain takeover.

https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html#alternate-domain-names-requirements

[2019-04-12 12:52] EdOverflow commented on #84
Hi @oldesec,

Thank you very much for your feedback. I am currently working on redesigning this project entirely because I am not convinced that GitHub is the best medium for maintaining a list like this. A redesign should hopefully resolve the issue concerning including dates associated with entries.

[2019-04-12 12:52] #84 closed

[2019-04-15 05:36] gujjuboy10x00 opened #89 "Ghost subdomain takeover not possible on 404: Page Not Found The thing you were looking for is no longer here, or never was"
## Service name
This is only possible to takeover if http://vulnerabledomain.ghost.io/ghost/#/signin is redirect to https://offline.ghost.org/#/signin  (where vulnerable domain is vulnerable host like adminpatel etc. )

## Proof
go to https://adminpatel.ghost.org/ghost/#/signin and takeover it

[2019-04-16 06:28] ericnyamu1 opened #90 "Clodfront Subdomain Takeover No Longer Possible"
Hi,
Bad news for cloudfront subdomain takeovers.Now aws want a ssl certificate for the domain you want to add to your CF distribution.Read [more here](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide CNAMEs.html#alternate-domain-names-requirements) .When i try to do a subdomain takeover i get this error

https://i.postimg.cc/QCZwky0Y/aws-subdomain-takeover-not-possible.png

[2019-04-16 06:29] ericnyamu1 commented on #90
Correct link for the announcement

https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuideCNAMEs.html#alternate-domain-names-requirements

[2019-04-16 09:24] #90 closed

[2019-04-16 09:26] ericnyamu1 opened #91 "Cloudfront Subdomain Takeover No Longer Possible"
Hi,
Bad news for cloudfront subdomain takeovers.Now aws wants a ssl certificate for the domain you want to add to your CF distribution.Read [more here](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuideCNAMEs.html#alternate-domain-names-requirements) .When i try to do a subdomain takeover i get this error

https://i.postimg.cc/QCZwky0Y/aws-subdomain-takeover-not-possible.png

[2019-04-17 23:36] m7mdharoun commented on #38
More Prove about Edge case you can find it on my blog
https://www.mohamedharon.com/2019/04/herokudns-still-vulnerable.html

[2019-04-18 07:45] EdOverflow commented on #91
Thank you for submitting an issue ticket. There is already a ticket for this: https://github.com/EdOverflow/can-i-take-over-xyz/issues/29.

[2019-04-18 07:45] #91 closed

[2019-04-19 09:19] PareshParmar opened #92 "subdomain takeover via ngrok service"
## Service name
ngrok
this already mentioned in https://github.com/EdOverflow/can-i-take-over-xyz/issues/85
but few steps is missing there.
when you run `./ngrok http 80 -subdomain cnameentry` it will run ngrok on cname domain only , not subdomain, i set up ngrok on my own subdomain to test it.

## Proof
if you visit vulnerable subdomain, error will be: `Tunnel subdomain.example.com not found`
che

[2019-04-20 16:31] Cillian-Collins commented on #23
I just got a successful takeover today.

Simply located a domain which was redirect to a Zendesk page saying "This help center has been deleted".

Found the CName. Registered that on ZenDesk as my account. Now it's pointing to mine. Setup an SSL cert so that it stops redirecting to my ZenDesk, and instead it actually hosts it on the real subdomain.

Need to figure out a way to get stored XSS via z

[2019-04-20 20:34] sostoli commented on #22
Hi @EdOverflow,
Is it still possible to claim subdomain on Fastly?

Regards,

[2019-04-20 23:08] JLLeitschuh commented on #23
Double dipping there? Get a bounty from ZenDesk and the company?

@Cillian-Collins See if you can use the ZenDesk name to also generate emails from that domain, you can leverage that email to pivot into internal slack/jira instances.

Read:
https://medium.com/intigriti/how-i-hacked-hundreds-of-companies-through-their-helpdesk-b7680ddc2d4c

[2019-04-20 23:14] ebelties commented on #23
Takeover is possible, and you can just post HTML (JavaScript, XSS) with the helpdesk webpage.

[2019-04-21 14:09] yosefmahmoud commented on #23
If the Name of domain not take you can take over it You need to Enable Ssl Certificate and  Enable Host Maping option and it will work

[2019-04-25 10:50] Avileox commented on #29
Goodbye to CloudFront subdomain takeovers.
https://aws.amazon.com/blogs/networking-and-content-delivery/continually-enhancing-domain-security-on-amazon-cloudfront/

[2019-04-25 10:50] #29 closed

[2019-04-26 09:41] sumgro opened #94 ".netdna-cdn.com based subdomain takeover?"
## Service name
.netdna-cdn.com

## Description
Is there a possibility to takeover sub-domains with CNAME pointing to .netdna-cdn.com or MaxCDN service possible?

[2019-04-29 01:49] m7mdharoun commented on #22
Yes Bro I do a Takeover last 2 days for a 4 domains.

[2019-04-29 03:12] sostoli commented on #22
Hi bro. Is it possible to have the required steps?

Le lun. 29 avr. 2019 à 2:49 AM, m7mdharoun <notifications@github.com> a
écrit :

[2019-05-03 21:54] itachi73 commented on #48
@Avileox
How it possible to take a subdomain over as long as it has an A record for a kinsta dedicated IP ?

[2019-05-04 04:44] Avileox commented on #48
Most Probably, It is impossible to takeover subdomain with A record through Kinsta.
Here is the response from kinsta for orphan CNAME.
404 Not Found
Content-Length=[33604]
Server = kinsta-nginx

[2019-05-04 05:01] itachi73 commented on #48
I met the same response with an A record

[2019-05-05 11:46] Avileox commented on #48
Did you try to create CNAME through Kinsta?

[2019-05-06 06:59] sumgro opened #95 "POC for azure-api.net service"
Anyone know/have the process to create a POC for azure-api.net service?

[2019-05-06 08:09] janmasarik commented on #69
Doesn't seem to work in case the domain is (or maybe was already) taken:

![image](https://user-images.githubusercontent.com/18024936/57212856-45c14a00-6fe5-11e9-82b1-f59a1d7134d4.png)

The non-vulnerable page seems to be the same one:

![image](https://user-images.githubusercontent.com/18024936/57212910-7608e880-6fe5-11e9-9f95-2c770e74e6e8.png)

However, it sometimes returns a different error mes

[2019-05-08 18:34] vishnugadupudi commented on #11
When you add the domain name to the account, you will have to validate it again before it'll become active. This requires you to control the DNS of the domain, which you don't. So therefore subdomain takeover is not possible :(

[2019-05-09 10:53] Sushmitha-shinelikestars commented on #26
Hi, Can anyone guide me how to sign up in overvoice.com

It is asking for business email id, But I don't have any business email id.

Could anyone please help me here in creating an uservoice account as I need to test for the subdomain.

Thanks,
Sushmitha

[2019-05-12 12:09] Tounsi007 commented on #26
Hi,
How can I do that with apigee.net
Please help

[2019-05-13 08:00] Vaghasiyayash commented on #38
CC is required to added customer domain :/

[2019-05-13 14:18] n1ghtfox commented on #22
Can someone post step by step subdomain takeover on fastly?

[2019-05-13 17:05] m7mdharoun commented on #22
@n1ghtfox  its simple and easy ..
1) create a new service ( ex: version 1) .
2) add subdomain or domain if accept to add your domain this mean you can takeover it then do the next steps.
3) then in the Origin Host  add Your VPS ip without ssl if not include port 80.
4) Active your service ( version 1 )

http://domain.com.global.prod.fastly.net and it will show your vps page.
Sure you can wait 10 m

[2019-05-13 18:38] n1ghtfox commented on #22
Thanks, i could never register domain, so i thought there was other way
around.

On Mon, May 13, 2019 at 9:05 PM m7mdharoun <notifications@github.com> wrote:

[2019-05-16 16:31] 0xc0ffeee commented on #44
This is not vulnerable. I just tried it on an endpoint that was hosted on Webflow and had 404 on both HTTP and HTTPS.
<img width="839" alt="webflow" src="https://user-images.githubusercontent.com/35871757/57871029-6ef88c00-77d6-11e9-8a1b-33b51d79fa62.png">

[2019-05-16 16:34] Avileox commented on #44
Thank you for the update, can you please show the initial screenshot of "404" page

[2019-05-16 19:46] 0xc0ffeee commented on #44
<img width="936" alt="404_-_Page_not_found" src="https://user-images.githubusercontent.com/35871757/57882423-a6286680-77f1-11e9-999d-7f617269d1c3.png">

[2019-05-17 12:34] Avileox commented on #44
I can confirm that it is not vulnerable anymore,
Thanks for keeping us updated.

[2019-05-17 17:17] vishnugadupudi commented on #11
Hi @m7mdharoun Here is your challenge takeover **info.hacker.one** which is pointing to **unbounce services**

[2019-05-19 11:50] m7mdharoun commented on #11
Hi @vishnugadupudi as @ak1t4 said :

info.hacker.one is already in use and already has pages example :
https://info.hacker.one/the-data-protection-officer/
https://info.hacker.one/2018-hacker-report/

Domain is already in use' (which means that the domain is claimed)

So not possible to takeover it .

Kind Regards,
Mohamed Haron.

[2019-05-20 04:35] vysecurity commented on #95
I've done it once, I just uploaded an API that just spits out the customer name.

[2019-05-20 04:40] sumgro commented on #95
Great, could you share the steps to create the POC.

[2019-05-20 14:21] hakluke commented on #95
@sumgro I haven't had a chance to try this, but I'm guessing you just do this:

1. Create an Azure API instance: https://docs.microsoft.com/en-us/azure/api-management/get-started-create-service-instance
2. Configure a custom domain: https://docs.microsoft.com/en-us/azure/api-management/configure-custom-domain

[2019-05-20 14:24] hakluke commented on #86
@sumgro usually if it is an S3 bucket, the bucket name would be in the HTTP response, in which case you could takeover the domain by simply registering that bucket name.

I'm not sure if this is always the case though!

[2019-05-20 14:29] hakluke commented on #81
@ziak2677 it sounds like the domain has been mapped to an existing Wordpress account, but that account does not have domain mapping enabled. If this is the case, the domain is not vulnerable.

If the Wordpress takeover is possible, it will display the text `Do you want to register *.wordpress.com?`, as outlined in https://github.com/EdOverflow/can-i-take-over-xyz

[2019-05-20 15:29] sumgro commented on #86
@hakluke thanks for the suggestion. I was able to discover the bucket name from the HTTP response.

Now I understand, that the S3 bucket is pointed at using the Fastly service.

One more question:
What is the best way to confirm the endpoint given by AWS is the exact match with one pointed to by fastly service.

[2019-05-20 16:45] hakluke commented on #86
@sumgro You can derive the bucket endpoint from the bucket name using the schema outlined in this doc: https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html
[code]

[2019-05-21 08:57] vishnugadupudi commented on #11
@m7mdharoun :)

[2019-05-22 00:19] #81 closed

[2019-05-22 14:21] venkatst commented on #22
@m7mdharoun,

In 2nd point, you have mentioned add subdomain. This is victim subdomain right?
And what if it get rejected. Is there a way to control traffic like redirection?

[2019-05-25 20:34] Ramy-Gerges commented on #35
@PatrikHudak  Hey, What's the FingerPrint ?

[2019-05-27 18:16] noobh4x opened #97 "bitbucket no longer supporting cnames?"
## Service name
bitbucket

## Proof

it appears that bitbucket doesn't support this anymore..

## Documentation

[2019-05-28 10:18] Avileox commented on #97
Thank you for the update, Do you have any proof or supporting material like 404 response or any proof of authentication implantation from bitbucket for takeover.

[2019-06-02 19:11] harinath25 opened #98 "issue"
## Service name

## Proof

## Documentation

[2019-06-02 19:11] #98 closed

[2019-06-03 07:18] sumgro opened #99 "Anyone seen CNAME pointing to ssl.<app-name>.azurewebsites.net?"
I've come across a CNAME for a sub-domain pointing to ssl.<app-name>.azurewebsites.net. Anyone aware of how can this be setup in Azure?

[2019-06-06 08:02] PjMpire commented on #69
Takeover is edge case. user can claim domain and turn off helpcenter which directs to the 4040 page. I discovered that the domain can be registered if released by thew workspace owner though.

![image](https://user-images.githubusercontent.com/25329113/59016562-7214f400-8839-11e9-9378-81d196bd76b3.png)

[2019-06-09 13:01] n1ghtfox commented on #22
i think i'm up to something can u help me out on fastly?

On Wed, May 22, 2019 at 6:21 PM venkatst <notifications@github.com> wrote:

[2019-06-17 08:04] ericnyamu1 opened #101 "Fly.io Service For Subdomain Takeover"
Hi,

Apparently fly.io service can be sued to takeover a subdomain.Anybody know how to takeover a subdomain via fly.io?
This vulnerability got a H1 researcher a nice bounty

https://hackerone.com/reports/576857

[2019-06-17 09:30] Avileox commented on #101
### Steps to add Subdomain through fly.io

- Create an account through fly.io
- Add your project to fly.io (Any random name for testing)
- After that you can go through the panel and there is an option name `Add hostname` Where you can easily add subdomain you wanted to takeover:

![subtest1](https://user-images.githubusercontent.com/40210313/59589889-7d550300-9108-11e9-9aad-9692de865e12.png)

[2019-06-18 15:48] KeepWannabe opened #103 "Acquia Takeover"
## Can i Takeover via [acquia](https://cloud.acquia.com) ?

![image](https://user-images.githubusercontent.com/31374361/59699042-7c7aaa80-91b6-11e9-9fb6-a57868b5f133.png)

[2019-06-24 10:20] vaadataa commented on #22
I confirm that it is possible to take over a subdomain pointing at Fastly, not sure how much of an edge case it is.

DNS:

[code]

I was able to take over the subdomain by creating an account and specifying the subdomain in the domain configuration for a service.

[2019-06-24 10:25] m7mdharoun commented on #22
@vaadataa I confirm this too last month I takeover 4 subdomains pointing to `Fastly`

 https://www.mohamedharon.com/2019/06/can-i-takeover-xyz-steps.html

[2019-06-26 11:10] r0hack opened #104 "Subdomain Takeover via Airee.ru"
## Service name
Airee.ru (Russian service) for accelerate and protect website

## Proof
1) Check subdomain
![image](https://user-images.githubusercontent.com/10026540/60174891-c3058000-981a-11e9-9d8e-45ffb8d6b1ec.png)
the service was unpaid

2) Create account in Airee and add subdomain cdn.site.ru
![image](https://user-images.githubusercontent.com/10026540/60175037-1d064580-981b-11e9-94cf-0b73a007

[2019-06-26 12:13] SoufianeAbbad commented on #104
What is the CNAME for this provider?

[2019-06-26 12:37] r0hack commented on #104
![image](https://user-images.githubusercontent.com/10026540/60180252-3c579f80-9828-11e9-8ecc-e75e6fa6ebe2.png)

[2019-06-26 12:40] r0hack commented on #104
![image](https://user-images.githubusercontent.com/10026540/60180419-abcd8f00-9828-11e9-9900-d8e1c597b13a.png)

[2019-07-09 08:13] soynek commented on #36
id 64053
opcode QUERY
rcode NOERROR
flags QR RD RA
;QUESTION
girishsarwal.me. IN CNAME
;ANSWER
;AUTHORITY
something.me. 899 IN SOA ns-732.awsdns-27.net. awsdns-hostmaster.amazon.com. 1 7200 900 1209600 86400
;ADDITIONAL

in s3 bucket, i'm facing this problem. What's solution for this ?
![Screenshot_1](https://user-images.githubusercontent.com/22101049/60870954-d4c62a80-a1ff-11e9-8952-1f295333bf6b.

[2019-07-09 11:05] codingo commented on #36
@soynek You're going to need to dig into the documentation for this one, we've had to draw the line at this repository being treated like a support desk. This is here to outline the work people have contributed back, and to outline vulnerable areas, but if you have a specific subdomain takeover question then the documentation for that service is where you should be looking.

[2019-07-09 18:24] soynek commented on #36
I want to takeover a subdomain  and i face that problem as in picture showing. Any solution for this?

[2019-07-09 18:42] Dec0y-jb commented on #22
This doesn't work for me. If the tld is already registered - it's not possible. The following error is returned:

`Domain 'redacted.com' is already taken by another customer`

Definitely an Edge Case.

[2019-07-11 01:35] Xro0T commented on #22
Yes I also got the same error

[2019-07-15 23:17] jubobs commented on #40
@codingo Can you shed more light on

?

I know what you mean by "old DNS records for Netlify" (ones where the canonical name doesn't have a random subdomain), but how can you claim them?

[2019-07-16 16:20] r0hack commented on #104
@EdOverflow, can add to the table.

[2019-07-21 03:26] riramar commented on #29
https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/cnames-and-https-requirements.html#https-requirements-certificate-issuer

`If you want to use an alternate domain name with your CloudFront distribution, you must verify to CloudFront that you have authorized rights to use the alternate domain name. To do this, you must attach a valid certificate to your distribution, and make sure

[2019-07-21 06:04] Avileox commented on #29
@riramar  If it's possible, It will be a bypass for takeover and probably a bug on Amazon Cloudfront itself rather then misconfiguration on Cloudfront lead to a takeover.

[2019-07-22 09:08] random-robbie commented on #103
I am currently struggling with this as it creates random subdomains so far and i am not looking to upgrade to find out about the prod.

[2019-07-23 11:35] gauravdrago commented on #23
how it worked what you changed

[2019-07-23 12:13] bgxdoc commented on #23
on above comment, yosefmahmoud has already described the solution. It's the same thing i did to make it work.

" If the Name of domain not taken you can take over it You need to Enable Ssl Certificate in security settings and Enable Host Maping option in account settings and it will work. "

[2019-07-23 13:57] gauravdrago commented on #23
I got one takeover but it seems zendesk need premium option to stop
redirection  any trick to get rid of premium or to get zendesk premium free
for testing

[2019-07-23 14:23] bgxdoc commented on #23
@gauravdrago
I believe Zendesk has Free Trial option, use that. Incase you have used the trial account before then simply create a new account and then use free trial.

[2019-07-23 14:32] gauravdrago commented on #23
But in trial hostmaping not allowed.

[2019-07-23 15:52] bgxdoc commented on #23
@gauravdrago
It worked for me back then. but why not now, I don't know, i guess they might have disabled it for trial accounts.
I will look into this once i get free time from my work.

[2019-07-23 16:04] gauravdrago commented on #23
Ok boss.

[2019-07-23 18:12] yosefmahmoud commented on #23
Not Sure About The Free Trial and Premium . To Solve This Zendesk has Three cases when you see helpdesk is close :

1-  Deleted  Help Desk You can Take over it
2-  inactive you can't Take over it until 90 days passed
3-  sometimes compaines used only chat widget from zendesk without help center it will respond with the same message but You can't take over

Not Sure if there are any cases or not if

[2019-08-04 00:38] mouanime04 commented on #22
me to same error any update ??

[2019-08-04 04:20] sumgro commented on #22
Yes, its an edge case.

I was able to takeover a subdomain for a H1 program and was awarded bounty about a week back.

[2019-08-06 13:36] No1d3a commented on #22
The same error, Any updates!?

[2019-08-07 01:07] sumgro commented on #22
Just for confirmation of how Fastly is still possible to takeover, check out www.litium.de. This shall confirm the edge scenario.

[2019-08-07 10:51] #22 closed

[2019-08-07 16:32] Phoenix1112 commented on #69
hello bro.. i need help. I'm now a member of the site. I can't find which part of the target subdomain name to enter. please help with this.

![image](https://user-images.githubusercontent.com/42475284/62640258-db080d80-b949-11e9-8890-98cdbef1ca7d.png)

which section do I need to enter from here?
@MuhammadKhizerJaved @PjMpire

[2019-08-07 16:46] PjMpire commented on #69
Articles tab on the left hand side -> settings -> setup the basics

[2019-08-07 17:03] Phoenix1112 commented on #69
@PjMpire I appreciate you trying to help... I found the part i call. in which box should I type the name of the target site?

![image2](https://user-images.githubusercontent.com/42475284/62642414-579ceb00-b94e-11e9-8e22-d41d6b8fee8a.png)

[2019-08-07 18:17] PjMpire commented on #69
@Phoenix1112 as i mentioned in my previous post. Takeover is edge case. If the name has been registered but the help center has been disabled, takeover is not possible

[2019-08-20 16:18] sdffsdaf commented on #68
nice work !

[2019-08-21 09:59] c0deur opened #108 "Subdomain takerover through voxsites.com"
## Service name

Voxsites.com

Is it possible if any organization's subdomain is pointing on xxx.voxsites.com?

[2019-08-27 08:29] eranshmuely commented on #29
someone recently tookover a subdomain via cloudfront:
https://hackerone.com/reports/317005

[2019-08-27 10:19] codingo commented on #29
@eranshmuely this report is from two years ago (where this was possible), it's just that it has only been disclosed in the past 15 hours.

[2019-08-27 10:50] eranshmuely commented on #29
Oh, right, sorry about that

[2019-08-30 10:22] king-coder commented on #23
still possible

[2019-09-01 08:17] AdmiralGaust commented on #35
I found a subdomain pointing to 104.211.97.138. The ip certificate is issued to *.azurewebsites.net and the subdomain does not contain txt record.

Is it vulnerable to subdomain takeover?

[2019-09-02 04:13] PjMpire commented on #44
Webflow sites are 100% still vulnerable to takeover so you may want to change this

Just had a report triaged to confirm.

regards

[2019-09-02 04:19] Avileox commented on #44
Can you please share steps to takeover through webflow.

[2019-09-02 04:24] PjMpire commented on #44
-Create webflow account and upgrade to basic paid option
- Create blank site
- Go to project settings > hosting ---scroll down to custom domains section and add domain linking to webflow 404

![Screenshot_3](https://user-images.githubusercontent.com/25329113/64090208-f2b49500-cd41-11e9-805e-e51d2c32216a.png)

regards

[2019-09-02 04:40] Avileox commented on #44
Thank you for the update

[2019-09-02 16:08] 0xc0ffeee commented on #44
Interesting. I had a "404 Not Found" response on a webflow website but I was still not able to complete the takeover.

I would receive the following error: "That domain is already connected to a Webflow site."

Mind sharing more information without disclosing the target? @PjMpire

[2019-09-03 20:59] PjMpire commented on #44
@0xc0ffeee If the custom domain is registered but the site is not published  it willresult in a webflow 404 page, hence my advice to update this to edge case.

![webflow 1](https://user-images.githubusercontent.com/25329113/64208162-24d70b80-ce96-11e9-8fbd-3eb164a9decb.png)

[2019-09-04 16:33] Noob-Walid commented on #11
hello.guys.
takeover is still possible???

[2019-09-05 12:09] sherlocksecurity opened #110 "Azure"
## Service name
Hey could you add the azure.com site take overing? i found many sites are vulnerable for .azure.com sites.
## Proof

## Documentation

[2019-09-05 12:17] Avileox commented on #110
Cross-reference issue#35

[2019-09-05 20:26] codingo commented on #110
Closing in favour of #35

[2019-09-05 20:26] #110 closed

[2019-09-07 16:34] Avileox commented on #108
Voxsites.com it's not a CDN or domain hosting service it's just a domain acquired by a company for thier asset hosting through CNAME's whether they didn't host anything up on Voxsites.com.

[2019-09-08 13:31] Avileox commented on #95
Cross-reference #35

[2019-09-08 13:34] #95 closed

[2019-09-09 05:50] #108 closed

[2019-09-09 10:24] mzet- opened #112 "Keycdn (kxcdn.com) is not vulnerable for subdomain takeover"
## Service name

Content delivery, simplified (https://www.keycdn.com/).

## Documentation

It seems that there is no way to claim dangling CNAME record to `kxcdn.com` entry. As record of kxcdn.com has following structure:

[code]
attacker has only control of the first part of the entry (i.e. `<user-provided-input>`) second part is (`<keycdn-user-ID>`) is assigned by the KeyCdn during registration

[2019-09-09 10:50] codingo commented on #112
Closed with #113

[2019-09-09 10:50] #112 closed

[2019-09-09 10:58] codingo commented on #112
Also thank-you @mzet-, I was rushing and should have said that initially. This is very appreciated though!

[2019-09-15 19:12] kishoretrommer commented on #37
Facing the same issue.

[2019-09-16 19:48] ali0818 commented on #38
Herokudns is not vulnerable anymore, the mentioned edge cases are also not working.

[2019-09-17 16:37] Spam404 opened #114 "Subdomain takeover via canny.io"
# Service name
[Canny.io](https://canny.io/)

## Fingerprint
[code]

![canny](https://i.gyazo.com/002b7f430f58188006b4212432771d8b.png)

## Proof
[![Canny](https://i.gyazo.com/c3ffcebaa0713605e99e364200907196.png)](https://www.youtube.com/watch?v=af3rkdFKLXY "Canny")

## Documentation
CNAME = `cname.canny.io`

[2019-09-17 16:40] Spam404 opened #115 "Subdomain takeover via Helprace"
## Service name
[Helprace](https://helprace.com/)

## Fingerprint
[code]

![helprace](https://i.gyazo.com/b46e4bbcfa3c02b37ffc0bbef8d642bb.png)

## Proof
[![Helprace](https://i.gyazo.com/93c90ca40ed8a1949a77477f42413153.png)](https://www.youtube.com/watch?v=tXR9fBEu1M4 "Helprace")

## Documentation
CNAME = `*.helprace.com`

[2019-09-19 22:25] JeppW opened #116 "Is takeover possible for .exacttarget.com.edgekey.net domains?"
I've come across a CNAME pointing to a .exacttarget.com.edgekey.net domain that I believe might be vulnerable to subdomain takeover. How does one register a such domain?

[2019-09-20 16:08] messi96 opened #117 "Subdomain Takeover Possible via Landingi"
## Service name
Landingi

## Proof
Landingi is Vulnerable to Subdomain Takeover
If you get an Error Similar to this one

![Fingerprint](https://user-images.githubusercontent.com/17003859/65338220-59adc700-dbe7-11e9-8aa0-562f2ef3e69d.png)

1. Create a new account get a free one for 14 days
2. Create your own template ( landing page ) for the PoC similar to
[code]
3. Add the subdomain under Domains

[2019-09-25 10:10] prosecurity commented on #101
after adding the subdomain i want to take over what next

[2019-09-25 10:12] prosecurity commented on #101
how do i create the cname record and the alias ? do i have to pay for a hosting on fly.io and then point that subdomain i want to take over to my poc page?

[2019-09-25 17:07] MagicDemonn commented on #85
YZ by MagicDemonn 2019
"><img src=https://www.totsurvey.com/apitotsurvey/storage/svg/yz.svg  input type="" accesskey="G" onerror=alert(1)>

[2019-09-25 17:09] MagicDemonn commented on #85
This Code can upload you from otd.svg from mine vps :package:  Click Me!
"><img src=https://www.totsurvey.com/apitotsurvey/storage/svg/otd.svg  input type="" accesskey="G" onerror=alert(1)>

[2019-09-27 17:17] amiralkizaru commented on #11
I just tried today and it fails ....

[2019-09-28 14:20] Walidhossain010 commented on #11
yup.me too.seems it needs a bit of luck.

[2019-09-29 19:49] maxicrisp commented on #23
@roblox1488 Did you have a specific method that you used that is separate from the above comments?

[2019-09-29 20:24] roblox1488 commented on #23
you have to wait a while after the subdomain stops being in use, then you can just register it normally like you would

[2019-10-13 18:34] maxicrisp commented on #73
Has anyone successfully verified this lately? It would appear that you need to request access to the previous account in order to establish the connection to the subdomain, and switch it with your own page.

[2019-10-14 05:29] rajatsharma1111 commented on #101
Can someone please elaborate more?

[2019-10-14 13:17] hetroublemaker commented on #22
Any Updates got the same error!

[2019-10-21 17:31] codesceptre commented on #29
Brother, I have the same edge case but still getting that ssl error, is aws entirely fixed it? or I am doing something wrong?

[2019-10-22 22:55] mefkan commented on #22
Hey, just used this method to takeover a subdomain and it worked. But still it's an edge case. In this one, the error was :
 "Fastly error: unknow domain: domainname.com. Please check that this domain has been added to a service. Details: cache-blalala"

[2019-10-23 09:36] fopina opened #118 "Cargo Collective fingerprint update"
![image](https://user-images.githubusercontent.com/636320/67379438-d6361b80-f580-11e9-83af-5a8acfd473d1.png)

I'd go with `Connect it by adding it to your Settings.`

Cheers

[2019-10-25 02:17] attacker34 commented on #101
@EdOverflow

Can you please elaborate the steps to reproduce the issue ? Is it still vulnerable?

Sincerely,

[2019-10-25 03:50] codingo commented on #101
As much as we want to help with this repository - it's a place to document takeovers, not provide a help desk for performing them. You need to try this yourself / explore the steps involved. There's already a great deal of information on this thread that is more than enough to replicate the attack, if that's not enough I suggest referring to the fly.io documentation.

[2019-10-25 03:50] #101 closed

[2019-10-26 19:37] arjunnkn opened #119 "domains or subdomains take over for shopify"
anyone tried recently ?

[2019-10-26 19:39] messi96 commented on #119
yes, I was able to takeover recently (within last month)

[2019-10-26 19:41] arjunnkn commented on #119
reported ? hackerone ?

[2019-10-26 19:43] messi96 commented on #119
yes, but not h1.. a public BB program org, rewarded too!

[2019-10-26 19:44] arjunnkn commented on #119
ok i want to report too . can you share the program with me ??

[2019-10-26 19:49] arjunnkn commented on #119
followed you on twitter , can we discusss something there ?

[2019-10-26 19:51] messi96 commented on #119
sure!

[2019-10-26 19:52] arjunnkn commented on #119
@nbackiet am i visible to you there ?

[2019-10-27 02:44] #119 closed

[2019-10-28 22:16] glasscannonbuild opened #120 "Can I takeover via Oracle Eloqua?"
I've come across a CNAME pointing to s1786589854.t.en25.com domain that should correspond to oracle eloqua. How does one register a such domain?

![elt](https://user-images.githubusercontent.com/49520104/67722253-eadb3f00-f9d8-11e9-83e6-f4e2918f601b.png)

[2019-10-29 11:47] riramar commented on #120
I've asked them about Oracle Cloud service (custhelp.com subdomains) and that's what I got back:

possible for cloud customers to create subdomains under the custhelp.com
or oracle.com domains. Customers which require them are allocated
subdomains by Oracle when their service begins, and they cannot
arbitrarily change it afterwards.

Not sure if would be the same case for en25.com subdomains but i

[2019-10-29 12:10] #120 closed

[2019-11-12 03:30] arjunnkn opened #121 "Subdomains takeover via smugmug.com"
S## Service name
Smugmug.com
## Proof
I will put today
## Documentation

[2019-11-20 17:03] robotshell opened #122 "Frontify"
| Service | Error Page | Discussion | How to  takeover | Support Page |
| ---------- | ---------- | ---------- | ---------- |---------- |
| Frontify   | `404 - Page not found. Oops... look like you got lost.`   |[ Frontify Issues](https://github.com/robotshell/subdomainTakeover/issues/1)  | [Guide](https://github.com/robotshell/subdomainTakeover/wiki/Subdomain-Takeover-Frontify)  |[Help Frontify](

[2019-11-28 06:40] xorcat commented on #121
I can confirm that this is possible.
Error when vulnerable appears to be 404.
Can sign up for a free trial account, and set "Custom Domain" in account settings.

[2019-11-29 00:51] Samrose-Ahmed opened #123 "Add NationBuilder"
## Service name
NationBuilder(https://nationbuilder.com/).

## Proof

## Documentation
Find subdomain, error should look like:
<img width="863" alt="Screen Shot 2019-11-28 at 4 43 34 PM" src="https://user-images.githubusercontent.com/9027301/69836534-61e53c80-11fe-11ea-9981-8a47a64ad7ce.png">
saying
[code]

Go to nationbuilder.com, start trial and get new campaign site ABC.nationbuilder.com.
Go to

[2019-11-29 01:34] #123 closed

[2019-11-29 06:29] arjunnkn commented on #121
I have complete list of all subdomains that are linked to smugmug shops and are vulnerable , contacted smugmug too but they aren't serious about it

[2019-12-05 07:43] ankushgoel27 commented on #22
i am getting the same error as above described by mefkan. "Fastly error: unknow domain: domainname.com. Please check that this domain has been added to a service. Details: cache-blalala". but still unable to add domain to fastly

I am getting error - domain "abc" is already taken by another customer. Am i doing something wrong here?

[2019-12-08 09:17] jojojump commented on #22
Any Updates got the same error! I am getting error - domain "abc" is already taken by another customer

[2019-12-08 12:26] sumgr0 commented on #22
This is still an edge case.

Got 2 takeovers during this week for the same program, so it’s still
vulnerable but not every time.

On Sun, 8 Dec 2019 at 2:47 PM, bbbb <notifications@github.com> wrote:

--
Best,
Sumit Grover

[2019-12-08 12:30] melardev commented on #22
@sumgr0 For the same program? They were using two different domains in scope rigth?
At this time fastly is checking the domain(example.com) given if it is taken once you can't register any of the subdomains (ignorebyfastly.example.com)
So a company is vulnerable only if they stop completly from using fastly for a whole domain.

[2019-12-08 12:32] sumgr0 commented on #22
That’s right 2 different subdomains on the same program were covered by the scope.

[2019-12-08 12:39] melardev commented on #22
@sumgr0 so you took over `subdomain1.example.com` and `subdomain2.example.com` ? Fastly UI says the opposite than you do, if you try to take `subdomain1.example.com` Fastly is only checking if `example.com` is taken, if it is you can't not register `subdomain1.example.com` nor `subdomain2.example.com` nor any other subdomain for that `example.com`, even if one of them is showing the fingerprint er

[2019-12-08 12:45] sumgr0 commented on #22
I understand, and confirm it worked for this time and allowed. Also the reason, as mentioned by the program, they were in the process of decommissioning the Fastly service, while I took over the subdomains. I've had mostly the experience of it not working, but once or twice it worked. Maybe due to the way the account is configured by the programs (they may or may not be using wildcards).

Hence, i

[2019-12-08 13:14] melardev commented on #22
@sumgr0 Yes, it helps, thanks =)

[2019-12-09 15:10] arjunnkn commented on #22
another corner case is :-
arjuns-MacBook-Air:domaintakeover arjunsharma$ dig elle.tw

; <<>> DiG 9.10.6 <<>> elle.tw
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 42494
;; flags: qr rd ra; QUERY: 1, ANSWER: 4, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;elle.tw.			IN	A

;; ANSWER SECTION

[2019-12-11 21:37] m7mdharoun commented on #11
You can found Steps here and This is still vulnerable

https://www.youtube.com/watch?v=-znOxODC2QM

[2019-12-14 12:28] shubham4500 commented on #29
i have found an ip pointing to cloudfront both http and https shows same error.

direct ip to cloudfront subdomain . is it possible to takeover ?

[2019-12-14 12:32] melardev commented on #29
@shubham4500 The first message of this issue explicitly explains the VERY SAME THING you are talking about ...

[2019-12-14 13:44] shubham4500 commented on #29
it didnt showed the way :( do you encountered issue like this anytime ? @melardev

[2019-12-14 14:06] shubham4500 commented on #29
@sp1d3r  direct ip to cloudfront....
![awsthing](https://user-images.githubusercontent.com/40673731/70849767-0034fb80-1ea9-11ea-8bda-3340b0e8b5f0.PNG)

[2019-12-14 14:09] melardev commented on #29
Again, the first message clearly states we can not anymore, there are hundreds of these out there, if takeover is possible i would be rich now. Unless you find a bypass on AWS itself there is no way.

[2019-12-14 17:46] shubham4500 commented on #29
@sp1d3r

[2019-12-14 23:28] AnotherWayIn opened #125 "creamhost.com not vulnerable"
So it saves someone else some $$, I signed up to Dreamhost today to attempt a domain takeover (target had: "site not found dreamhost") and received the following:

You can't add that domain: parent domain databricks.com is already in our system

[2019-12-17 18:13] lamosuthakar commented on #35
[code]

[2019-12-17 18:16] lamosuthakar commented on #35
![lottapixel (1)](https://user-images.githubusercontent.com/53367819/71022823-6dee5b00-2127-11ea-85a0-b0e439fa389c.jpg)

[2019-12-18 20:38] TakSec opened #126 "Anima vulnerable to subdomain takeover"
## Service name
Anima - https://www.animaapp.com/
## Proof
Created a PoC for a bug bounty report and it worked without any issues.
## Documentation
A Record:
<subdomain>.<domain>.com. 600 IN A 35.164.217.247
Error page:
`Missing Website`
https://docs.animaapp.com/v1/launchpad/08-custom-domain.html

[2019-12-19 09:21] Phoenix1112 commented on #68
@EdOverflow I'm trying to create a test environment for myself. I created a github repo and created a simple index.html file. then I created a site with the extension .io.
I had previously purchased a domain address with a .com extension. I added the subdomain address I created with github to my domain name as a cname record.

example:

dig cname www.guidebookdemo.com

www.guidebookdemo.com    cna

[2019-12-19 10:23] EdOverflow commented on #68
You would have to hope that the user — `phoenix1112` in your example — deletes their account so that you can then claim that username. There is no other way around it as far as I know.

[2019-12-19 10:24] EdOverflow commented on #126
Thank you, @TakSec. :+1:

[2019-12-19 10:37] Phoenix1112 commented on #68
@EdOverflow i did takeover now... the user name does not matter..  i did test it..

dig cname www.guidebookdemo.com

www.guidebookdemo.com      CNAME     phoenix1112.github.io

I deleted the files I created phoenix1112.github.io. I created a repo with another user and wrote www.guidebookdemo.com in the site name.  and I created an index.htm file

After 10 minutes, when I opened www.guidebookdemo.c

[2019-12-19 10:41] EdOverflow commented on #68
Actually, now that I think of it, I have submitted two subdomain takeovers using the exact process you described above roughly two years ago. Silly me! :P

You are absolutely right, the username is not actually important. Thank you for double-checking this, @Phoenix1112.

[2019-12-19 10:44] melardev commented on #68
Actually, I don't even think the name of the repo matters, just create any repo, go to settings of that repo, enable Github pages and add your custom domain there, reply to me if you think I am wrong.

[2019-12-19 17:54] arjunnkn opened #127 "Vulnerabile Shopify stores"
## Service name
pamleftpamright.com
peterreed.com
pgpromotionalitems.co.uk
piecestopeaces.com
pillowfightfactory.com
pilovilo.com
pitbull-store.co.uk
portraydesigns.com
quantumbassmarket.com
quickmobilefix.com
rayethelabel.com
rdfabrikwerks.com
rebeccaminkoff.com
recoconyc.com
ripdiculous.com
ritualandlore.com
roughneckoutlet.com
sabithestore.us
samayhome.com
sayitwithasock.com.
seasiderug.com
sea

[2019-12-19 17:58] melardev commented on #127
I read your message, I am still trying to understand it, can you help me(or us) to understand this?
The worst thing is that I achieved to read 2 domains in that very bad quality picture, and both sites are alive

[2019-12-19 18:03] arjunnkn commented on #127
Now ?

On Thu, Dec 19, 2019, 11:28 PM MelarDev <notifications@github.com> wrote:

[2019-12-19 18:25] arjunnkn commented on #127
The report was closed as duplicate , and if you are aware of hackerone rules , they must either merge the duplicate report to the original one or acknowledge the duplicate with the original report Id . They did nothing but said that they knew the issue internally

[2019-12-19 18:27] arjunnkn commented on #127
Sorry I submitted this report month ago and all were tested at that time , coz at that time I had 20k domains fully tested . I thought it would be worth testing

[2019-12-19 18:30] melardev commented on #127
@arjunnkn
Ok so what you reported was a design issue to Shopify because their service allows subdomain takeover?
Well, we knew that long ago, indeed if you know the hackerone rules, submitting a duplicate issue will not make any difference on your hackerone points ....
BUT ..... listen to this:
Submitting a report that is a duplicate of a known issue MAKES you lose points, so you actually should h

[2019-12-19 18:31] arjunnkn commented on #127
All were vulnerabile to subdomain takeover that too wildcard one that gives countless subdomains takeover at once per domains

This is misconfiguration at client end but when Shopify is allowing a non parent domain owner to takeover any other parent subdomain it's Shopify issue

[2019-12-19 18:37] arjunnkn commented on #127
![Screenshot_20191220-000335](https://user-images.githubusercontent.com/14961110/71199609-4b417b00-22bc-11ea-8837-f466b0ac7cb9.png

Noone reported this issue to Shopify via hackerone platform  . Shopify confirmed it to me I can show you

Moreover I didn't loose a single reputation on it . Trick

[2019-12-19 18:51] #121 closed

[2019-12-21 13:39] shubham4500 commented on #11
exactly same errors

[2019-12-21 20:21] m7mdharoun commented on #11
You Just need Good Luck to find it but it still work ;)

[2019-12-22 00:14] ak1t4 commented on #11
Status: 413 I’m a ☕️ Teapot

El El sáb, 21 dic. 2019 a la(s) 17:21, m7mdharoun <notifications@github.com>
escribió:

[2019-12-26 14:45] marcelo321 commented on #29
I just tried 2 subdomains and i coudln't because it requested a valid ACM certificate.

[2019-12-26 16:37] marcelo321 commented on #29
@sp1d3r

i have found a subdomain with a CNAME like *.ubnt.com and that one has a CNAME to something.cloudfront.net but i still can register the main domain... do you really thing it is possible?

[2019-12-26 17:37] marcelo321 commented on #35
I think it is a Edge case too.

"Domain name redacted.trafficmanager.net already exists. Please choose a different DNS prefix.

[2019-12-26 18:20] sp1d3r commented on #29
@marcelo321 I think no, since the certificate feature stuff.

[2019-12-27 00:41] marcelo321 commented on #29
@sp1d3r i also just found a subdomain with a CNAME pointing to example.awsdns-hostmaster.amazon.com
with a 404 response "No page available" but couldn't find any documentation if this is vulnerable or not... for any reason do you know if it is vulnerable?

[2019-12-27 05:13] Walidhossain010 commented on #11
thanks for the confirmation

[2019-12-27 14:09] marcelo321 commented on #35
Can anyone confirm if this isn't possible or im just stupid?

when tryin to claim a CNAME with multiple levels like abc.aaa.azurewebsite.net i get

this means it is only possible to claim 1 level subdomains like abc.azurewebsite.net?

[2020-01-06 10:00] random-robbie opened #128 "Firebase"
## Service name
Google Firebase

### Can i take it over
No - requires txt record to authenticate it so it's not possible.

[2020-01-06 10:05] melardev commented on #128
funny, I was just trying a few hours ago to take over a firebase app, I could not, but what I noticed is that the TXT record is the same for the same custom domain, I did not test further, I was lazy, the remaining test is, to check if the TXT record is the same for the same custom domain across any account.

[2020-01-06 10:11] melardev commented on #128
@random-robbie This is the TXT record I get when I try to add github.com:
`google-site-verification=_hFoiuxEK5rlpZZfR8DgLq48UvrqRleu6cat5EBe3x0`
Can you tell me if you get the same?

[2020-01-09 14:51] sumgr0 opened #129 "Subdomain points to cdn77.net, anyone tried takeover on the this service?"
## Service name
CDN77.net [setup at CDN77.com]

## Documentation
The service allows to setup the host and cname but not sure of how to setup the subdomain to takeover.

Please help

[2020-01-15 18:59] bugbaba commented on #23
Looks like it is vulnerable in some cases, This person was able to takeover the zendesk portal.

https://hackerone.com/reports/759454

[2020-01-17 16:23] X-shadowt commented on #11
I just test it 3 minutes ago, it will need a little bit of social engineering to verify the deleted subdomain.

chat help:

[2020-01-19 03:03] priyanshuxo opened #130 "Does anyone know how to create a PoC for cloudapp.net takeovers?"
I have added the service to my azure portal in cloud services but I'm not able to create a PoC. Can anyone please help me?

[2020-01-20 14:10] JvdHout1011 commented on #23
There are two possibilities when dealing with a closed Zendesk helpcenter as far as I've encountered so far.

Possibility 1: The domain the Zendesk domain is pointing towards, is in use. However, the host mapping has not been done correctly, which makes the domain displaying a 'help center closed' notice. This case is not vulnerable, because the Zendesk domain (so the CNAME reference (*.zendesk.co

[2020-01-22 09:37] anandhsai25 commented on #11
@X-shadowt
how to do verification for deleted subdomain?

[2020-01-23 15:29] arjunnkn commented on #127
@melardev  what you got  as response from hackerone for your shopify submission ?

[2020-01-24 12:14] #127 closed

[2020-01-24 12:14] codingo commented on #127
This is outside the remit of this repository. Further posting of vulnerable sites will lead to a ban.

[2020-01-24 22:07] X-shadowt commented on #11
[code]

[2020-01-27 21:37] marcelo321 commented on #104
fingerprint?

[2020-01-29 08:20] shubham4500 commented on #67
anyone recently done takeover on smartling ?

[2020-01-31 17:54] knassar702 opened #131 "Cloud Flare Error (403 ERROR) vuln or no"
## Hi Guys when visit domain i found this error

![1](https://user-images.githubusercontent.com/45688522/73562234-5e22a000-4463-11ea-947c-65eba70bb361.png)

# Can i Takeover it ??

[2020-02-01 04:15] codingo commented on #131
This is overly documented already over this repo. In short, no, no public takeover is presently noted.

[2020-02-01 04:15] #131 closed

[2020-02-07 06:52] shubham4500 commented on #11
@X-shadowt how you added dns record :P

[2020-02-08 11:49] shoeper commented on #128
I get a different one: `google-site-verification=vENMi3mjve0BU8HfQLJQ3ts8B9U8IF3UDBdWpN8Y1ls `

[2020-02-09 19:26] shubham4500 commented on #67
paid service :(

[2020-02-11 15:31] melardev commented on #128
@shoeper Thanks for confirming. I keep getting the TXT I said at the beginning, so I think we get a constant TXT per account and hostname, **that would mean it is not vulnerable** since other accounts get a different TXT value.

[2020-02-14 18:25] cybertOoth000 commented on #130
Hey man how did u add the azure  portal in cloud service?

[2020-02-14 18:27] sumgr0 commented on #130
What is the Azure service for which you'd like to create the POC ?

[2020-02-14 21:18] TomHetmer commented on #129
I think the c.cdn77.org subdomains feature might've been completely removed in the latest public interface. Do let me know if you find anything though!

(As a side note, the existing ones use a format like http://cdn77-support-458802.c.cdn77.org/ so they're probably not vulnerable.)

[2020-02-19 03:27] soareswallace opened #132 "Is there a way to takeover fly.io domains?"

[2020-02-19 03:29] soareswallace commented on #132
Issue in `README.MD` is taking to a 404 Github page

[2020-02-21 22:50] Umer-klab commented on #11
@X-shadowt  how you manage whats the trick of social engineering you used for verification. please list down

[2020-02-23 10:39] yoursquad13 commented on #36
Hi
I found a domain with CNAME    _*.cloudfront.net_
When I access it from browser it returned empty. I tried to add it to bucket by steps above and was successfully added. But when I access it, it's still empty, I tried other subdomains from same domain but they say 'Bucket name already exist'.
Please explain me this

[2020-02-23 12:07] PatrikHudak commented on #36
@yoursquad13 Because _*.cloudfront.net_ is not a subdomain for S3

[2020-02-25 13:14] Walidhossain010 commented on #71
is this still vulnerable @m7mdharoun @EdOverflow

[2020-02-26 15:26] webliqui commented on #36
Hi, I have found a subdomain vulnerable to takeover, the dig command returns this information:
`sub.example.com   CNAME    [bucket_name].s3.amazonaws.com`
and then:
`[bucket_name].s3.amazonaws.com   CNAME   s3-1-w.amazonaws.com`
I haven't the region information from `dig` command.

Also if I visit the page, I get an XML error. Below is the screenshot:
[subdomains.txt](https://github.com/EdOverflow

[2020-02-27 11:52] srgevipr opened #133 "Tilda fingerprint has changed"
## Service name
Tilda fingerprint has changed to "Please go to the site settings and put the domain name in the Domain tab."
## Proof
https://tilda.cc/ru/answers/a/domain-has-been-assigned/

[2020-02-29 15:34] knc331 opened #134 "Can i takeover subdomains registered under UltraDNS?"
## Service name
UltraDNS

## Query
I was trying to find the registration page to register an account on UltraDNS so that i can takeover the subdomain. However, no luck on it. Kindly help me if anyone has any information.

## UltraDNS Website
https://portal.ultradns.com/

[2020-03-03 10:18] JvdHout1011 commented on #125
Sounds like something similar to Fastly, where takeover is only possible when the FQDN is not registered and some subdomain is pointing to one of their services. I would not label this 'Not vulnerable' immediately.

Perhaps it's an idea to point your subdomain to subdomain.dreamhost.com  without registering the FQDN. I'm assuming then it will be possible.

[2020-03-03 10:19] JvdHout1011 commented on #116
edgekey.net is Akamai afaik, of which is not sure it's vulnerable to takeover.

edgekey.net domains follow the following format: [targetdomain].[tld].edgekey.net. Is there any way you can show this to be vulnerable?

[2020-03-06 16:08] alanbriangh commented on #59
Hey, maybe here another example:

https://hackerone.com/reports/407355

(He didn't say it was "Hubspot", but he said "this report is  same as of this one:- https://hackerone.com/reports/38007"

[2020-03-10 09:31] architjn opened #135 "Can i takeover subdomain with example.com.cdn.cloudflare.net"
## Service name
Cloudflare

## Query
An issue here says that we can take over domains that are having CNAME to example.com.cdn.cloudflare.net. I tried to do it but got no success.
Is there anyone who could help me with the same? I found a few domains pointing to such CNAME.

[2020-03-16 15:53] koffdsa commented on #134
Hi @knc331 ,i had a same problem with u,i try to use `dig a xx.domain.com`command for check and the server response `;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 39841`,but when i visit the `xx.domain.com`,the server response`UltraDNS Client Redirection Service` page,included my origin ip and dest ip etc.

[2020-03-27 16:39] hassnain878 commented on #68
I have found a domain that has a cname pointing to github.com when I browse to the page it it shows me this error :
404
File not found

The site configured at this address does not contain the requested file.

If this is your site, make sure that the filename case matches the URL.
For root URLs (like http://example.com/) you must provide an index.html file
Can you tell me it's vulnerable or not

[2020-03-29 02:32] afernandesvigo opened #136 "Ning"
## Service name
Ning

## Proof
is free to take

## Documentation

[2020-03-30 21:54] nk9 opened #137 "AWS Load Balancer"
## Service name
AWS Load Balancer
looks like "_region_.elb.amazonaws.com" or "elb._region_.amazonaws.com"

## Proof
The URLs produced when you create a load balancer contain a number which you can't control, like <vw3-production-622849735.us-east-1.elb.amazonaws.com>. Since Amazon assigns that number, you aren't able to claim someone else's domain even if you can claim the "name" (in this case "vw

[2020-03-31 05:28] danielanonymous commented on #29
Hey There, Now i had found a site with CNAME dxxxxxxx.cloudfrount.net, but my account is asw haven't fully activated yet. Could i take over this domain ? thanks !

[2020-04-01 10:39] hamzaavvan commented on #35
Which azure service gives us mysubdomain.windows.net ?
Any help would be appreciated.

[2020-04-01 12:07] alimp5 opened #138 "SendinBlue"
## SendinBlue
This site (SendinBlue.com) works in Digital Marketing field (SMS Marketing, Email Marketing, etc...).

## Proof
https://imgur.com/a/jk3Jxey

## Documentation
SendinBlue.com has 3 verification methods:
1. Host a file
2. Add a DNS entry
3. Send an email

Note:
Is it possible to take over a domain or subdomain via bypassing techniques.
I checked some techniques via Burp Suite; but didn'

[2020-04-01 12:16] alimp5 commented on #138
When 3rd party application disconnected from SendingBLue.com; but web application has TXT record for pointing to SendingBlue service:

note: i couldn't to find a way to generate a Hash-ID like in 3rd party web application's TXT record or bypass this protection mechanism.

[2020-04-02 07:27] gauravdrago opened #139 "sub domains hosted on smartjobboard.com or mysmartjobboard.com are also possible to be claimed"
## Service name
smartjobboard.com
mysmartjobboard.com

## Proof

go to smartjobboard.com
![before](https://user-images.githubusercontent.com/37478652/78221610-4d34f000-74e1-11ea-92ef-5e3941962e35.jpeg)

create a trial account.

settings>System Settings>add your  vulnerable domain in column "Custom Domain Name"
![after](https://user-images.githubusercontent.com/37478652/78221628-56be5800-74e1-11ea-

[2020-04-02 11:01] proabiral commented on #139
Just confirmed that this works :+1:

[2020-04-02 11:20] gauravdrago commented on #139
Why not you guys updating the list with other vulnerable hosts.

On Thu, Apr 2, 2020, 4:31 PM proabiral <notifications@github.com> wrote:

[2020-04-03 16:27] gauravdrago commented on #139
Pingdom.com also vulnerable.
 https://youtu.be/VuIO1l5RL8k

[2020-04-03 20:53] JLLeitschuh commented on #139
Feel free to create a PR with a link to this issue. That's part of how contributing to this repository works.

[2020-04-06 22:17] codingo commented on #139
As @JLLeitschuh mentioned, please do raise a pull request. @EdOverflow and I are happy to maintain this, but there's a limit to the time that can be invested given the vast number of other projects we both work on.

[2020-04-09 15:04] SuryaMaulana commented on #132
Have you found it broo???

[2020-04-09 15:04] SuryaMaulana commented on #132
@soareswallace

[2020-04-09 15:06] soareswallace commented on #132
No, still nothing.

[2020-04-11 15:55] rsgian commented on #22
can you guide us how you did it

[2020-04-11 15:56] rsgian commented on #22
can you guide us how you did it

[2020-04-11 15:57] m7mdharoun commented on #22
here bro https://www.youtube.com/watch?v=9DYEg_j-_hw

[2020-04-11 15:57] rsgian commented on #22
thanks very much

[2020-04-11 16:05] rsgian commented on #22
Great PoC thanks for that I also follow you blog learned subdomain takeover through you blogs

Great PoC thanks for that I also follow you blog learned subdomain takeover through you blogs and I guess the subdomain i was trying to takeover is not vulnerable becoz it says " domain is already took by another customer"

[2020-04-13 17:25] null406 commented on #22
I'm facing now with this shit ``Domain 'blahblah.com' is already taken by another customer``
Can someone explain me how to fix this shit.

[2020-04-13 17:59] rsgian commented on #22
The 'blahblah.com' is secured and not possible to take over

[2020-04-15 06:42] Walidhossain010 commented on #71
freshdesk is not vulnerable @EdOverflow

https://support.freshdesk.com/support/solutions/articles/37590-using-a-vanity-support-url-and-pointing-the-cname

[2020-04-15 06:52] melbadry9 opened #142 "Worksites vulnerable to subdomain takeover"
## Service name
Worksites - https://worksites.net

## Proof
- Vulnerable Error Message
![poc](https://user-images.githubusercontent.com/43918685/79306162-0984b200-7ef5-11ea-83a9-8aeeb2d03d95.png)

- Add Vulnerable domain to your site
![poc3](https://user-images.githubusercontent.com/43918685/79306422-78faa180-7ef5-11ea-9fc6-8ddb36761e7a.png)

- Takeover
![poc2](https://user-images.githubuserconten

[2020-04-15 10:19] sharyer commented on #132
i am also looking for takeover exploit for fly.io

[2020-04-15 14:23] sharyer commented on #132
![Capture](https://user-images.githubusercontent.com/28790962/79348462-78422980-7f4e-11ea-91b3-7dc42f8e9f6f.PNG)
i think not anymore possible to takeover this because they add verification on adding custom domain.

[2020-04-15 14:26] soareswallace commented on #132
Yeah, I don’t think it’s possible either.

[2020-04-15 14:27] #132 closed

[2020-04-15 18:53] sabeesh03 opened #143 "scene7.com"
## Service name

## Proof

## Documentation

[2020-04-16 18:04] chiko360 commented on #35
how can i claim this *.cloudapp.azure.com ?

[2020-04-17 07:11] gauravdrago opened #144 "Pingdom.com Services Are Also Possible To Be Claimed."
## Service name
Pingdom.com

## Proof
https://youtu.be/VuIO1l5RL8k

## Documentation
https://help.pingdom.com/hc/en-us/articles/205386171-Public-Status-Page

[2020-04-17 11:15] maruthi-adithya opened #145 "Subdomain Takeover Agile CRM"
## Service name

Agile CRM - https://www.agilecrm.com/

## Proof
#### Error Message:
![screenshot](https://user-images.githubusercontent.com/25739266/79562825-41dce980-80c9-11ea-8708-491e3675aa48.png)

#### Claiming it

The CNAME Record must point to **cname.agilecrm.com**.
You can go to {{organization-name}}.agilecrm.com/#scheduler-prefs
Go to custom URL and add the URL.

## Fingerprint

**Sorry,

[2020-04-17 18:59] h45h-1nclud3 commented on #142
Nice Catch! @melbadry9

[2020-04-20 16:02] knc331 commented on #67
@shubham4500 Can you please let us how do you come to know it as a paid service. If it is a paid service is there any registration  / signup form available? Through some light on the same

[2020-04-20 16:29] knc331 commented on #67
Any more information you have on the Shubam?

[2020-04-22 19:04] omaramin17 commented on #24
i think it isn't work anymore

[2020-04-24 15:16] elmghribi1337 commented on #38
2020  heroku not vulnerable > verified

[2020-04-25 13:05] kossi07 opened #146 "is subdomain takeover on Marketo possible"
is subdomain takeover on Marketo possible

[2020-04-25 19:27] Shrimant12 commented on #68
Check `site: "traget.github.io"` and see you get the repo. In my case, it was also showing `There isn't a Github Pages site here.` but when checked using `site: "traget.github.io"` all the pages and everything was present. So this case is also not vulnerable.

[2020-04-26 14:12] m0ns7er commented on #23
Thanks @JvdHout1011 for good write-up. Yes it is still possible to hijack/takeover subdomain through zendesk portal. I takover the subdomain of support.*******.com and i'm receiving their help desk emails on zendesk dashboard.

POC : https://drive.google.com/file/d/1h4QomND3n7O5dRCzyGmHQ78qdFcpK51L/view?usp=sharing

[2020-04-28 11:57] sabeesh03 commented on #146
hi kossi07 i have also encountered Marketo
any joy in take over

[2020-04-28 23:11] imam commented on #134
Hello!

The registration service for UltraDNS is here https://www.home.neustar/dns-services/ultra-dns, it is a paid service, so it's kind of a bet to make sure that subdomain takeover is possible. Kindly let me know if anyone tried to pay for this service!

[2020-04-29 06:59] davisfreimanis commented on #35
You can simply create a Virtual Machine in the specific region and then in the left menu select "Configure" and set a desired DNS name label.

The format of the URL will be:
`<dnsname>.<region>.cloudapp.azure.com`

[2020-04-29 13:25] Mouja0412 commented on #23
Thank you @JvdHout1011
I can confirm the takeover still working, i tookover a subdomain through zendesk portal few minutes ago.
POC here :
https://prnt.sc/s80l2i
https://prntscr.com/s80mhi

[2020-04-29 17:02] nothing63 commented on #29
@danielanonymous Hi, did you succeed or is it still impossible?

[2020-04-30 11:33] tpirneci commented on #104
Fingerprint:

- Ошибка 402. Сервис Айри.рф не оплачен

- Сайт **xyz.xyz.ru**. , на который вы заходите, не оплатил сервис Айри.рф. Доступ к сайту временно невозможен.

[2020-05-01 03:41] marcelo321 commented on #45
@linuxsec Hey, how does the cname look like? and the fingerprint only says "page not found"?

[2020-05-01 16:31] adityathebe commented on #22
I don't think this is vulnerable anymore

[2020-05-02 13:45] m7mdharoun opened #147 "Subdomain Takeover via elasticbeanstalk AWS service"
## ElasticBeanstalk AWS service

## Proof
Found it 3 times in Private Program.

## Documentation
Same Steps here https://www.youtube.com/watch?v=srKIqhj_ki8

[2020-05-03 05:26] adityathebe commented on #35
Create a service here https://portal.azure.com/#create/Microsoft.CloudService

[2020-05-03 10:25] Mouja0412 commented on #23
Update : There's something wrong with the trial period ending just after confirming my email. Happened 5 times in 5 subdomains I was trying to takeover.
Is it cause i was using the same ip? (will try from another ip)
Anyone confirm this issue please?

[2020-05-03 14:49] gowthamss commented on #13
I have come across the same issue i.e, with akamai , but when I'm trying to create an account it is asking for business email and company name. And I don't have one. How can I proceed further.

[2020-05-03 14:51] gowthamss commented on #13
Were u able to takeover the subdomain you are targeting. If yes, requesting you to guide me through.

[2020-05-04 16:36] OGoodness commented on #36
@webliqui
Any news on this issue? I am running into the same thing

[2020-05-04 18:36] soareswallace commented on #36
Have you guys ran was `aws s3 ls <bucket_name>`?

[2020-05-05 11:49] kmalik31 commented on #36
@webliqui You found something?
I'm facing the same issue.
@codingo Do you have some solution for this?

[2020-05-06 16:53] adityathebe commented on #45
What is the impact of this takeover ?

[2020-05-06 17:46] bsysop commented on #45
Impact could be just for phishing, nothing more, depends what program could
be a NA, but since they fix, they give you a valid report!

Em qua, 6 de mai de 2020 às 13:53, Aditya Thebe <notifications@github.com>
escreveu:

--
*Guillermo Gregorio*
T.: (+55) 34 99124-1302
Skype: b.sword

[2020-05-06 19:02] adityathebe commented on #45
There's nothing much we can do by setting up a "Public Status Page" in _uptimerobot_

[2020-05-07 15:14] bsysop commented on #45
Take a look in the impact
 - IMPACT: High 7~8.9
 - BOUNTY: 100 $

:joy:

Just for Phishing i guess.

[2020-05-07 15:21] adityathebe commented on #45
Not sure how we can do phishing either since we have absolute no control over the uptimerobot subdomain.

Sorry if I am not understanding correctly

[2020-05-07 15:25] bsysop commented on #45
I mean:
 - Bug hunter: This is 100% useless for a Bug Hunter, just find, takeover and report.
 - BlackHat: BlackHat can takeover that domain and configure some content and try to trick someone to believe in the attacker words and perform a "Phishing attack"

Not means a bug hunter will do a phishing attack of course.

[2020-05-07 15:33] adityathebe commented on #45
I meant to say it's not possible to perform a phishing attack even for a malicious user.

Even if a subdomain `abc.example.com` that is pointing to `stats.uptimerobot.com` is vulnerable to takeover then all an attacker can do is register `abc.example.com` in uptimerrobot. But that's just it. Visiting the subdomain will show the stats of some site (the attacker has the freedom to choose which site)

[2020-05-07 15:52] bsysop commented on #45
<img width="779" alt="Captura de Tela 2020-05-07 às 12 47 29" src="https://user-images.githubusercontent.com/9998303/81315648-edda7a80-9060-11ea-9861-0258987c69aa.png">

That example show everything UP, right? lets say you properly set a server DOWN just to TRICK (LIE) the company... now you have convinced some staff they have a server down, so now you have a person in panic in the other side, no

[2020-05-07 17:53] sumgr0 commented on #45
The service is similar to statuspage.io and may not be considered impactful.

[2020-05-08 08:57] dipeshdk commented on #38
@rootkech can you please elaborate a little why it is not vulnerable any more?

[2020-05-08 13:17] adityathebe commented on #38
You don't have the option to choose custom subdomains anymore with herokudns.com

[2020-05-10 01:39] Superngorksky commented on #23
@JvdHout1011 I can confirm the takeover still works.

@EdOverflow Please update this. Using @JvdHout1011's method, the takeover is still possible.

[2020-05-11 16:47] jub0bs commented on #59
Here is a recent example, but it contains few details about the PoC: https://hackerone.com/reports/335330

[2020-05-11 17:24] soareswallace commented on #59
Both examples above were reports written 2 years ago, but disclosed recently.

[2020-05-11 17:36] jub0bs commented on #59
@soareswallace Ah yes, I have overlooked that. Thanks.

[2020-05-11 17:58] stark0de commented on #35
Does anyone know if it is possible to claim *.azurewebsites.us domains?

[2020-05-11 22:30] marcelo321 commented on #46
hello @codingo,

I have found several subdomains that had the fingerprints:

`Sorry, this shop is currently unavailable.`

But when visiting the CNAME, it showed a perfectly working shop in shopify.

So shop.example.com was giving me "shop is currently unavailable" but when visiting example.myshopify.com it was a perfectly working shop.

Is this still vulnerable?

[2020-05-12 11:37] s41n1k opened #148 "dnspod.com domain takeover"
## Service name
I have blow domain to takeover. and CNAME record. how can i takeover this doamin?
## Proof
CNAME
site.in. 599 IN SOA f1g1ns1.dnspod.net. freednsadmin.dnspod.com. 1578564851 3600 180 1209600 180
## Documentation

[2020-05-12 16:51] zseano commented on #11
I noticed that social engineering was mentioned here. Social engineering is not acceptable when participating in bug bounty programs (unless stated), nor is it acceptable in any case. I'd suggest NOT social engineering the friendly team at Unbounce to bypass their verification steps. You may end up in legal trouble and for what? A bounty? Not worth it. If you feel that unbounces methods for provin

[2020-05-12 23:45] UBAMas commented on #11
Thank you very much @zseano for pointing this out for the community!

At Unbounce safekeeping our customers and their information within our ecosystem is of utmost importance.
We believe in the mantra that no environment is 100% secure, and that upholding information security is an iterative effort and a process of continuous improvement.
Aside from our own internal resources we also partner with

[2020-05-13 00:30] soareswallace commented on #23
There is a report already about this take over on H1. I believe it is possible.

https://hackerone.com/reports/810807

[2020-05-13 03:10] adityathebe commented on #94
![image](https://user-images.githubusercontent.com/13419481/81767112-57daa000-94f7-11ea-826c-990d003421a7.png)

Vulnerable might be possible if the apex domain is available to register

![image](https://user-images.githubusercontent.com/13419481/81767185-80629a00-94f7-11ea-8b4d-62ba79e8a48f.png)

[2020-05-13 05:43] Mouja0412 commented on #23
@soareswallace I confirm, already took over 10 subdomains the last 3 days, I sent reports to hackerone but most of them are "ineligible" and they said "We do in fact consider bounty payment on a case by case basis for bounty ".

[2020-05-13 08:11] Mouja0412 commented on #46
Hello,
I managed to takeover a subdomain, I had this error message "Only one step left!
To finish setting up your new web address, go to your domain settings, click "Add existing domain", and enter: yourdomainname

Verify if the name of the store is available or not
Add your domain without the www's under Online store > Domains.
![subdomain](https://user-images.githubusercontent.com/35172427/81788

[2020-05-13 08:58] Mouja0412 commented on #46
Update : Just made another takeover test, but this time a domain name, not a subdomain, had the same fingerprint "Only one step left!
To finish setting up your new web address, go to your domain settings, click "Add existing domain", and enter: yourdomainname".
That was quick and easy.
A have a question please : Should I report this to shopify in hackerone?

Please advise.

Thank you.

[2020-05-16 10:18] adityathebe commented on #147
What is the fingerprint ?

[2020-05-16 14:33] agrawalsmart7 commented on #24
Yup agreed with @omaramin17.

[2020-05-16 15:58] adityathebe commented on #35
Is this still vulnerable ? Because Azure requires a unique Custom Domain Verification ID to be put as a TXT record in the DNS.

![image](https://user-images.githubusercontent.com/13419481/82124308-f5ff8c00-97bd-11ea-9ed5-b229c8f7ce38.png)

Until the TXT record is configured the following error will show up

![image](https://user-images.githubusercontent.com/13419481/82124335-1deeef80-97be-11ea-8bf

[2020-05-18 19:14] #143 closed

[2020-05-18 19:17] EdOverflow commented on #138
At first glance, assuming there are no known bypasses (which would constitute a vulnerability in the service and should be reported to the vendor), this service does not appear vulnerable to subdomain takeovers. Validating ownership via a TXT record is a good way to prevent subdomain takeovers.

[2020-05-18 19:17] #138 closed

[2020-05-18 19:19] EdOverflow commented on #136
Would you be willing to provide some proof to back your claim(s)? This allows us to categorise this service and assign a label to discern it from other entries on this repository.

[2020-05-18 19:21] EdOverflow commented on #133
Would you be willing to submit a pull request for this? Thanks!

[2020-05-18 19:22] EdOverflow commented on #104
@r0hack, please feel free to submit a pull request for this entry. Thanks!

[2020-05-18 19:25] EdOverflow commented on #122
Thank you! Please feel free to submit a pull request, @robotshell.

[2020-05-18 19:34] afernandesvigo commented on #136
I got it in a private program at H1...

I could pseudoanonymize te report... But we are going to understand
nothing...

If you try to go anything.ning.com, it´s crystal clear how ot works :D

Cheers!

On Mon, May 18, 2020 at 9:19 PM EdOverflow <notifications@github.com> wrote:

[2020-05-18 20:12] AmanShahid opened #149 "Uberflip Service"
## Service name
Uberflip

## Proof
https://hackerone.com/reports/863551

## Documentation
If the subdomain shows error "Non-hub domain, The URL you've accessed does not provide a hub. Please check the URL and try again." and is pointing toward read.uberflip.com then it is vulnerable to takeover because according to uberflip "The only protection is the customer’s proper management of their subdomai

[2020-05-18 20:15] #149 closed

[2020-05-18 20:17] AmanShahid opened #150 "Uberflip Service"
## Service name
Uberflip

## Proof
https://hackerone.com/reports/863551

## Documentation
If the subdomain shows error "Non-hub domain, The URL you've accessed does not provide a hub. Please check the URL and try again." and is pointing toward read.uberflip.com then it is vulnerable to takeover because according to uberflip "The only protection is the customer’s proper management of their subdomai

[2020-05-19 12:57] sumgr0 commented on #150
Hi @AmanShahid

Thank you for sharing the report.
Going to uberflip.com for account setup, I could not see any way to signup for a service. Request you to kindly share the process/url to signup for the service to understand the process of hosting a POC for the takeovers.

Best,
sumgr0

[2020-05-20 18:39] EdOverflow commented on #11
Thank you for addressing this, @zseano & @UBAMas. I will add a note about this in the README for future contributors. 👍

[2020-05-20 18:42] EdOverflow commented on #35
https://docs.microsoft.com/en-us/microsoft-365/admin/dns/create-dns-records-for-azure-dns-zones

@adityathebe, it appears that this is no longer vulnerable. :(

[2020-05-20 18:56] EdOverflow commented on #35
Never mind, it’s still vulnerable. Just observed one get snatched live. 😂

[2020-05-20 18:57] adityathebe commented on #35
😮 How was the TXT verification bypassed ?

[2020-05-21 13:29] mcipekci commented on #103
This is not vulnerable because of following reasons:

1. Acquia generates a generic unique IP address for customers when creating environment.
1. Since IP address is unique, you must either spam creating environments yet it's still unclear and each creation process takes around 30 minutes.
1. To enable adding custom domain feature, you must subscribe for it and it's way too much costly, while they

[2020-05-24 02:32] b33l238u8 opened #151 "Pingdom"
## Service name
Pingdom.com

## Proof
https://www.youtube.com/watch?v=VuIO1l5RL8k

## Documentation

[2020-05-24 18:35] deathflash1411 commented on #135
any update regarding this? I have a similar issue

[2020-05-26 14:07] sumgr0 commented on #35
Any hints of how to bypass the TXT verification?

[2020-05-26 15:04] daxin09pp commented on #35
@EdOverflow  Any hints of how to bypass the TXT verification?

[2020-05-26 16:39] adityathebe commented on #35
@sumgr0 It's not required.

[2020-05-26 18:33] sumgr0 commented on #35
@adityathebe Okay...thanks for the quick revert.

[2020-05-27 01:44] daxin09pp commented on #35
Can you give me more hints? Thanks so much!

[2020-05-28 06:29] D1rk9ghT commented on #35
Hello all i found a subdomain which is pointing to cloudapp.net.But when i tried to takeover i got false any one can help or reply me with this i'll gave you that domain

[2020-05-28 06:31] D1rk9ghT commented on #35
when i try to add custom domain it says add verification id in txt record please tell how can i add custom domain without txt record verification @PatrikHudak

[2020-05-28 21:13] yashswarup12 commented on #35
Hello everyone,
I was following @PatrikHudak steps in this blog https://0xpatrik.com/subdomain-takeover-starbucks/ to takeover cloudapp.net subdomain but when I deploy my cloud service I get the following error.
"The requested VM tier is currently not available in Central India for this subscription. Please try another tier or deploy to a different location."
Anyway to bypass it

[2020-05-30 13:20] rootkech commented on #94
Jawboh awlad l9hab

**same question**

[2020-05-30 14:38] sumgr0 commented on #37
Is it possible to takeover githubapp.com subdomains with github.io CNAME?

[2020-06-01 17:27] EdOverflow commented on #151
Thank you, @b33l238u8. Closing in favour of #144.

[2020-06-01 17:27] #151 closed

[2020-06-02 19:24] Lolz246 commented on #35
Can i takeover abc.xxx.com (not found) subdomain if it is pointing to clientconfig.microsoftonline-p.net?

[2020-06-06 08:45] Avileox commented on #35
Did you found any way to claim *.azurewebsites.us?

[2020-06-06 20:41] kmalik31 commented on #35
Hey @Lolz246

You found anything regarding that? I've also found a subdomain pointing to clientconfig.microsoftonline-p.net

[2020-06-09 20:32] lecyberzilla commented on #72
###

[2020-06-10 10:56] #130 closed

[2020-06-12 08:37] exotica123 commented on #29
If this is mitigated by aws then how it can be possible? see the report below of subdomain takeover on cloudfront in 2019 and fix was pushed in 2018.
https://hackerone.com/reports/317005

[2020-06-13 18:07] Anon-Exploiter commented on #38
Adding to the post^, this only works with **domains** and not **subdomains**.

- Open to corrections.

[2020-06-14 10:37] gy741 commented on #80
Hello, FeedPress appears to be no longer vulnerable.

The hostname xx.target.com is already registered on FeedPress.

Thanks

[2020-06-18 03:48] z3dc0ps opened #152 "Some Help with Cargo Collective Subdomain Takeover"
Some Help with Cargo Collective Subdomain Takeover

[2020-06-19 06:30] Zachswan1 commented on #36
same issue as @webliqui. @codingo?

[2020-06-23 01:18] hakluke opened #153 "Dreamhost (not possible)"
## Service name
Dreamhost (not possible)

## Proof
![image](https://user-images.githubusercontent.com/13975395/85349940-20720100-b543-11ea-9eb1-e2f659fda8e2.png)

## Documentation
Site looks like this: https://help.dreamhost.com/hc/en-us/articles/215613517-Site-not-found
I have attempted to take over a few of these in the past, but I get a permission error.

[2020-06-23 01:18] hakluke commented on #153
There may be some edge case I'm not aware of

[2020-06-23 22:16] soareswallace commented on #36
I believe, as I mentioned above, this issue is related to the region. This bucket may not be created on the region that you are testing on. But if you use the AWS CLI (`aws s3 ls <bucket_name>`) I believe you would find the bucket. I suggest you to test using the AWS CLI.

[2020-06-24 22:40] khaledibnalwalid opened #154 "Gumfury subdomain takeover"
## Service name
Gumfury

## Proof
https://khaledibnalwalid.wordpress.com/2020/06/25/gemfury-subdomain-takeover/

## Documentation

[2020-06-28 17:20] foysal1197 commented on #11
Hello
I found subdomain which is saying - The requested URL was not found on this server.
I check the cname for that subdomain, but i didn't found any cname .
Than i try to add this subdomain on unbounce . Its takes all the thing but when processing its still on configuration saying "Hang in there—we’re processing your domain!"
what should i do now

[2020-06-29 00:37] swethasridevi commented on #67
@knc331 How did you signup?

[2020-07-01 16:48] king8909364506 commented on #11
@foysal1197  I got the same response - The requested URL was not found on this server.

May I report it?

[2020-07-01 16:56] m7mdharoun commented on #11
Sure No don't report until , you must be sure that you takeover this subdomain.

## let's Take a small example :
Hackerone has subdomain called `info.hacker.one`  This subdomain show you error `The requested URL was not found on this server.`

visit https://info.hacker.one/

But it works well in paths example :

visit https://info.hacker.one/2018-hacker-report/

Kind Regrads,
Mohamed Haron.

[2020-07-01 17:07] king8909364506 commented on #11
I searched the whole internet with dork and every tool but there is sub
file like test.domain.com/test.php .
It only have single domain that is test.domain.com which is showing error
that requested url not found on this server.

What should I do?

On Wed, 1 Jul 2020, 10:26 pm m7mdharoun, <notifications@github.com> wrote:

[2020-07-04 12:44] rishabsinghlogin commented on #22
Is it still possible to claim subdomain on Fastly?

[2020-07-04 12:48] sumgr0 commented on #48
So does that mean, if a vulnerable subdomain has the A record pointing to an IP, it's impossible to takeover the subdomain?

[2020-07-04 18:46] adityathebe commented on #142
Does this not involve `CNAME` records ?

[2020-07-04 19:02] melbadry9 commented on #142
@adityathebe  No, It has A record pointing to IP 69.164.223.206

[2020-07-05 10:14] Mik317 commented on #36
Hi @soareswallace :),
I got the same error and when I execute the command you suggested in the latest reply, I get this error: `An error occurred (AllAccessDisabled) when calling the ListObjectsV2 operation: All access to this object has been disabled` ... any tip to make possible the `take over` ?

Regards,
Mik

[2020-07-05 15:13] justforhack commented on #71
No one thinks about close this "2-years club" issue

[2020-07-07 09:37] m0ns7er opened #155 "Subdomain takeover using https://tilda.cc/"
## Service name
https://tilda.cc/

## Proof
https://hackerone.com/reports/894657

## Documentation
Subdomains which are pointing to tilda.cc,and has a unclaimed DNS record are vulnerable for subdomain-takeover.

## Reference
https://help.tilda.ws/customdomain#:~:text=Navigate%20to%20the%20Site%20Settings,in%20the%20right%20upper%20corner.

[2020-07-08 15:16] king8909364506 opened #156 "e.customeriomail.com subdomain takeover"
Hi there I founded a subdomain pointing to e.customeriomail.com. Is it vulnerable to takeover?

[2020-07-09 18:49] soareswallace commented on #36
I believe when we get this message @Mik317 , the take over is not possible. This message show that the bucket does exist and has an owner.

Stay safe,

Wallace

[2020-07-09 18:55] Mik317 commented on #36
Hi @soareswallace :).
Thanks for the reply. I'll be lucky the next time ;)

Until that, stay safe and hack the world ;)

Regards,
Mik

[2020-07-11 20:55] faeeq commented on #22
I successfully claimed a domain
But the link it is generating is
Domain.com.fastly.net
It should show only domain.com
Or domain.com.fastly.net is also correct?

[2020-07-13 18:12] yashanand opened #157 "Help"
## Service name
surveygizmo.com
## Proof

## Documentation
https://help.surveygizmo.com/help/set-up-a-private-domain

I think it may be possible can someone confirm this

[2020-07-15 15:47] FaizanNehal commented on #36
Hi @soareswallace
I discovered a subdomain whose CNAME is point to *.elb.amazonaws.com.
How can I takeover this subdomain? Is the process same as creating a s3 bucket?

[2020-07-15 16:34] soareswallace commented on #36
Hi @FaizanNehal,

I tried once, but never found out how to do it. I also would like to know how we can takeover. Let us know if you discover anything.

Wallace

[2020-07-19 20:05] MilindPurswani opened #158 "Bigcartel service subdomain takeover"
## Service name
Bigcartel.com

## Proof
Navigate to https://test4.milindpurswani.com/

## Documentation

For documentation, kindly visit to: https://help.bigcartel.com/other-domain-providers and https://help.bigcartel.com/topic/domain-providers

[2020-07-20 22:54] Shashank-In opened #160 "Subdomain takeover of readthedocs"
## Service name
readthedocs.org

## Proof
If a subdomain is pointing to `readthedocs.io` via CNAME records but not claimed. The website will throw an error like this

<img width="897" alt="Screenshot 2020-07-21 at 4 20 45 AM" src="https://user-images.githubusercontent.com/16235299/87994140-deb88400-cb09-11ea-8dd0-22d6c35d4cf7.png">

Signup for a an account and go to Your Project >> Admin >> Domain

[2020-07-21 06:45] vemoa commented on #36
Anyone knows about amazon route 53???? Is it vulnerable?

[2020-07-23 01:02] manasmbellani commented on #11
@Bplotka @foysal1197  Did you ever manage to perform subdomain takeover for Unbounce? I don't think it will be possible now until you interact with the unbounce team, as per the link here: https://documentation.unbounce.com/hc/en-us/articles/360000851786

[2020-07-23 04:08] Bhargava-krishna commented on #22
Is there any way to bypass this?

[2020-07-23 04:13] sumgr0 commented on #22
Only if the parent domain is not registered with wildcard entry. I've not seen anymore cases with fastly service takeover.

[2020-07-24 09:47] PR3R00T commented on #35
Hey! I just found a subdomain pointing to azurefd.net, investigations show that its azures (front door) service, you can do subdomain takeover on this domain type. You can use the backend pool to point to a resource you own.

[2020-07-25 11:27] bayotop commented on #103
Was digging into this lately and found https://docs.acquia.com/resource/definitions/realm/:

It seems that the aforementioned (randomly generated subdomains etc.) is true for "Cloud Platform Professional" customers. Enterprise customers seem to have predictably generated subdomains with a different "realm" — the `devcloud` vs. `prod` part in the provided URL.

**tldr;**

[2020-07-25 12:39] ronykris opened #161 "are subdomains pointing to akamaiedge.net takeover-able?"
## Service name
akamaiedge.net

## Proof
Below is the answer from dig abc.xyz.com
;; ANSWER SECTION:
abc.xyz.com	899	IN	CNAME	dpp-dmo-wc.edgekey.net.
dpp-dmo-wc.edgekey.net.	359	IN	CNAME	e29511.dscb.akamaiedge.net.
e29511.dscb.akamaiedge.net. 19	IN	A	106.51.42.35
e29511.dscb.akamaiedge.net. 19	IN	A	106.51.42.10

The subdomain abc.xyz.com gave an invalid URL

Invalid URL
The requested URL "[no URL]

[2020-07-25 13:48] adityathebe commented on #161
#13

[2020-07-28 14:24] smiegles commented on #11
@UBAMas explained that you shouldn't be trying this. Closing the issue.

[2020-07-28 14:24] #11 closed

[2020-08-01 07:57] janthraper opened #162 "Subdomain takeover of Alibaba Cloud OSS"
## Alibaba Cloud OSS

 A subdomain pointing to unclaimed Alibaba OSS bucket via CNAME is vulnerable for takeover. The website will throw an error like this when the bucket doesn't exist.

![test](https://user-images.githubusercontent.com/48625138/89096999-9a29c400-d3f8-11ea-9b75-5236fc60462b.jpeg)

## Step-by-step process:

1. Go to [OSS panel](https://oss.console.aliyun.com/overview)
2. Click Cre

[2020-08-04 16:31] TheHnt3r commented on #36
I found a subdomain.domain.com that is vulnerable, and confirmed with dig that CNAME was for s3 bucket in Verginia
When I tried creating the bucket with the same name it worked but the endpoint for the bucket was like so:
`^[a-z0-9\.\-]{0,63}\.?s3-website[\.-](eu|ap|us|ca|sa|cn)-\w{2,14}-\d{1,2}\.amazonaws.com(\.cn)?$`
Which is mentioned in the documentation. OR
`^[a-z0-9\.\-]{0,63}\.?s3.amazonaws

[2020-08-07 09:55] Ahmed9204 commented on #117
Hello Is this case still vulnerable ?

[2020-08-11 05:05] n41n4 commented on #146
Can we takeover Marketo?

[2020-08-13 15:51] FaizanNehal commented on #35
@PatrikHudak I think you should also add `.trafficmanager.net` is the list of vulnerable services on Azure.

[2020-08-21 01:53] saurabh96216 commented on #68
website name example.com pointing to cname example.github.io. Now there is still content on example.com but when navigated to example.github.io it says a 404. I tried to create a github repo but when trying to add a domain, it says cname is already taken. I am kinda confused as if it is pointing to an unclaimed github.io domain, it should be vulnerable right ?

[2020-08-21 02:01] adityathebe commented on #68
@saurabh96216 IIRC the cname is irrelevant as long as it is pointing to <any-username>.github.io

[2020-08-21 02:03] Saurabhsam96 commented on #68
Exactly! But somhow the subdomain has content going live while the cname is showing 404.still figuring it out if its is vulnerable or no!

[2020-08-21 09:16] 1nc0gn170 opened #163 "Is uservoice subdomain takeover possible?"
I have found a program where website its response is 404 and Its Cname is pointing to uservoice.com.
I didn't find any registration portal for that site.

[code]
![Screenshot from 2020-08-21 14-44-19](https://user-images.githubusercontent.com/46676598/90874147-ee531300-e3bc-11ea-9877-fbfc9e5af5bb.png)

Anyone Help me please

[2020-08-26 02:47] aman566 opened #164 "Is takeover of Criteo possible?"
## Service name
Criteo
## Proof
![image](https://user-images.githubusercontent.com/32503192/91249461-9299d880-e774-11ea-9fd8-657c863e35a9.png)
## Documentation

[2020-08-26 21:12] MohamedFci12 commented on #11
Hi @m7mdharoun  I still have the same error The requested URL was not found on this server.

how can i exploit it?

[2020-08-28 08:58] Ncfoa-code opened #165 "unibet.com"
## Service name

## Proof

## Documentation

[2020-08-28 08:59] #165 closed

[2020-08-28 13:48] fuomag9 commented on #137
So this means that elb cannot be taken over

[2020-08-28 14:37] bsysop commented on #137
I had a good theory, created a engine to do it, invested a good time in that, lost 700$ in AWS costs with multiple accounts.
By my calculations it would need 27 years to match with an valid ELB.

Good luck.

[2020-08-28 15:15] fuomag9 commented on #137
as I tought, elb can't been taken over. ec2 ip address on the other hand tho seem more interesting

[2020-08-29 05:47] marcelo321 commented on #158
@martinbydefault anyone can create a resource named lol1231231.bigcartel.com and takeover ur subdomain?

[2020-08-29 14:57] MilindPurswani commented on #158
Hi @marcelo321,

Assuming that this question was directed to me, yes! anyone can claim this domain.

[2020-08-29 21:40] bsysop commented on #137
Probably, never tried.

[2020-09-01 02:20] mnijres commented on #68
@EdOverflow Hi Ed, it seems github no longer vulnerable for sub-domain takeOver since they add account name before the sub-domain that planing to takeover it.
For example the sub-domain suppose to be vulnerable is example.gitexample.com
When creating page they add your github name before the page name like (hxxps://mnijres.github.io/example.gitexample.com)
Since mnijres is my github name.

[2020-09-01 09:53] mnijres commented on #68
After testing **1,516,945** sub-domains included (cloudfront, fastly, Github.io, tumbler,shopify)

**Non of them are vulnerable to sub-domain takevoer anymore !**

I will try my luck with something else.

[2020-09-02 00:36] aadityao1 commented on #24
Did you find fix for this?

[2020-09-02 17:16] chaitu577 commented on #35
hey all.

dig on a subdomain responds with a status: NOERROR, and the cname points to *.azurewebsites.net.

is it vulnerable for takeover?

![image](https://user-images.githubusercontent.com/53077233/92015186-09833280-ed6e-11ea-80af-eebade019c19.png)

Regards,
Che

[2020-09-03 04:37] gauravdrago opened #166 "leadpages.com possible to takeover"
## leadpages.com

error page looks like this one
![leadpages](https://user-images.githubusercontent.com/37478652/92071766-3dda0b80-edcd-11ea-98eb-6d127d4beb05.JPG)

## Documentation
https://support.leadpages.com/hc/en-us/articles/218820517-Connect-your-domain

[2020-09-03 06:37] gauravdrago commented on #166
![image](https://user-images.githubusercontent.com/37478652/92079731-0889e980-edde-11ea-97c2-6ba2c646d095.png)

[2020-09-03 06:44] gauravdrago commented on #166
![image](https://user-images.githubusercontent.com/37478652/92080319-fb212f00-edde-11ea-8a37-509a2ad9a7b2.png)

[2020-09-03 06:45] gauravdrago commented on #166
Erro Code

404
This page couldn’t be found,
so let’s get you turned around!
The page you’re looking for may have been moved.
Double check that you have the right web address and give it another go!

[2020-09-03 06:52] adityathebe commented on #166
The CNAME should be set to **custom-proxy.leadpages.net** ? Or is the `custom-proxy` part a variable ?

[2020-09-03 07:09] gauravdrago commented on #166
![image](https://user-images.githubusercontent.com/37478652/92082612-68828f00-ede2-11ea-882b-a4fec597cab4.png)
in my test case the domain have cloudflare records only

[2020-09-04 16:41] gauravdrago commented on #36
is this service still vulnerable?

[2020-09-04 17:56] riramar commented on #23
https://www.youtube.com/watch?v=sBTVWKeh7xY

[2020-09-04 18:29] Mouja0412 commented on #23
Hello, I didn't test if it's still vulnerable or not (been 4 months since my last test), I will check hat tomorrow and will keep you updated.

(The POC video is mine from my report here : https://hackerone.com/reports/869605 but someone downloaded it and posted it on youtube, so the youtube channel is not mine)

[2020-09-05 05:49] Goron commented on #24
I just tried it and I confirm it is not possible to takeover. Any other update so far?

[2020-09-05 06:04] Goron commented on #80
I confirm feedpress is not vulnerable. Testing on few domains.

[2020-09-06 13:29] drown95 opened #167 "appery.io is vulnerable subdomain takeover"
appery.io

pointing to 107.20.248.61

Status:
https://i.imgur.com/E7pRhrZ.jpg

pointing to 107.20.248.61

#Proof

https://i.imgur.com/mFbYBuK.png

[2020-09-09 13:34] wae23123wq commented on #24
Is it not possible to takeover on pantheon anymore?

[2020-09-14 10:53] shivammusic opened #168 "My question and poc"
My Question
Is it possible to takeover subdomain with GitHub which is not from GitHub pointed domain?

POC -
I add one custom subdomain(let's say **dom.example.com**) to my GitHub page which is not from Github hosted Pages but i successfully added this to my custom domain, but i cannot able to reflect my pages to that subdomain), i really don't know what is going on.

is that domain is vulnerable

[2020-09-20 19:06] Craig9080 commented on #94
It appears that MaxCDN (The owners of the netdna-cdn.com domain) has been bought by StackPath and the subdomain creation process has changed to now be <randstring>.stackpathcdn.com.  From what I can find there are still customers with netdna-cdn.com CDN subdomains out there but you cant take them over.

[2020-09-21 10:06] robotshell opened #170 "Frontify"
## Service name
**Frontify**

## Proof
1. Execute the tool dig. Example `dig example.com`:

[code]

**Previous ip addresses and domains have been invented to show example**

2. Enter the subdomain adress in the web browser. Example `subdomain.frontify.com`. Check if it appears Error 404 like in the image.
![](https://i.imgur.com/HEfnQLh.png)

3. Create a free account: [Free Trial](https://www.fron

[2020-09-21 15:48] tolidano commented on #29
Report is from 2 years ago, and was already discussed in this issue. Please review carefully.

[2020-09-22 08:12] juniorhero opened #173 "elb takeover"
can abc-12345678.us-east-1.elb.amazonaws.com be taken over?

[2020-09-23 13:13] Slingx commented on #146
Someone please answer this??

[2020-09-23 18:11] pdelteil commented on #80
Not vulnerable. Also received a

`The hostname xx.target.com is already registered on FeedPress.`

[2020-09-23 19:05] pdelteil commented on #36
Not really, usually before the elb there's a random number.

[2020-09-23 19:40] pdelteil commented on #24
I just took over many patheon subdomains.

[2020-09-23 20:42] aadityao1 commented on #24
pantheon is vulneable

Did many takeover this month

[2020-09-24 02:31] Goron commented on #24
@aadityao1 @pdelteil can you please mention the steps in detail.

[2020-09-24 18:09] pdelteil commented on #24
Sure, I will, just need some time.

[2020-09-25 05:23] anantupadhya commented on #36
Hi,
     I have found "The specified bucket does not exist" for few subdomains. But when I do a dig, the subdomains fail to give a CNAME record. So does it mean that they are not vulnerable. Or am I missing something here?

[2020-09-27 20:33] pdelteil commented on #49
More info from 2017.

https://hackerone.com/reports/264494

[2020-10-04 08:29] NagliNagli commented on #46
I tookover a domain like the example above as well.

[2020-10-07 13:03] codingo commented on #173
For ELBs you can take over elastic beanstalk items (where a region is specified), but you can no longer take over elastic load balancers (which is what this is). Previously, you could brute force the nonce until you hit a collision, but that was fixed ~Nov 2018.

[2020-10-07 13:03] #173 closed

[2020-10-09 04:11] theunited36 commented on #22
It seems that it is not vulnearble because when we try takeover sub_1.test.com , it says that test.com is already registered.

[2020-10-09 11:28] janmasarik commented on #144
@adiffpirate I believe @manasmbellani is right with his signature in subjack.

I did a test with following test cases when I enable public dashboard to stats.masarik.sh (takeoverable cases bold):
1. Enabled, but don't have any checks enabled. This responds with `Public Report Not Activated` (fingerprint introduced in #159), but it's a false positive as you cannot claim the dashboard with another a

[2020-10-09 14:10] adiffpirate commented on #144
@janmasarik Wow, really nice work testing/documenting that. I created the PR based solely on what I saw at the proof video and the error page that shows up there.

Thank you for going the extra mile. I'm gonna create another PR later and update the fingerprint (or you can do that if you wanna) 😊

[2020-10-09 16:17] janmasarik commented on #144
Happy to help @adiffpirate! I've went ahead and made https://github.com/EdOverflow/can-i-take-over-xyz/pull/178 to address this. :-)

[2020-10-10 06:35] ravkishu commented on #35
I've seen the comments of all participants and few are in doubt that Azure takeover is not vulnerable anymore.

### Is Azure Takeover still vulnerable?
The above screenshot was taken on Oct 02, 2020, for PoC purposes and can be confirmed below that **Azure Takeover is still vulnerable & possible**
![microsoft_PoC](https://user-images.githubusercontent.com/39808656/95647868-8e413900-0af0-11eb-9164-

[2020-10-13 03:17] pdelteil commented on #35
You need to try to add the subdomain using the Azure portal under Custom domains

![Uploading Screenshot from 2020-10-13 00-17-19.png…]()

[2020-10-13 05:06] pdelteil commented on #137
It was fixed recently. You will only get a set of 4 to 5 IPs when you associate and release the IPs. Before you could iterate until receiving the wanted IP.

[2020-10-13 05:28] AnotherWayIn commented on #137
I went down the ec2 IP route a year or two back. I created a script that went through all their IP ranges in about 2 weeks. I found that it eventually it started giving me the same IPs again without giving me any that were available for possible takeover. I guess they have some long lease time on them preventing takeover.

[2020-10-14 10:52] Parasimpaticki commented on #133
HTTP response code would be better fingerprint, 403 for not vulnerable and 404 for vulnerable

http://non-existent-page.tilda.ws/ is also vulnerable but doesn't have 'Domain has been assigned' message

[2020-10-16 15:22] savirsuda15 commented on #35
Hey, How can I claim this? - *.azurewebsites.net
Provide steps please I am stuck

[2020-10-16 17:41] pdelteil commented on #35
https://blog.cystack.net/subdomain-takeover-chapter-two-azure-services/

[2020-10-16 17:45] sumgr0 commented on #35
Where are you getting stuck?

Best,
Sumit Grover

On 16 Oct 2020, at 23:11, Philippe Delteil wrote:

[2020-10-16 21:01] savirsuda15 commented on #35
Hello,
Not exactly getting stuck. Can you please provide steps to takeover a subdomain that is pointing to *,azurewebsite.net?
I am confused because the steps are given for  *,azurewebsite.net on the internet are mixed up and all. Do we have to make a Virtual Machine to claim it? Do we have to set up a CDN Profile? Or do we have to do something else? Please also provide complete steps for making a

[2020-10-17 06:27] savirsuda15 commented on #35
Hey, I followed the link given by pdelteil and I went to create a web app. When I went to create the app, It asked for the name of the app. So here do I have to put the CNAME to where the subdomain I wanna takeover is pointing to? or do I have to put in something else? In my case, subdmain.example.com is pointing to xyz.azurewebsites.net so I thought that we have to put the first part of the CNAME

[2020-10-17 06:35] savirsuda15 commented on #35
In that link the person who is demonstrating this wants to takeover a subdomain abc.com and the CNAME is also the same. So when he is creating a web app, he puts the name as abc.com(which is the CNAME and then subdomain that he wants to takeover.). So I am confused, do we have to put in the subdomain we want to takeover or the CNAME? By the way I think it will be the domain we wanna take over but

[2020-10-17 06:46] savirsuda15 commented on #35
{"code":"InvalidTemplateDeployment","message":"The template deployment 'Microsoft.Web-WebApp-Portal-ec6f8a01-8edb' is not valid according to the validation procedure. The tracking id is 'xxxxxxxxxxxxx'. See inner errors for details.","details":[{"code":"ValidationForResourceFailed","message":"Validation failed for a resource. Check 'Error.Details[0]' for more information.","details":[{"code":"Subs

[2020-10-20 12:44] y0sua commented on #146
waiting for answer

[2020-10-20 13:50] 108102 opened #181 "can i make subdomain takeover on kickofflabs?"

[2020-10-20 14:03] xqd-ai commented on #146
can you provide a PoC? most likely no due to the payment subscription requirement, so the take over is not possible until otherwise

[2020-10-27 12:08] ankushgoel27 commented on #67
Any more information on this?

[2020-10-28 13:15] jub0bs commented on #23
Not sure why this is marked as "Not vulnerable"... As others have reported above,

* Zendesk is still vulnerable, although the conditions for that may have changed over time;
* Regarding impact, such a subdomain takeover is a phisher's wet dream, and you can also achieve stored XSS in the context of the subdomain, which may have implications for other subdomains of the target (e.g. if they have im

[2020-10-29 07:37] ikarann commented on #71
is it still vulnerable?

[2020-10-31 14:32] tayyabqadir877 commented on #92
@PareshParmar  @EdOverflow

i found  target with this error:   Tunnel   subdomain.example.com not found
i lookup for it's cname and found cname like : http://abc.cname.us.ngrok.io

when i tried to reserved the subdomain.example.com  it say's unavaliable

 but when i tried to reserved the cname  i successfully reserved that

I don't have access to subdomain.example.com   but i have access of its Cn

[2020-10-31 16:20] tayyabqadir877 commented on #92
In My case for subomain.example.com:

victim has access to subomain.example.com
and i have access to its Cname:  http://example.cname.us.ngrok.io

But still the content of http://example.cname.us.ngrok.io   is not showing up on subomain.example.com

[2020-11-01 04:45] tayyabqadir877 commented on #92
![Screenshot_2](https://user-images.githubusercontent.com/17311921/97795274-27fa9280-1c26-11eb-8c07-0d51c31bfbdc.jpg)
![Screenshot_4](https://user-images.githubusercontent.com/17311921/97795276-2af58300-1c26-11eb-8b0e-5dfb17c4e89f.jpg)
![Screenshot_5](https://user-images.githubusercontent.com/17311921/97795277-2df07380-1c26-11eb-87f5-1e8465a5ed22.jpg)

But still

![Screenshot_6](https://user-image

[2020-11-01 17:25] PareshParmar commented on #92
Hi,

You're doing steps wrong.
1 . Add vulnerable domain in your account's custom domain list not cname entry.
2. Once you add that run this command
`ngrok http -region=us -hostname=vulnerable.subdomain.com 80 `

Let me know if you still face any issue.

[2020-11-01 19:42] tayyabqadir877 commented on #92
Thanks for your reply, I still unable to takeover, Can you mention me the point on which i am wrong

1- I have also added custom domain  ( eg.  vulnerabledomain.com )  successfully owned

2-  when i tried to add  ( sudomain.vulnerabledomain.com )  it say's unavaliable

3-  then i tried to run these commands in windows

3 (a).: CMD:

ngrok.exe  http -region=us -hostname=sudomain.vulnerabledomain.co

[2020-11-01 22:20] PareshParmar commented on #92
Hi, As you mentioned in the second step it says `unavailable`  , which means subdomain is added in another account.

but feel free to dm me, Ill check:  https://twitter.com/Paresh_parmar1

[2020-11-02 13:34] 0xecho opened #182 "Domain with CNAME pointing to Cloudflare CDN"
## Service name
Cloudflare cdn
## Documentation
www.somedomain.com is pointing to www.somedomain.com.cdn.cloudflare.net. But www.somedomain.com.cdn.cloudflare.net is non-existent, so cloudflare responds with an error message stating that. I was looking around but couldn't find such takeovers. Is it possible?

[2020-11-03 08:31] h4ckdi commented on #35
Hi everyone!

I've found subdomain that can be taken over and which is registered on *azurewebsites.net. I'm getting this in return when I type `dig` command:

<img width="531" alt="image" src="https://user-images.githubusercontent.com/70600873/97963081-b9990a00-1db6-11eb-9366-9f6c8c52a7f8.png">

But when I register website on the portal.azure.com -> Custom Domain Names it is still asking me to de

[2020-11-04 10:01] teslatheg0d commented on #22
Its no more edge case....

its just not vulnerable any more....

[2020-11-16 16:45] rockybhai0516 commented on #24
@pdelteil  update the steps bro

[2020-11-18 17:22] Elsfa7-110 commented on #11
not vulnerable

[2020-11-22 18:12] savirsuda commented on #35
I dont think this is a vulnerbale case anymore. You can see above how I asked for help on the same but didnt get any replies and my case is still the same. I tried a lot but couldnt make it work :(

[2020-11-28 15:26] ayushmayank commented on #11
Is it still possible in 2020 to takeover subdomain in unbounce.com with this "The requested URL was not found on this server." error?
Anyone ??

[2020-11-29 01:29] X-shadowt commented on #11
@ayushmayank no it's not bro

[2020-11-29 06:55] ayushmayank commented on #11
@X-shadowt yah I was thinking that too... thanks

[2020-12-04 16:29] yassineaboukir commented on #125
Hi,

I confirmed this behavior as well. If the FQDN is already registered under another account, you'll receive the same error: `You can't add that domain: parent domain xxxxx.com is already in our system`.

[2020-12-07 06:23] ScrubsAndStats opened #183 "Subdomains pointing to vercel.com are vulnerable"
## Service name
Vercel
## Proof
Successful subdomain takeover on a harvard.edu subdomain (screenshot).
![proof-vercel](https://user-images.githubusercontent.com/40786065/101316778-f7d68d00-387e-11eb-8078-258558cb5d56.png)

## Documentation
- Create a new repository on Github and upload an index.html
- Visit https://vercel.com/ and sign up using your Github account
- Create a new project and point

[2020-12-07 15:27] davisfreimanis commented on #35
App services (ending with *.azurewebsites.net) does not seem to be vulnerable anymore with the TXT verification as stated here https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain#get-a-domain-verification-id.

A TXT record is required to verify ownership of the domain.
I cannot get it to work. Can anyone confirm this?

<img width="369" alt="Screenshot 2020-12-

[2020-12-07 15:45] ravkishu commented on #35
This is a valid vulnerability, you are unable to verify it because you're
entering wrong information at right place.

Best Regards
Ravi

On Mon, Dec 7, 2020, 20:58 Davis Freimanis <notifications@github.com> wrote:

[2020-12-07 15:47] h4ckdi commented on #35
@ravkishu Then can you explain what is correct and what not? You are not helping, we know it's wrong because it doesn't work :)

[2020-12-07 15:50] ravkishu commented on #35
Just enter your subdomain in place for test.domain.com and you're good to
go.

If still you're facing problem then let me know, we can do a google meet
and fix this.

But it would be one time help only.

On Mon, Dec 7, 2020, 21:18 h4ckdi <notifications@github.com> wrote:

[2020-12-07 15:59] davisfreimanis commented on #35
@ravkishu Well I need to create a CNAME and a TXT record on the victims domain (let's say google.com). There is no way that I can verify the ownership of the domain by creating a TXT record.

I would gladly hear from you to understand how this could be bypassed.

[2020-12-07 16:03] adityathebe commented on #35
https://github.com/EdOverflow/can-i-take-over-xyz/issues/35#issuecomment-634139457

[2020-12-07 16:09] ravkishu commented on #35
For your reference @savirsuda @davisfreimanis @h4ckdi @adityathebe , I can only provide you a link as a proof of concept http://smpaccountexceptionservice-int.dps.microsoft.com/

Also, let's take this conversation out of GitHub because I don't want to annoy people with so many messages.

Those who need assistance can WhatsApp me on [@ravkishu ](http://bit.ly/rentahacker)

[2020-12-07 16:11] davisfreimanis commented on #35
Without the validation, traffic is not routed to the app service. In that case I am presented with a 404 screen as people has posted previously.

[2020-12-08 13:34] davisfreimanis commented on #35
I have verified that **Cloud Services** (ending with *.cloudapp.net) are still **vulnerable** and does not require domain validation. Just create a resource with the same name as the dangling domain.

[2020-12-10 23:09] xqd-ai commented on #35
I also stumbled on an *.azurewebsites.net service without the ability to takeover it due to the TXT record verification! was anyone able to bypass it, or does this just confirm that *.azurewebsites.net service is no longer vulnerable?!

[2020-12-12 12:54] jah-cyber commented on #67
anything ??

[2020-12-12 18:46] ms-geeky commented on #67
nah nothing!

[2020-12-14 00:48] bugtesttakeover opened #184 "takeover"
## Service name

## Proof

## Documentation

[2020-12-14 19:45] h4ckdi commented on #46
I just managed to takeover subdomain with fingerprint "Only one step left!

[2020-12-15 12:53] 0xspade commented on #170
I was able to takeover the CNAME but it's not reflecting on the subdomain I want to takeover.

[2020-12-15 19:39] ravkishu commented on #162
Hi @janthraper

I appreciate this research but can you please:
1. Suggest the `CNAME` pattern in Alibaba Cloud that you're talking about
2. PoC will be much appreciated if possible.

[2020-12-16 01:22] jbreed commented on #49
@pdelteil Following back up on this. Do we know what the site displays (search text) for when a domain is vulnerable? Seems like this is pretty old, but not seeing it anywhere.

[2020-12-17 01:28] marcelo321 commented on #183
Can you share the cname regex and the fingerprint?

[2020-12-17 18:07] c0d3d-v3n0m commented on #183
Sure

`{
			"service": "vercel",
			"cname": [
					""
			],
			"fingerprint": [
					"The deployment could not be found on Vercel."
			],
			"nxdomain": false
	}`

[2020-12-21 11:59] ravkishu commented on #37
Hi @sumgr0

I'm not quite sure but you should be able to, because it's not allowed only in case of `github.io, github.com, or github.page` as per official error I'm currently getting.
![image](https://user-images.githubusercontent.com/39808656/102774908-e5e20780-43b1-11eb-9d2a-5532b35beed7.png)

There isn't any such notice regarding `githubapp.com`. So, I suppose you should be able to takeover if

[2020-12-23 10:17] marcandcheese opened #186 "Kajabi takeover?"
Anyone know if subdomain takeover on Kajabi is possible?

[2020-12-26 04:36] adityathebe commented on #183
There are definitely edge cases here.

[code]

[code]

![image](https://user-images.githubusercontent.com/13419481/103145470-65c9f200-4763-11eb-95fe-65827e41b12a.png)

[2020-12-29 04:39] marcelo321 commented on #183
so the cname we need to grep is vercel-dns.com not vercel.com. thank you @adityathebe

[2020-12-30 05:38] whisperer256 commented on #145
What is the cname for this service?

[2020-12-30 05:39] whisperer256 commented on #103
What is the CNAME for this service?

[2021-01-03 05:20] adityathebe commented on #117
This is an edge case. Needs to be verified manually

![image](https://user-images.githubusercontent.com/13419481/103472253-93dab200-4db3-11eb-942b-f34d157148ee.png)

![image](https://user-images.githubusercontent.com/13419481/103472248-802f4b80-4db3-11eb-9c6b-a7a2d05918ba.png)

[2021-01-07 22:31] meimoonK commented on #103
![lol (2)](https://user-images.githubusercontent.com/44483182/103952328-2377bc00-5138-11eb-9abf-32932a80a2a8.png)
![txt](https://user-images.githubusercontent.com/44483182/103952331-24105280-5138-11eb-8143-e00c2b42e301.png)

[2021-01-08 04:00] bsysop commented on #35
Just ignoring TXT validation works fine for me.

[2021-01-08 13:14] lilloX opened #188 "DatoCMS"
## Service name
datocms
## Proof
Using dig:
[code]
Browse the domain, it will show a spinner and then a white page. The page content is:

[code]
Create a free plan (developer) and a new project, then link the domain to the project. Browsing the domain will show the site you choose during the project build

![aaa](https://user-images.githubusercontent.com/18420369/104019383-c1609a80-51bb-11eb-9309-

[2021-01-14 08:24] saurabh96216 commented on #35
Hey guys, Need your help. One of the subdomains let's say blah.blah.blah.target.com is pointing to blah-blah.azurewebsites.net but in the dig authority section it is pointing to another subdomain of the target but the other subdomain has no name. Is takeover possible for this ? also when navigating to the  blah.blah.blah.target.com it says DNS_PROBE_FINISHED_NXDOMAIN ? Thank you

[2021-01-14 10:36] ethrx commented on #35
Could you maybe post all of the outputs of your digs? For a clearer picture.

[2021-01-20 11:24] HammyHavoc commented on #163
Wondering this myself. CC @austintaylor @attack7 @hoffoo

[2021-01-21 21:11] hoffoo commented on #163
@n41n4 @HammyHavoc

It is not possible - subdomain cnames are unique and cannot be reused

[2021-01-22 05:59] arunrkamaraj commented on #22
vikrams-MacBook-Air:domaintakeover arjunsharma$ dig https://critik.in/best-lip-balms-in-india/

; <<>> DiG 9.10.6 <<>> https://critik.in/best-lip-balms-in-india/
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 19199
;; flags: qr rd ra; QUERY: 1, ANSWER: 6, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION

[2021-01-22 10:40] HammyHavoc commented on #163
Thanks for that! Thought as much. I had somebody reach out asking for a bug bounty reward in exchange for this "information".

[2021-01-22 20:43] NagliNagli commented on #49
So yesterday I found a google acquisition who pointed to xxx.trydiscourse.com, I registered the discourse account with the trial and managed to takeover the CNAME the original one pointed to, for some weird caching issues the original domain remained at 404, but I managed to takeover the CNAME linked to it.

[2021-01-22 22:06] #21 closed

[2021-01-24 15:41] NetanMangal commented on #37
Hi @EdOverflow
I am trying to takeover subdomain **<organization>.github.io** but when I create a repo and try to serve it via the Github Pages, I get a URL like **netanmangal.github.io/<repo-name>**.

Github has started to appending the username to the github.io/<repo-name>

I have done something wrong or I think github pages are no longer vulnerable unless the user/organization have totally dele

[2021-01-25 14:38] united36 commented on #24
Hello,

Any dork for this?

[2021-01-29 11:28] polop1234 opened #189 "AWS s3 bucket not vulnerable EVER??"
HI,

today tried to take a subdomain takeover but in an s3 bucket without claim but cname direct to s3-1-w.amazonaws.com and it cannot register s3, and when uploading a file to try to get the poc file change the direction of the object completely.

then i give grant access and same. i cant see the endpoint s3 bucket

Has AWS finished with the subdomain takeover of the s3 bucekt ?

bucket s3 unclai

[2021-01-29 14:20] #189 closed

[2021-02-03 01:10] artrebultan21 opened #190 "Take Over the domain equinix1a.xyz"
## Service name
Take Over
## Proof
UDPR violation - infridgement against Equinix.com trademark
## Documentation
http://equinix1a.xyz (parked domain)

[2021-02-03 07:33] agrawalsmart7 commented on #71
I think I was able to takeover. So its still vulnerable

[2021-02-03 13:27] EdOverflow commented on #71
@justforhack, the way the project works is that "Issues" are not in fact used for their intended purpose. This has turned more into a forum of sorts for people to discuss specific services within issue tickets. Closing issue tickets makes them slightly less discoverable which is undesirable. In other words, there is no "fix" for these issues as you might typically see on GitHub—these are merely po

[2021-02-03 13:29] EdOverflow commented on #190
I am not quite sure I understand this one. Is this a service that allows for hosting of websites with a custom hostname or are you linking to a parked domain?

[2021-02-03 13:33] artrebultan21 commented on #190
Sorry, please ignore this. Just thought you are doing TakeOver services.

Thank you for reaching-out.

Warmest regards,
-Mike

Sent from my iPhone

On 3 Feb 2021, at 9:29 PM, EdOverflow <notifications@github.com> wrote:

﻿

I am not quite sure I understand this one. Is this a service that allows for hosting of websites with a custom hostname or are you linking to a parked domain?

—
You are receiv

[2021-02-03 13:36] #161 closed

[2021-02-03 13:38] shelld3v commented on #71
Okay man!!

(I thought my comment was disappeared from this world, for a long time ago...)

[2021-02-03 13:39] #190 closed

[2021-02-08 16:03] imvkale opened #191 "customer.io"
## Service name

## Proof

## Documentation

[2021-02-09 09:17] spencer5cent commented on #24
Hey, I recently found a page with the Pantheon 404 error.  I made an account and paid the $50 dollar signup fee.  But when I tried to add the vulnerable subdomain, it gave me a “this domain belongs to another organization.”  So I cant say for sure if it’s totally impossible to takeover in all situations, but for me it didn’t work and sadly lost money in the process.  Thanks for your work!

[2021-02-09 23:45] klmunday opened #192 "Are takeovers of azureedge.net cnames meant to show the new site in the url?"
## Service name
azureedge.net (Azure CDN Provider)

As part of a bug bounty test I have found a subdomain which has a CNAME entry pointing to an azureedge.net instance. I believe I have correctly taken over the subdomain. However, when I visit the original domain it behaves almost like a redirect changing the url in my browser to my site I took it over with. Is this the expected behaviour? everywh

[2021-02-10 03:41] pdelteil commented on #24
Here..

https://pdelteil.medium.com/how-i-took-over-several-stanford-subdomains-also-let-me-explain-you-the-pain-to-report-it-d84b08704be8

I used a virtual credit card with no funds to bypass the payment step.

[2021-02-11 20:23] GDATTACKER-RESEARCHER commented on #191
what's your question? or if it is answer do you have poc for takeover

[2021-02-14 13:52] yashanand commented on #164
@aman566 any update

[2021-02-14 13:55] aman566 commented on #164
No I am not able to do that.

[2021-02-16 06:16] yousefmoh15 opened #193 "Can i takeover subdomain with cname that refers cdn.cloudflare.com"
I have found a subdomain like sub.example.com which alias to sub.example.com.cdn.cloudflare.com
 when I request that subdomain it gives me
 ( 404 not found)
so can i take over it or not ?

[2021-02-17 14:30] Phoenix1112 opened #194 "Can aws elasticbeanstalk service be takeover with env?"
hello. I know it is possible for the aws elasticbeanstalk service to have a takeover if the conditions are met. For this, the region named elasticbeanstalk should be used. but if there is "env" in the same name, I don't know if it will be takeover.

example:

example.us-west-2.elasticbeanstalk.com > it is vulnerable

example-env.6zycefn8gp.us-west-2.elasticbeanstalk.com  > I don't know if this is

[2021-02-17 14:35] jub0bs commented on #147
Here is another account of a subdomain takeover based on AWS Elastic Beanstalk: https://twitter.com/payloadartist/status/1362035009863880711

[2021-02-19 07:08] clegion opened #195 "www.glb.paypal.com"
## Service name

## Proof

## Documentation

[2021-02-19 07:08] #195 closed

[2021-02-19 07:08] clegion commented on #195
Error

[2021-02-19 19:32] hussain0x3c opened #196 "Subdomain Takeover via CloudApp"
## Service name
CloudApp - getcloudapp.com

## Proof
![Screenshot 2021-02-19 221435](https://user-images.githubusercontent.com/27290045/108551788-77fa8380-7301-11eb-9f5f-7e8414d98c4b.jpg)

![2018-04-04_00-19-21](https://user-images.githubusercontent.com/27290045/108552000-c4de5a00-7301-11eb-9166-9e8e3123350b.jpg)

## Documentation

1- There's no proof page, but the subdomain redirects you to getcl

[2021-02-19 20:21] hussain0x3c opened #197 "Subdomain Takeover Branch"
## Service name
Branch - https://branch.io

## Proof
![Screenshot 2021-02-19 230750](https://user-images.githubusercontent.com/27290045/108556163-a713f380-7307-11eb-8c3b-209ba9f43ea5.jpg)

![Screenshot 2021-02-19 224424](https://user-images.githubusercontent.com/27290045/108556352-ef331600-7307-11eb-9831-95ad113e7b8f.jpg)

## Steps to Reproduce
1 - Sign up in branch.io.
2 - After login in go to th

[2021-02-21 16:45] mzfr opened #198 "surge.sh is not vulnerable"
I am bit confused about `how takeovers works`

so If a website named `sub.target.com` is pointing toward `thisisrandom.surge.sh` then the way to takeover would be to register the `thisisrandom.surge.sh` domain, right?

If that is how it should be then it's not possible to takeover `surge.sh` subdomains. I don't think it's possible because when you go on to register a new project with a new subdoma

[2021-02-24 16:29] sumgr0 commented on #197
Can you the fingerprints for identification?

[2021-02-25 08:40] hussain0x3c commented on #197
share.vulnerable.com.     300     IN      CNAME   custom.bnc.lt.
custom.bnc.lt.          3       IN      A       52.52.224.167
custom.bnc.lt.          3       IN      A       52.53.67.13
custom.bnc.lt.          3       IN      A       52.52.150.189
custom.bnc.lt.          3       IN      A       13.56.61.228
custom.bnc.lt.          3       IN      A       13.57.114.155
custom.bnc.lt.          3

[2021-02-25 08:51] sumgr0 commented on #197
Thanks...

[2021-02-25 11:12] ethrx commented on #150
Some websites might not be added to an Uberflip account, however it is not possible for takeover. Registering for an account is not possible, you have to book a demo with the sales team.

The Hackerone report that was linked above was an empty takeover, they didn't actually perform it. I find it highly unlikely that someone could register with their sales team pretending to be that company.

Shoul

[2021-02-26 06:23] hussain0x3c commented on #197
@sumgr0 No,

[2021-02-26 07:37] sumgr0 commented on #197
Cool.. Thanks

[2021-02-26 22:18] kcnewb1e commented on #117
![image](https://user-images.githubusercontent.com/53884802/109361273-3ea2b480-78bb-11eb-8739-193361abeacc.png)
this is error from landingi to?

[2021-02-28 13:30] ahmedameenaim commented on #117
@adityathebe  Is there a way to bypass it ?

[2021-03-02 02:22] com0t commented on #22
hi @vaadataa how can i register `map.fastly.net` domain?
Thank~

[2021-03-02 04:41] harvardstudent2020 opened #199 "Todayisnew AKA eric Submitted a cloudfront takeover"
## cdn.grab.com

## proof: https://hackerone.com/reports/352869
how was this even possible?

[2021-03-02 13:54] ethrx commented on #199
The report was originally submitted 3 years ago. If you actually read the report he says:

7 days ago for a disclosure request.

[2021-03-02 14:01] ethrx commented on #194
This 10-digit name is there for the exact reason you want to claim it. I remember reading a report once about someone who created tens of thousands of AWS services to try and get this same random code, but failed.

[2021-03-02 17:16] moein9 commented on #35
I have found something pointing to **adverify.beacon.azurefd.net** in front door how can i takeover it while making beacon.azurefd.net is not allowed

[2021-03-03 00:22] zkebami commented on #22
can yu tell me how because this is not workin for me

[2021-03-04 11:55] yassinek3ch commented on #38
*.herokuapp.com --> vuln-api is not available !

[2021-03-05 08:39] harvardstudent2020 commented on #199
damn. alright just noticed that. so cloudfront is done n dusted.

[2021-03-05 21:37] ethrx commented on #199
yepppp maybe some other amazon services are still vulnerable, though unlikely.

[2021-03-05 21:38] ethrx commented on #38
@yassinek3ch more info? what are you trying to say

[2021-03-08 18:57] h3cksamrat commented on #49
Is .hosted-by-discourse.com vulnerable?

[2021-03-08 20:11] jonhadfield commented on #35
I've just taken over a domain that was previously pointing to a Front Door instance _(disclaimer: my own domain as an experiment)_.
The original setup is:
1. User creates Front Door instance and specifies a name, e.g. takeover, that results in Azure creating a new domain takeover.azurefd.net pointing to the new Front Door instance
2. User then creates a new name in their DNS, e.g. takeover.lesskno

[2021-03-08 20:19] #199 closed

[2021-03-08 20:21] #191 closed

[2021-03-10 04:10] h3cksamrat commented on #49
I found out that
*.trydiscourse.com is vulnerable
whereas,
*.hosted-by-discourse.com is not vulnerable.

So, subdomain takeover on discourse is possible in edge cases.

[2021-03-10 12:58] TableMagnet commented on #49
I can confirm that `*.hosted-by-discourse.com` is not vulnerable.
When you sign up they give you a unique CNAME and they validate that you have the correct CNAME in your DNS config.

![image](https://user-images.githubusercontent.com/55095907/110632844-fda27e00-819f-11eb-9442-a0e1c7d8bf5a.png)

[2021-03-15 14:51] harvardstudent2020 opened #202 "is this a possible candidate for a takeover?"
## Aws-hostmaster.

![ASKGITHUB](https://user-images.githubusercontent.com/69164471/111172675-07771780-85cc-11eb-9b46-3aa52b3893ca.jpg)

is this vulnerable to a takeover?

[2021-03-16 00:17] ethrx commented on #202
I remember coming across something similar during reconnaissance and found out that it was not possible. I could be wrong. Have you tried researching it yourself?

[2021-03-17 09:31] harvardstudent2020 commented on #202
alright thank you for your valuable input. no I haven't yet tried it & to me it looks like it is not possible since there is aws regional information missing which is key to taking over subdomains

[2021-03-18 16:28] empty00 commented on #36
did u find any info about it?

[2021-03-18 16:32] soareswallace commented on #36
So far, from what I could search about it, is not possibly to take over amazon's load balance.

[2021-03-18 16:33] soareswallace commented on #36
And as @pdelteil replied above:

[2021-03-18 16:37] empty00 commented on #36
okey , thanks

[2021-03-21 10:29] lnlinh31 commented on #22
@vaadataa how can i register map.fastly.net domain? Now i only get a *.global.prod.fastly.net domain

[2021-03-22 10:30] jub0bs commented on #147
A useful resource for creating a PoC: https://godiego.tech/posts/STO-AWS/

[2021-03-22 16:23] edoardottt commented on #67
Any info?

[2021-03-22 20:04] Phoenix1112 commented on #147
@jub0bs There are 10-digit numbers and letters at the end of the subdomain. can I take this?

example: example-test-eu-west-1.uzk2i9mkth.eu-west-1.elasticbeanstalk.com.

[2021-03-22 20:48] jub0bs commented on #147
@Phoenix1112 I believe so: according to the AWS CLI, the environment name is available:

[code]

You should be able to create an environment of that name and then create any app of any name under there. See https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environments-create-wizard.html

[2021-03-22 23:11] Phoenix1112 commented on #147
@jub0bs Thank you for writing the answer, but you probably got me wrong. I would like to make a statement based on the example I gave you.

example target:

example-test-eu-west-1.uzk2i9mkth.eu-west-1.elasticbeanstalk.com.

I can only try to get the beginning of the name cname in the address above >> example-test-eu-west-1

But elasticbeanstalk service adds 10-digit complex letters and numbers to

[2021-03-23 08:59] jub0bs commented on #147
@Phoenix1112 Let's continue this conversation on Twitter.

[2021-03-27 03:15] pdelteil opened #204 "Floqast vulnerable?"
## Floqast

## Proof

![Screenshot from 2021-03-27 00-12-04](https://user-images.githubusercontent.com/20244863/112708580-83f1dc00-8e91-11eb-89eb-9803236d4d13.png)

## Documentation

[2021-03-31 11:43] Phoenix1112 commented on #35
today I tried to takeover a cname address called * .azurewebsites.net. I got this cname name, but it was necessary to add a custom domain. when i wanted to do this i got a warning and asked me to add TXT records issued by azure to my dns records. Since I was never able to do this, takeover is not possible.

[2021-03-31 14:41] ethrx commented on #35
I was able to do a takeover only a week ago for azurewebsites.net. You aren't doing the takeover correctly. Make sure it is a azure "web app" (costs money to keep online) and then you can add a custom domain.

[2021-03-31 15:22] Phoenix1112 commented on #35
i know what i'm doing. i did create web app. I wanted to add a domain from custom domain options, but azure gave me a warning telling me to upgrade my plan otherwise I will not be able to add a domain. After upgrading my plan, the add domain button became active and I typed the subdomain name of the target site and clicked the check button. But while doing this, a new warning appeared and gave me

[2021-03-31 15:59] meunierf opened #205 "Why WPEngine DNS aren't vulnerable ? Are they verifying the claimers ?"

[2021-03-31 17:23] rtcms opened #206 "Subdomain takeover via Medium"
## Service name
Medium - [https://medium.com/](https://medium.com/)
## Proof
https://hackerone.com/reports/1034023

## Documentation
https://help.medium.com/hc/en-us/articles/115003053487-Setting-up-a-custom-domain-for-your-profile-or-publication

**Fingerprint** :  `Oops! We couldn’t find that page. Sorry about that`

[2021-03-31 18:12] ethrx commented on #205
Yes.

[2021-04-01 23:52] mcipekci commented on #35
Any *verify*.profilename.azureservice.tld is not vulnerable since they are just entries for verifying domain ownership. For azure edge or with new name front door previews it's cdnverify, for azurewebsites it's awverify etc.

So when you see such entry ignore them, however profilename.azureservice.tld is still vulnerable if pointing NXDOMAIN, only few edge cases for trafficmanager.net when profile

[2021-04-02 13:06] Beastvour commented on #193
Any Update ? ,. Did you take over ? ,.
This site can’t provide a secure connection
sub.example.eu uses an unsupported protocol.
ERR_SSL_VERSION_OR_CIPHER_MISMATCH

[2021-04-02 13:07] Beastvour commented on #182
Any update ? ,. I got
This site can’t provide a secure connection
sub.example.eu uses an unsupported protocol.
ERR_SSL_VERSION_OR_CIPHER_MISMATCH

[2021-04-04 03:13] pdelteil commented on #155
I just took over one Tilda domain.

This is the error message

![Screenshot from 2021-04-03 23-12-39](https://user-images.githubusercontent.com/20244863/113497436-1e759f00-94d2-11eb-9b6b-66fcfda2018f.png)

[2021-04-04 03:55] pdelteil commented on #67
It seams that you can't create a new account.

[2021-04-04 18:44] h3cksamrat commented on #37
CNAME already taken error occurs in once already created repo and attached cname, so as my understanding *.github.io is not available for takeover.
https://github.community/t/the-cname-is-already-taken/149785

[2021-04-05 01:47] noobexploiter opened #208 "xsolla sitebuilder subdomain takeover"
## Service name
xsolla sitebuilder
## Proof
NO POC yet
## Documentation
![image](https://user-images.githubusercontent.com/62383782/113528693-ec5c5e00-95f3-11eb-889c-f4d71457c276.png)

[2021-04-06 00:13] rudrapwn commented on #196
Hi,

How were you actually able to takeover? Doesn't it require the user to confirm the asset by uploading SSL certs?

Please do let me know.

Cheers!

[2021-04-06 00:18] rudrapwn commented on #208
Still, confused if you are trying to impose the service vulnerable or asking?

[2021-04-06 00:26] noobexploiter commented on #208
oop. Im trying to impowse the service vulnerable

[2021-04-12 01:06] thunderbarca opened #211 "All entries can provide services cname？？"
All entries  can provide cname？？
like AWS is amazonaws.com

[2021-04-14 11:27] mrsin15 commented on #44
Hey everyone, is Webflow subdomain takeover still possible? Thanks.
@PjMpire @Avileox

[2021-04-16 12:56] h3cksamrat opened #213 "amazon ec2 vulnerable?"
Is it still possible to takeover ec2 instances?
Eg: `ec2-12-134-1-3.compute-1.amazonaws.com`

[2021-04-19 07:10] 0xElmalky commented on #94
is it case vulnerable ?

[2021-04-26 22:56] Nisso514 commented on #29
Come on guys, its still possible lol Juste think out of the box ;)

![image](https://user-images.githubusercontent.com/74475819/116161018-03f1a880-a6c1-11eb-9ad8-8c8170283ad4.png)

[2021-04-29 06:37] pdelteil commented on #24
I can confirm it's possible still to take over Pantheon domains.

Using a virtual credit card I managed to bypass the payment of 50 dollars.

[2021-04-29 06:55] pdelteil opened #214 "Freshdesk"
## Freshdesk

## Proof

**Detection**
![Screenshot from 2021-04-29 02-50-25](https://user-images.githubusercontent.com/20244863/116512465-15d87480-a896-11eb-8db6-b4bb4a55465f.png)

**Not vulnerable**

![Screenshot from 2021-04-29 02-54-31](https://user-images.githubusercontent.com/20244863/116512583-44564f80-a896-11eb-90c4-f6022479c436.png)

[2021-05-03 02:23] 0xElmalky commented on #11
Hello ,
I just test 3 subdomains with 404 Error Via Unbounce .
i noticed that the Subdomain With CName Record Like this
[code]
Is 100% Not Vulnerable And You Can't Claim it .

But if the Cname Record Was Like this :
[code]
it is 100% Vulnerable For Takeover And Congrats about the bounty :100:

[2021-05-04 11:12] nightwatchcyber opened #217 "GitHub pages no longer vulnerable"
See:
https://docs.github.com/articles/troubleshooting-custom-domains#cname-errors

You get an error like:

```The CNAME `xxxxxx` is already taken. Check out https://docs.github.com/articles/troubleshooting-custom-domains#cname-errors for more information.```

[2021-05-07 03:29] pdelteil commented on #155
I found one with another error message

"Please renew your subscription". In this case is not possible to take over the subdomain.

![Screenshot from 2021-05-06 23-26-58](https://user-images.githubusercontent.com/20244863/117393762-cfe96500-aec2-11eb-8c7c-5d1d8d111673.png)

[2021-05-07 04:33] pdelteil commented on #11
Are you sure ?

Found a case just like you said and this is what I got

![Screenshot from 2021-05-07 00-31-12](https://user-images.githubusercontent.com/20244863/117398164-c6182f80-aecb-11eb-9afd-4ae47e14bd5b.png)

[2021-05-07 04:47] pdelteil commented on #67
I've tried many times to request a demo in order to create an account but no success in the last 6 months.

I think it should be declared 'Not Vulnerable'

[2021-05-07 20:55] IbrahimGithub commented on #71
https://www.youtube.com/watch?v=eph0PaccRP0

[2021-05-12 12:28] 0xcrypto commented on #67
Completely manual process, should be Not Vulnerable. @knc331 I think all you did was signed in with Google. You won't be able to do anything with that account aside from logout.

[2021-05-14 07:49] PRAZPC commented on #11
![Screenshot_2021-05-13_10-32-16_LI](https://user-images.githubusercontent.com/65542395/118239126-19384680-b4b9-11eb-82e8-2d767890f3e9.jpg)

do you think this subdomain take over is possible i dont want to register my credit card in unbounce

[2021-05-14 07:52] PRAZPC commented on #11
![Screenshot_2021-05-13_10-32-16_LI (2)](https://user-images.githubusercontent.com/65542395/118239444-851aaf00-b4b9-11eb-9e47-f4055648521f.jpg)

by any  chance it is possible to take over this subdomain

[2021-05-14 10:01] 0xElmalky commented on #11
No i think it 's not possible to claim it .

[2021-05-14 19:30] pdelteil commented on #11
Everytime you find an long string identifier, chances you can take the
domain are very low.

On Fri, 14 May 2021, 06:01 0xElmalky, ***@***.***> wrote:

[2021-05-16 01:21] pdelteil commented on #35
An interesting case I'm not use is possible to exploit is domains pointing to xx.usgovcloudapp.net

[2021-05-16 01:26] mcipekci commented on #35
@pdelteil when you see "gov" as a part of service, it's not possible to normal user to register these services.

You must be either US government employee or contractor to gain ability to create and use accounts and services from provider.

So none of US government employees or contractors gonna abuse it or they will face legal issues and lose their jobs.

These stuff considered as safe area for t

[2021-05-16 01:47] pdelteil commented on #35
Hello, thanks for your opinion.  I know what gov means. Like I said I don't know if it's possible yet.

[2021-05-16 01:48] mcipekci commented on #35
Hello, I didn't want to sound you don't know it. I was just making it clear it's not possible and why it's :)

[2021-05-16 16:05] PRAZPC commented on #11
![Screenshot_2021-05-16_16-01-42_LI](https://user-images.githubusercontent.com/65542395/118403970-abdf0e00-b690-11eb-917e-ec6c92e53bc3.jpg)
is this takeover possible

[2021-05-17 16:00] PRAZPC commented on #11
![Uploading Screenshot_2021-05-16_16-01-42_LI.jpg…]()
any one is takeover possible here

[2021-05-17 16:00] PRAZPC commented on #11
![Screenshot_2021-05-16_16-01-42_LI](https://user-images.githubusercontent.com/65542395/118519867-38ed9a00-b759-11eb-828f-6423596658a8.jpg)
is takeover possible here

[2021-05-17 16:06] marcelo321 commented on #196
@hussain0x3c, does it require a paid suscription?

[2021-05-18 13:56] monikasharma47 commented on #37
anything.github.io   like this github account can we takeover or not

[2021-05-18 13:56] monikasharma47 commented on #37
anything.github.io   like this github account can we takeover or not  ?

[2021-05-23 13:56] GDATTACKER-RESEARCHER commented on #36
in this case i try to create bucket by deleteing at recreating it ofcourse it take time but work it.

[2021-05-25 13:19] tarunkant commented on #35
Did you get solution for this?

[2021-05-30 16:48] yashanand commented on #198
Hey!! I just got the same scenario and this is still a takeover, you have to add a CNAME file in the same HTML directory to the target subdomains.
Resources:- https://surge.sh/help/adding-a-custom-domain

[2021-05-30 17:30] mzfr commented on #198
@yashanand Can you please explain step by step? Like what all you did to takeover the subdomain.

[2021-06-02 14:49] Joker-cyber369 commented on #45
I have a message like
404 PAGE NOT FOUND
on a website how can I take over that subdomain

[2021-06-03 03:31] pdelteil commented on #22
After testing many domains with the error page. I haven't found a way to take over the subdomains.

I think this has been fixed and not properly reported here.

[2021-06-04 12:42] nanwinata commented on #217
The cname you found already taken, thats why you got the red one message.

[2021-06-04 20:50] pdelteil commented on #117
I confirm is not possible to take over the subdomains.

[2021-06-05 15:56] yashanand commented on #198
Hey I follow the same steps which are given in the official website,if you have any doubt pin me on Twitter @yashanand155

[2021-06-11 04:10] Shoaib18 commented on #35
hi guys, I found that one subdomain whose CNAME is  pointing to  subdomain.windows.net . This can be vulnrable to subdomain takever?

[2021-06-12 07:15] isira-adithya commented on #193
I have the same question? Anyone knowss how to do this?

[2021-06-15 22:42] Phoenix1112 commented on #147
@jub0bs I got takeover an aws elasticbeanstalk address. i will upload poc file to it but i couldn't. After aws takeover elasticbeanstalk, an s3 bucket with similar name is created. I uploaded it into this bucket, but when I go to the url address, I encounter a 404 page. Is it correct to upload the file from here or do we need to upload it from somewhere else? I installed php application while crea

[2021-06-17 17:21] indianajson commented on #194
I have performed takeovers in the past with this exact scenario. Unless AWS has updated that system you can attempt to claim an ElasticBeanstalk instance under the name of "6zycefn8gp" in the `us-west-2` zone and then you will be able to control "example-env.6zycefn8gp.us-west-2.elasticbeanstalk.com".

[2021-06-17 17:26] indianajson commented on #193
Subdomains pointing to `sub.example.com.cdn.cloudflare.com` utilize a CNAME Zone on Cloudflare which requires a Business or Enterprise account and requires TXT record verification at the authoritative DNS per this article titled [Understanding a CNAME Setup](https://support.cloudflare.com/hc/en-us/articles/360020348832-Understanding-a-CNAME-Setup). Thus, **takeovers are impossible.**

[2021-06-17 17:27] isira-adithya commented on #193
Oh thanks a lot for the clarification. 👌

[2021-06-22 10:41] sekharlee commented on #71
Hello Guys,
Is there still freshdesk cname  is vulnerable to subdomain takeover.

[2021-06-24 11:15] smaranchand opened #220 "Flywheel Service is vulnerable to subdomain takeover issue."
## Service Name
Flywheel PaaS is vulnerable to subdomain takeover issue where an attacker can claim the subdomain and takeover the entire site. I discovered this issue during  Vulnerability Analysis and Penetration Testing (VAPT) for one of our clients with my team member @corrupted-brain

# Proof
To point a subdomain to the flywheel application instance, an A record should point to 151.101.2.159;

[2021-06-27 21:21] vsanjay commented on #67
its not vulnerable :(

[2021-06-28 05:00] hakluke commented on #206
Don't think this is possible anymore. Just found a subdomain displaying that message and received this error when attempting to take it over.

![image](https://user-images.githubusercontent.com/13975395/123582498-42baf080-d821-11eb-8738-e96b72b93e59.png)

In the hackerone link provided above, the reporter socially engineered the Medium team to make this change - now that Medium has an automated sy

[2021-06-29 16:18] Kabooya commented on #11
can you bypass Unbounce's control by doing an NSLOOKUP and using the alias associated with the domain that Unbounce has blocked?

[2021-06-30 18:30] pahennig commented on #194
At this moment, Elastic beanstalk does not allow you to add special characters like `.` - And notice that this will happen if we create an environment without setting a name on it:
* i.e., ->  AWS will get your application's name and fetch it with a few random characters separated by a dot in order to generate an unique FQDN such as  `myapplication.6zycefn8gp.<region>.elasticbeanstalk.com`. Even t

[2021-06-30 18:33] indianajson commented on #194
Taking over 6zycefn8gp.<region>.elasticbeanstalk.com, will give you access to any.6zycefn8gp.<region>.elasticbeanstalk.com (assuming the first is available here because you can configure the subdomain in your Apache/PHP configuration. You don't perform the takeover by adding the full name with the period.

[2021-06-30 18:47] Phoenix1112 commented on #194
I don't speak English very well and if I'm not reading wrong, the answer to the question we're looking for is hidden here.

https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.CNAMESwap.html

![Alt Text](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/images/aeb-env-swap-url.png)

[2021-06-30 18:58] indianajson commented on #194
The CNAME record AWS adds to their system is wildcarded if I remember correctly. So you just need to setup the configuration within the ElasticBeanstalk instance I believe. I'm away from my desktop so I can't go check the steps at the moment.

[2021-07-02 04:41] 0xspade opened #222 "[Help] Unknown Services"
Is there anyone came across with these subdomains and successfully takeover them?

*.convox.cloud
*.convertlanguage.com
*.connors.com

[2021-07-03 13:47] melbadry9 commented on #213
https://blog.melbadry9.xyz/dangling-dns/aws/ddns-ec2-current-state

[2021-07-03 19:42] riteshgohil opened #223 "Service name https://vercel.com/ want to add in this page || Not Vulnerable"
## Service name
https://vercel.com/

## Proof
1. I got one of the subdomain with 404 page and got to know the domain is registered on https://vercel.com/
![image](https://user-images.githubusercontent.com/26342194/124365117-dc2d3c80-dc3d-11eb-84d1-6e6f3c4b53df.png)
2. I got this result subdomain to take over from Nuclei Result.
3. Then, I have registered and login into https://vercel.com/ and try

[2021-07-04 11:17] monizb commented on #40
Confirming this in 2021, was able to take over 2 different subdomains pointed to Netlify just yesterday.

[2021-07-08 01:35] pdelteil commented on #220
I found a potential takeover using the template you created. It's the same but not pointing to a Flywheel IP but a Linode one.

You can avoid paying by creating demo site and adding the domain there.

[2021-07-09 20:00] sumgr0 commented on #220
Hey @pdelteil,

Were you able to claim the subdomain on flywheel? I've come across a similar situation of the A record for the subdomain using a Linode's IP.

Any pointers shall be really helpful.

Thanks

[2021-07-10 05:32] pdelteil commented on #220
Hello @sumgr0,

I couldn't. @smaranchand  tried to help me but with no success.

[2021-07-10 05:33] sumgr0 commented on #220
Oh okay... seems like it might work only when the subdomain is pointing to the Flywheel IPs only...

[2021-07-10 05:44] pdelteil commented on #220
Yes, I still don't understand why they are pointing to a Linode IP address. But, I realized the certificate of the server mentions Flywheel, so, weird.

[2021-07-11 06:24] pdelteil commented on #222
Any fingerprint data to find vulnerable subdomains?

[2021-07-12 09:54] sasky621 commented on #38
I actually was able to takeover a subdomain, and it actually works on heroku but to be able to add a custom domain or subdomain you need to verify your account first by a card(e.g., visa, master card, etc), it didn't take any money from me, i think there is a free amount per month if you exceeded it you have to pay, i think you can use the free plan until you submit your POC then  you can remove y

[2021-07-13 13:58] rtcms commented on #206
Hey @hakluke ,
Thanks for pointing this out

[2021-07-13 21:49] rockstar5723 commented on #67
Without any proof nobody cannot say it is not vulnerable as you dont know the mindset of black hat hackers,they can do it because  security is a myth and if was not vulnerable this issue might have declared non-vulnerable like others but it was not and it was declared as EDGE CASE.

[2021-07-14 04:56] 0xcrypto commented on #67
Lemme rephrase, Completely manual verification process.

[2021-07-14 06:12] 0xcrypto commented on #223
Maybe an edge case?

[2021-07-14 06:51] Captain0X commented on #22
![image](https://user-images.githubusercontent.com/35555262/125576232-9ba6d5e7-74d0-4332-b630-44f876eaa21f.png)
![image](https://user-images.githubusercontent.com/35555262/125576306-f64b0585-aff4-4f3d-a8a6-ad5343545309.png)
![image](https://user-images.githubusercontent.com/35555262/125576354-f8a2c05d-96f0-485d-826c-84e086c2ff31.png)
who knows why i can't takeover this subdomain , is very sad~

[2021-07-22 21:28] WRAGG5 commented on #166
this error page doesnt always mean its vulnerable
![Capture](https://user-images.githubusercontent.com/20388067/126711826-5aa104e9-4cfc-43d5-873f-adf9b655b015.PNG)

anyone can select default error page after adding this to domain

[2021-07-22 21:32] knowthetech commented on #166
@WRAGG5 sorry sir but the page you are showing is alot different  from the poc i showed and secondly  manually checking will define better whether it can be or not i am able to do so the issue has been raised

[2021-07-23 08:10] Captain0X commented on #44
https://university.webflow.com/lesson/connect-a-custom-domain  everybody,can see this vdio~

[2021-07-23 14:51] YASSINEKA2001156 commented on #40
up

[2021-07-26 18:24] harishsg99 commented on #35
Hi , guys I found a subdomain .t-msedge.net.
Is it vulnerable to subdomain takeover ?

[2021-07-28 04:19] pdelteil commented on #40
Can you share details?  What's the CNAME ?

[2021-07-28 07:34] wowits commented on #40
Nah, it cannot be possible for subdomain until its root domain is vulnerable a new setting is implemented as fastly if this feature implemented by every1 then wht??

[2021-07-30 08:41] lucifermaddy commented on #223
ok

[2021-08-03 02:10] TheJulfikarpoc commented on #67
How did you sign up?

[2021-08-03 16:20] alph4byt3 opened #225 "Which services require payment"
I think it would be good to include services that requires a payment to prove the takeover e.g Pantheon

[2021-08-03 18:57] DreyAnd commented on #35
Are *.cloudapp.net takeovers still possible in 2021? I heard the old azure xplat cli (https://github.com/Azure/azure-xplat-cli) can be used to create classic VMs but i'm still forced to do it using the Resource Manager instead: ![Image](https://i.imgur.com/Ir4lJ52.png)

[2021-08-04 12:33] alph4byt3 opened #226 "Thinkific takeover"
Anyone tried to do a Thinkific takeover? This service again requires subscription to a paid plan to use custom domains.

[2021-08-05 02:31] pdelteil commented on #24
It might not be vulnerable anymore.

[code]

![Screenshot from 2021-08-04 22-29-34](https://user-images.githubusercontent.com/20244863/128281589-9d063573-a2fc-4e7b-bf5b-34ca8d827bcb.png)

[2021-08-05 16:32] pdelteil commented on #205
Can anybody provide more detailed information ?

[2021-08-07 14:01] umar98 opened #227 "Github Subdomain Takeover not possible!"
Site: sub.example.com
Cname pointing to xyz.github.io (which also shows a 404 page).

Created a repo with xyz, added the custom domain name to sub.example.com

Error: The CNAME `sub.example.com` is already taken. Check out https://docs.github.com/articles/troubleshooting-custom-domains#cname-errors for more information.

[2021-08-09 17:29] wicked-wick commented on #46
I did the same as explained above ? will this be accepted?

[2021-08-09 18:19] EdOverflow commented on #227
Closed in favour of #217.

[2021-08-09 18:19] #227 closed

[2021-08-11 08:20] melbadry9 commented on #213
@h3cksamrat, @EdOverflow

Yes, this is a vulnerable service, I was able to takeover a punch of IPs belong to bug bounty programs last month.

[2021-08-12 02:54] dhakalananda commented on #38
It seems CNAME of *.herokuapp.com cannot be taken over anymore. It gives error saying that it is already taken.

[2021-08-13 18:57] alt-sysrq-o commented on #145
It looks like the fingerprint for Agile CRM has changed to "No landing page found."

[2021-08-16 15:22] melbadry9 opened #228 "Announcekit vulnerable to subdomain takeover"
## Service name
Announcekit  - https://announcekit.app

## CNAME

`cname.announcekit.app`

## IPs

[code]

## Fingerprint

`Error 404 - AnnounceKit`

## Proof
- Vulnerable Error Message

![Screenshot_1](https://user-images.githubusercontent.com/43918685/129586653-a7bdbca4-756d-4c58-b103-582e19ebdfee.png)

## Takeover Steps

1. Go to `https://announcekit.app/dashboard/settings/feeds`
2. Add subdoma

[2021-08-16 17:50] viruk1 opened #229 "wolt.com"
## Service name

## Proof

## Documentation

[2021-08-19 00:17] cypressThatKid opened #230 "Question | Is LimeLight vulnerable?"
## Service name

LimeLight CDN

## Information

Hello everyone!

I was wondering if anyone had knowledge about the Limelight CDN domains and their possible vulnerabilities to subdomain takeover.

They look like this: <name>.vo.llnwd.net
LimeLight CDN: https://www.limelight.com/

Thanks!

[2021-08-20 02:14] Oumeir commented on #38
Heroku is not vulnerable any more :(
![image](https://user-images.githubusercontent.com/39211458/130168319-24e2403f-2d4c-4110-b948-6c9a3650c227.png)

https://devcenter.heroku.com/articles/error-codes#h31-misdirected-request

H31 - Misdirected Request
The client sent a request to the wrong endpoint. This could be because the client used stale DNS information or is accessing the app through a CDN th